---
title: Day Twenty Two
date: 2016-06-03
locations:
- title: Kuang Si Falls
  latlng:
  - 19.7488795
  - 101.9925914
---

%p Luang Prabang has one "main" attraction, the Kuang Si Falls. We booked a TukTuk to take us there for a hike to the top and to cool off in the pools at the bottom.

= photo(:src => cdn_url('asia2016/day-twenty-two/_DSC0183.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-twenty-two/_DSC0199.jpg'), :ratio => 1.506, :class => :full)
.columns
  = photo(:src => cdn_url('asia2016/day-twenty-two/_DSC0202.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-twenty-two/_DSC0206.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-twenty-two/_DSC0225.jpg'), :ratio => 1.506)

.columns
  = photo(:src => cdn_url('asia2016/day-twenty-two/_DSC0191.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-twenty-two/_DSC0215.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-twenty-two/_DSC0228.jpg'), :ratio => 1.506)


= photo(:src => cdn_url('asia2016/day-twenty-two/_DSC0276.jpg'), :ratio => 1.506, :class => :full)
= photo(:src => cdn_url('asia2016/day-twenty-two/_DSC0253.jpg'), :ratio => 1.506)

%p After hiking up to the pools we wanted to see the top of the fall. This meant climbing a 30+ storey path that was very slippery.
= photo(:src => cdn_url('asia2016/day-twenty-two/_DSC0264.jpg'), :ratio => 1.506, :class => :full)
%p Of course at the top we found out there was a set of stairs on the other side.
.columns
  = photo(:src => cdn_url('asia2016/day-twenty-two/_DSC0283.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-twenty-two/_DSC0288.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-twenty-two/_DSC0297.jpg'), :ratio => 1.506)
.columns
  = photo(:src => cdn_url('asia2016/day-twenty-two/_DSC0307.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-twenty-two/_DSC0312.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-twenty-two/_DSC0320.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-twenty-two/_DSC0337.jpg'), :ratio => 1.506)
%p For a few dollars this man took us through the jungle on a raft to the source of the river.
= photo(:src => cdn_url('asia2016/day-twenty-two/_DSC0342.jpg'), :ratio => 1.506)
.columns
  = photo(:src => cdn_url('asia2016/day-twenty-two/_DSC0345.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-twenty-two/_DSC0348.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-twenty-two/_DSC0361.jpg'), :ratio => 1.506)
.columns
  = photo(:src => cdn_url('asia2016/day-twenty-two/_DSC0376.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-twenty-two/_DSC0384.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-twenty-two/_DSC0387.jpg'), :ratio => 1.506)
%p After a nice and relaxing dip in the pools we headed back to the city in the back of our TukTuk.
= photo(:src => cdn_url('asia2016/day-twenty-two/DSC04730.jpg'), :ratio => 1.5)
