---
title: "Day Eleven"
subtitle:
date: 2015-05-15 12:54:36 UTC
locations:
  -
    title: 'Tao Dan Park'
    latlng: [10.7744581, 106.6922155]
  -
    title: 'War Remnants Museum'
    latlng: [10.7794222, 106.6920733]
  -
    title: 'The Independence Palace'
    latlng: [10.777021, 106.6954139]
  -
    title: 'Notre Dame Cathedral'
    latlng: [10.7797858, 106.6989938]
  -
    title: 'Saigon Central Post Office'
    latlng: [10.7794869, 106.6999866]
  -
    title: 'Ben Thanh Market'
    latlng: [10.7724294, 106.6978498]

---
%p The day started hot and noisy, hunderds of scooters were flowing like water through the streets. The longest game of frogger had begun. Eventually we made it to Tao Dan Park, were we could relax for a bit before the War Remnants Museum opened it's doors again after the luch break.

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-eleven/image-13.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-eleven/image-14.jpg', :width => '1100', :height => '440')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-eleven/image-15.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-eleven/image-16.jpg', :width => '1100', :height => '733')

%p The photo's here are of the vehicles outside, but the real value of this museum is the hundreds of photo's inside. They are taken by press of both sides of the conflict and show the horrors that were committed in the Vietnam war.

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-eleven/image-17.jpg', :width => '733', :height => '1100')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-eleven/image-18.jpg', :width => '1100', :height => '733')

%p I like how the US army tends to label _everything_.
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-eleven/image-20.jpg', :width => '1100', :height => '733')

%h2 The Independence Palace
%p After spending a couple of hours going to the four floors of photos we headed to the Independence Palace. The work place of the president of South Vietnam during the war.

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-eleven/image-24.jpg', :width => '1100', :height => '733')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-eleven/image-2.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-eleven/image-3.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-eleven/image-4.jpg', :width => '1100', :height => '692')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-eleven/image-6.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-eleven/image-5.jpg', :width => '1100', :height => '688')

%p Below the Palace is a bunker, where the president continued to lead during the war.

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-eleven/image-21.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-eleven/image-23.jpg', :width => '1100', :height => '785')

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-eleven/image-22.jpg', :width => '1100', :height => '733')

%h2 The Notre dame &amp; Post Office
%p No not that one, this is the Vietnamese one. The Post office and church are right next to each other and quite the tourist hotspot. Between the hordes of selfie sticks I managed to snap a few shots.

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-eleven/image-25.jpg', :width => '1100', :height => '733', :class => 'full')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-eleven/image-26.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-eleven/image-27.jpg', :width => '1100', :height => '733')

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-eleven/image-7.jpg', :width => '1100', :height => '730')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-eleven/image-8.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-eleven/image-12.jpg', :width => '1100', :height => '733')

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-eleven/image-9.jpg', :width => '1100', :height => '730')

%h2 Ben Thanh Market

%p Time for a quick ice coffee to cool off. We headed back to our hotel in a roundabout way to see the Saigon River and pass the Ben Thanh Market

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-eleven/image-28.jpg', :width => '1100', :height => '832')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-eleven/image-29.jpg', :width => '1100', :height => '709')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-eleven/image-30.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-eleven/image-31.jpg', :width => '1100', :height => '733')

%p After taking about 5 minutes to cross the 10-lane roundabout full of traffic, we were just in time to see the closing of the last few stalls in the Ben Thanh Market.

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-eleven/image-32.jpg', :width => '1100', :height => '733')

%p We hung around for a bit before we attempted our next crossing back to our hotel. This stream of scooters just never ends.

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-eleven/image-33.jpg', :width => '1100', :height => '733')
