---
title: Day twenty nine
date: 2017-06-04
subtitle: Wandering around Tokyo
locations:
- title: Ueno Park
  latlng:
  - 35.7140706
  - 139.7718852
- title: Yakana Ginza
  latlng:
    - 35.7254916,16
    - 139.7645872
- title: SensÅ-ji
  latlng:
    - 35.7143691
    - 139.7945865
- title: Akihabara
  latlng:
    - 35.6967745
    - 139.7690233

header: DSC06232.jpg
hotel:
  name: the b tokyo akasaka-mitsuke
  address: 107-0052 Tokyo Prefecture, Minato-ku, Akasaka 3-21-7 , Japan
  image: https://t-ec.bstatic.com/images/hotel/max500/963/96323583.jpg
  url: https://www.booking.com/hotel/jp/the-b-akasaka-mitsuke.html?aid=939121
  description: Just a 2-minute walk from Akasaka-Mitsuke Subway Station, the b tokyo
    akasaka-mitsuke provides cosy rooms with a flat-screen TV and free high-speed
    WiFi.
  rating: 8.3

---
%p With most of the tourist must-see locations out of the way we decided to just wander around the city. We started out at Ueno park.
= photo(:src => cdn_url('asia2017/day-twenty-nine/DSC06251.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2017/day-twenty-nine/DSC06235.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-twenty-nine/DSC06250.jpg'), :ratio => 1.5)

= photo(:src => cdn_url('asia2017/day-twenty-nine/DSC06249.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-twenty-nine/DSC06259.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-twenty-nine/DSC06260.jpg'), :ratio => 1.5)

%p From the park we headed north to Yakana Ginza, a shopping district with small shops where lots of locals hang around on Sunday afternoon.
= photo(:src => cdn_url('asia2017/day-twenty-nine/_DSC0144.jpg'), :ratio => 1.506)
.columns
  = photo(:src => cdn_url('asia2017/day-twenty-nine/DSC06266.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-twenty-nine/DSC06269.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-twenty-nine/DSC06270.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-twenty-nine/_DSC0148.jpg'), :ratio => 1.506)

.columns
  = photo(:src => cdn_url('asia2017/day-twenty-nine/_DSC0147.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-twenty-nine/_DSC0159.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('asia2017/day-twenty-nine/_DSC0153.jpg'), :ratio => 1.506)
.columns
  = photo(:src => cdn_url('asia2017/day-twenty-nine/_DSC0164.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-twenty-nine/_DSC0170.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('asia2017/day-twenty-nine/_DSC0163.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-twenty-nine/_DSC0165.jpg'), :ratio => 1.506)
%p From Yakana Ginza we turned right, to the river. Of course you stumble upon a temple/shrine every once in a while.
= photo(:src => cdn_url('asia2017/day-twenty-nine/_DSC0169.jpg'), :ratio => 1.471, :class => 'full')
= photo(:src => cdn_url('asia2017/day-twenty-nine/_DSC0168.jpg'), :ratio => 1.506)

%p The highway waves through the city like a snake, narrowly avoiding the buildings.

= photo(:src => cdn_url('asia2017/day-twenty-nine/_DSC0173.jpg'), :ratio => 1.506)
%p The contrast between old and new keeps fascinating us.
= photo(:src => cdn_url('asia2017/day-twenty-nine/_DSC0188.jpg'), :ratio => 1.506)

.columns
  = photo(:src => cdn_url('asia2017/day-twenty-nine/_DSC0177.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-twenty-nine/_DSC0181.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-twenty-nine/DSC06232.jpg'), :ratio => 1.5)

%p This building was one of the most narrow buildings we saw, about two meters across and quite long. It holds four apartments though...
.columns
  = photo(:src => cdn_url('asia2017/day-twenty-nine/_DSC0186.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-twenty-nine/_DSC0187.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-twenty-nine/_DSC0192.jpg'), :ratio => 1.506)

.columns
  = photo(:src => cdn_url('asia2017/day-twenty-nine/_DSC0190.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-twenty-nine/_DSC0235.jpg'), :ratio => 1.506)

%p After some delicious <a href="https://en.wikipedia.org/wiki/Okonomiyaki" target="_blank">Okonomiyaki</a> we came across a temple we visited the <a href="http://matsimitsu.com/travel/asia2014/day-eight/" target="_blank">first time in Tokyo</a>, but since we were there we walked through the complex, since it was a Sunday it was quite busy.
= photo(:src => cdn_url('asia2017/day-twenty-nine/_DSC0201.jpg'), :ratio => 1.506, :class => 'full')
= photo(:src => cdn_url('asia2017/day-twenty-nine/DSC06271.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-twenty-nine/DSC06272.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-twenty-nine/_DSC0196.jpg'), :ratio => 1.506)
.columns
  = photo(:src => cdn_url('asia2017/day-twenty-nine/_DSC0212.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-twenty-nine/_DSC0214.jpg'), :ratio => 1.506)

%p Eventually we made our way to the river, we noticed food trucks on the other side, so we decided to explore. In the end they didn't sell anything we liked (still full from the Okonomiyaki), so we just sat down and enjoyed the view for a while.
= photo(:src => cdn_url('asia2017/day-twenty-nine/_DSC0221.jpg'), :ratio => 1.506)

%p After our break we headed to Akihabara, a place I've seen quite a few times already but it's always nice to visit in the evening.
= photo(:src => cdn_url('asia2017/day-twenty-nine/DSC06285.jpg'), :ratio => 1.5)

%p We heard shouting, clapping and music in the distance. It turned out to be a celebration of sorts.
= photo(:src => cdn_url('asia2017/day-twenty-nine/DSC06286.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-twenty-nine/_DSC0242.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-twenty-nine/_DSC0237.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-twenty-nine/_DSC0241.jpg'), :ratio => 1.649)
%p Excellent parking skills are a must in Tokyo.
= photo(:src => cdn_url('asia2017/day-twenty-nine/_DSC0250.jpg'), :ratio => 1.506)

%p By dusk we reached Akihabara.
= photo(:src => cdn_url('asia2017/day-twenty-nine/DSC06293.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-twenty-nine/DSC06297.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-twenty-nine/DSC06300.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-twenty-nine/DSC06317.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2017/day-twenty-nine/DSC06312.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-twenty-nine/DSC06313.jpg'), :ratio => 1.5)

%p Afer visiting shops and arcades, we got some noodles and called it a day.
= photo(:src => cdn_url('asia2017/day-twenty-nine/DSC06320.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-twenty-nine/DSC06321.jpg'), :ratio => 1.5)
