---
title: "Jersey City & New York"
date: 2012-06-04
locations:
  -
    title: Jersey City and New York
    latlng: [39.296781, -75.1765748]
---

%p
  At around 15:20 we arrived at Newark Liberty International Airport and after the always friendly welcome by US immigration officers we finally arrived at the USA! After dinner it was time to sleep off the Jetlag.

= photo(:src => '//cdn.matsimitsu.com/usa2012/jersey-city-and-new-york/IMG_0794.JPG')

%p
  The second day we spent wandering around in New York City.

= photo(:src => '//cdn.matsimitsu.com/usa2012/jersey-city-and-new-york/IMG_0799.JPG')
= photo(:src => '//cdn.matsimitsu.com/usa2012/jersey-city-and-new-york/IMG_0801.JPG')
= photo(:src => '//cdn.matsimitsu.com/usa2012/jersey-city-and-new-york/IMG_0808.JPG')
= photo(:src => '//cdn.matsimitsu.com/usa2012/jersey-city-and-new-york/IMG_0836.JPG')

%p
  On the third day it was time for America's number one sport, baseball!
  The New York Yankees won with 4 to 1 agains the Tampa Bay Rays.

= photo(:src => '//cdn.matsimitsu.com/usa2012/jersey-city-and-new-york/IMG_0841.JPG')
= photo(:src => '//cdn.matsimitsu.com/usa2012/jersey-city-and-new-york/IMG_0843.JPG')
