---
title: Zion National Park
date: 2011-07-12
locations:
- title: Zion National Park
  latlng:
  - 37.2982022
  - -113.0263005

---
%p
  After Bryce Canyon we still had a few hours left so we drove to Zion National Park.

= photo(:src => cdn_url('usa2011/zion-national-park/_DSC0570.jpg'), :ratio => 1.506)
.columns
  = photo(:src => cdn_url('usa2011/zion-national-park/_DSC0574.jpg'), :ratio => 0.664)
  = photo(:src => cdn_url('usa2011/zion-national-park/_DSC0572.jpg'), :ratio => 0.664)
  = photo(:src => cdn_url('usa2011/zion-national-park/_DSC0577.jpg'), :ratio => 0.664)
= photo(:src => cdn_url('usa2011/zion-national-park/_DSC0561.jpg'), :ratio => 0.664)

%p The next day we headed for Las Vegas, but you know what they say... What happens in Vegas, stays in Vegas, so you'll have to make due with this picture of Lake Mead.
= photo(:src => cdn_url('usa2011/zion-national-park/_DSC0600.jpg'), :ratio => 1.506)

