---
title: "On the road"
date: 2012/06/10
locations:
  -
    title: On the road
    latlng: [39.5500507, -105.7820674]
---

After getting our Rental car at Newark Airport it was time to cross the country on the Interstate 80 to Denver, Colorado!

= photo(:src => '//cdn.matsimitsu.com/usa2012/on-the-road/image-1.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2012/on-the-road/image-2.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2012/on-the-road/image-3.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2012/on-the-road/image-4.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2012/on-the-road/image-5.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2012/on-the-road/image-6.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2012/on-the-road/image-7.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2012/on-the-road/image-8.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2012/on-the-road/image-9.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2012/on-the-road/image-10.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2012/on-the-road/image-11.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2012/on-the-road/image-12.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2012/on-the-road/image-13.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2012/on-the-road/image-14.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2012/on-the-road/image-15.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2012/on-the-road/image-16.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2012/on-the-road/image-17.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2012/on-the-road/image-19.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2012/on-the-road/image-20.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2012/on-the-road/image-21.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2012/on-the-road/image-22.jpg', :width => '1100', :height => '731')
