---
title: Day five
date: 2017-05-09
locations:
- title: Yick Fat Building
  latlng:
  - 22.2841077
  - 114.212626
- title: Man Mo Temple
  latlng:
  - 22.28395
  - 114.1501902
- title: Star Ferry
  latlng: [22.293763, 114.168748]

header: _DSC0408.jpg
hotel:
  name: City Garden Hotel
  address: 9 City Garden Road, North Point, Hong Kong, Hong Kong
  image: https://t-ec.bstatic.com/images/hotel/max500/431/43197284.jpg
  url: https://www.booking.com/hotel/hk/city-garden.html?aid=939121
  description: City Garden Hotel boasts an award-winning restaurant and an outdoor
    heated pool, within easy access from several attractions and transportation links.
  rating: 7.9

---

%p Hong Kong is famous for it's highrise buildings and the Yick Fat building is the most famous of all, from inside the courtyard you're surrounded by the building towering above you.
= photo(:src => cdn_url('asia2017/day-five/_DSC0423.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-five/_DSC0403.jpg'), :ratio => 1.506, :class => 'full')
= photo(:src => cdn_url('asia2017/day-five/_DSC0408.jpg'), :ratio => 1.506)

%p Something we skipped on our first trip is the Man Mo temple, where they burn spirals of incence, filling the temple with smoke.
= photo(:src => cdn_url('asia2017/day-five/DSC05194.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-five/DSC05200.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-five/DSC05202.jpg'), :ratio => 1.5)

%p Another thing we hadn't done was take the ferry across the bay, so we set that right.
= photo(:src => cdn_url('asia2017/day-five/_DSC0433.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-five/DSC05209.jpg'), :ratio => 1.5, :class => 'full')

.columns
  = photo(:src => cdn_url('asia2017/day-five/_DSC0437.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-five/_DSC0438.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-five/_DSC0447.jpg'), :ratio => 1.506)
%p The rest of the day was spent at the hotel pool, it's a holiday after all.
= photo(:src => cdn_url('asia2017/day-five/DSC05211-3.jpg'), :ratio => 1.5, :class => 'full')
