---
title: Day thirty eight
date: 2017-06-13
locations:
- title: 'Kobe tower'
  latlng:
  - 34.68263
  - 135.1845055
- title: 'Hanshin Koshien Stadium'
  latlng:
  - 34.7208085
  - 135.3562677

header: DSC05826.jpg
hotel:
  name: Hotel Sakura Suite Osaka Juso
  address: 532-0025 Osaka Prefectuur, Osaka, Yodogawa-ku Shinkitano 1-7 , Japan
  image: https://t-ec.bstatic.com/images/hotel/max500/802/80241279.jpg
  priceRange: De prijzen voor de komende dagen beginnen vanaf € 48 per nacht (We bieden
    dezelfde prijs)
  url: https://www.booking.com/hotel/jp/sakura-suite-osaka-juso.nl.html?aid=939121
  map: https://maps.googleapis.com/maps/api/staticmap?center=34.7172853,135.4816416&markers=color:blue%7c34.7172853,135.4816416&size=1600x1200&sensor=false&zoom=15&client=gme-booking&channel=booking-frontend&signature=eCOO4D-JMBw-gRZJkEjjkRbCWfA=
  description: Hotel Sakura Suite Osaka Juso is situated in Osaka, 2.3 km from Billboard
    Live Osaka and 5 km from Osaka Castle. Guests can enjoy the on-site restaurant.
  rating: 8.5

---
%p Today we had a late start, the morning was spent booking tickets and planning our way home, as this holiday slowly nears the end. After a very nice lunch we took the train to the port city of Kobe.


.columns
  = photo(:src => cdn_url('asia2017/day-thirty-eight/DSC05715.jpg'), :ratio => 1.544)
  = photo(:src => cdn_url('asia2017/day-thirty-eight/DSC05717.jpg'), :ratio => 1.5)
%p The collapsed harbour you see below is a remnant of the January 17, 1995 Kobe earthquake.
= photo(:src => cdn_url('asia2017/day-thirty-eight/DSC05716.jpg'), :ratio => 1.5)

%p The weather was great and it was nice to stroll around the Kobe port.
= photo(:src => cdn_url('asia2017/day-thirty-eight/DSC05720.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2017/day-thirty-eight/DSC05718.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-eight/DSC05725.jpg'), :ratio => 1.512)
  = photo(:src => cdn_url('asia2017/day-thirty-eight/DSC05735.jpg'), :ratio => 0.667)

= photo(:src => cdn_url('asia2017/day-thirty-eight/DSC05721.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-eight/DSC05727.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-eight/DSC05731.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-eight/DSC05742.jpg'), :ratio => 1.5)

  = photo(:src => cdn_url('asia2017/day-thirty-eight/DSC05739.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-eight/DSC05738.jpg'), :ratio => 1.5)

%p The working men below are life-size puppets. <br /> We're not entirely sure why.
= photo(:src => cdn_url('asia2017/day-thirty-eight/DSC05743.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-eight/DSC05744.jpg'), :ratio => 1.5)
%p We still had an hour to kill so we headed to the city center to visit a temple (what else ;)) and relax in the nearby park.
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-eight/DSC05747.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-eight/DSC05749.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-eight/DSC05751.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-eight/DSC05752.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-eight/DSC05753.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-eight/DSC05759.jpg'), :ratio => 1.5)

= photo(:src => cdn_url('asia2017/day-thirty-eight/DSC05755.jpg'), :ratio => 1.5)
%p The contrast between old and new is really nice in this Japanese courthouse.
= photo(:src => cdn_url('asia2017/day-thirty-eight/DSC05762.jpg'), :ratio => 1.5)

%p The reason we had an hour to kill is we were waiting for the Hanshin Tigers vs Seibu Lions game at the Hanshin Koshien Stadium. The game was great and we enjoyed it very much. The beer and yakitori didn't hurt either :).
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-eight/DSC05768.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-eight/DSC05774.jpg'), :ratio => 1.576)
= photo(:src => cdn_url('asia2017/day-thirty-eight/DSC05776.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-eight/DSC05782.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-eight/DSC05812.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-eight/DSC05826.jpg'), :ratio => 1.5)
