---
title: Day twenty four
date: 2017-05-29
locations:
- title: Brunei - Masjid Omar Ali Saifuddien Mosk
  latlng:
  - 4.8897727
  - 114.9392882
header: DSC05984.jpg
hotel:
  name: The Capital Residence Suites
  address: Simpang 2, Lot 21027, Kg. Berangan, BS8211 Bandar Seri Begawan, Brunei
  image: https://t-ec.bstatic.com/images/hotel/max500/334/33415751.jpg
  url: https://www.booking.com/hotel/bn/the-capital-residence-suites.html?aid=939121
  description: The Capital Residence Suites is located in Bandar Seri Begawan only
    300 metres from the Royal Regalia Museum.
  rating: 8.5
---

%p Another early day as the alarm woke us at 03:00 in the morning. Just in time to check out and head to the airport. Destination of the day: Brunei.
= photo(:src => cdn_url('asia2017/day-twenty-four/DSC05973.jpg'), :ratio => 1.5)

%p After a quick nap at the hotel we set out to explore the neighbourhood. Since it was Ramadan, most of the restaurants were closed. (Brunei is in the process of implementing sharia law, that means you can't be seen eating or drinking during the day).
= photo(:src => cdn_url('asia2017/day-twenty-four/_DSC0982.jpg'), :ratio => 1.506, :class => 'full')
= photo(:src => cdn_url('asia2017/day-twenty-four/_DSC0985.jpg'), :ratio => 1.506)

%p At nightfall we set out again (hoping that the temperatures would have dropped a bit) in search of a restaurant.
.columns
  = photo(:src => cdn_url('asia2017/day-twenty-four/DSC05984.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-twenty-four/DSC06005.jpg'), :ratio => 1.5)

%p With dinner over and still tired from the early wakeup we headed back to the hotel.
.columns
  = photo(:src => cdn_url('asia2017/day-twenty-four/DSC05986.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-twenty-four/DSC06006.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-twenty-four/DSC05998.jpg'), :ratio => 1.5)

= photo(:src => cdn_url('asia2017/day-twenty-four/DSC05990.jpg'), :ratio => 1.5, :class => 'full')
