---
title: Dead Horse Point State Park
date: 2011-07-10 15:00:00
locations:
- title: Dead Horse Point State Park
  latlng:
  - 38.4704384
  - -109.7393219

---

%p After our tour of Arches, we checked the map and found another park nearby.
= photo(:src => cdn_url('usa2011/dead-horse-point-state-park/_DSC0421.jpg'), :ratio => 1.506)

%p Dead Horse Point State Park features a great overview of the Colorado River and Canyonlands National Park.
= photo(:src => cdn_url('usa2011/dead-horse-point-state-park/_DSC0423-Edit.jpg'), :ratio => 3.077, :class => 'full')
= photo(:src => cdn_url('usa2011/dead-horse-point-state-park/_DSC0426.jpg'), :ratio => 1.506)

%p The views are worth every penny of the entrance fee and the trip from the highway.

= photo(:src => cdn_url('usa2011/dead-horse-point-state-park/_DSC0428-Edit.jpg'), :ratio => 2.57, :class => 'full')
= photo(:src => cdn_url('usa2011/dead-horse-point-state-park/_DSC0431.jpg'), :ratio => 0.664)
