---
title: "Day Nine"
date: 2015-11-13 00:00:00 UTC
locations:
  -
    title: 'Imperial palace'
    latlng: [35.6825, 139.7521]
  -
    title: 'Iidabashi'
    latlng:  [35.7000796, 139.7479259]
---
%p After a nice morning sleeping in and a few hours of work I headed for the Ginza district, in south east Tokyo. While in the train I noticed we were passing by the Imperial Palace near Tokyo station, so I hopped out and explored the area.

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-nine/image-1.jpg', :width => '1100', :height => '730')

%p The thing I like about this area, is the contrast between old and new. On once side there's a very old palace and on the other are modern office buildings near Tokyo station.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-nine/image-2.jpg', :width => '1100', :height => '730')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-nine/image-17.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-nine/image-3.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-nine/image-19.jpg', :width => '1100', :height => '718', :class => 'full')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-nine/image-21.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-nine/image-22.jpg', :width => '733', :height => '1100')

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-nine/image-1-2.jpg', :width => '1100', :height => '730')


%p If you try to look for rivers/streams in Tokyo on Google Maps, you'll hardly find any. This is the reason why:
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-nine/image-5.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-nine/image-6.jpg', :width => '1100', :height => '730')

%p After wandering through a park near the palace I headed to Lidabashi, for no particular reason.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-nine/image-20.jpg', :width => '1100', :height => '733')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-nine/image-9.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-nine/image-10.jpg', :width => '1100', :height => '733')

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-nine/image-11.jpg', :width => '1100', :height => '733')

%p At this point I'm pretty sure I was wandering around on private property, but it did make for a few nice shots.
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-nine/image-12.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-nine/image-13.jpg', :width => '733', :height => '1100')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-nine/image-14.jpg', :width => '1100', :height => '733')

%p In the end I never made it to Ginza, but that's the fun part about not having any time constraints.
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-nine/image-15.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-nine/image-16.jpg', :width => '1100', :height => '733')
