---
title: "Day Nineteen"
date: 2015-05-23 00:00:00 UTC
locations:
  -
    title: 'Ha Long Bay'
    latlng: [20.9572817, 107.0232028]

---

%p "That's simply impossible" is what the manager of our hotel's tourdesk first words were when we told him our plan. Because we lost 4 days to sickness we wanted to make up for it by combining Ha Long Bay with Sa Pa. Eventually we persuaded the manager and after a couple of phone calls and more then a couple of dollars later we had our intinerary for the next three days. One day in Ha Long Bay, then race back to Hanoi to catch the night train to Sa Pa. But first Ha Long Bay.

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-nineteen/image-9-1100x.jpg', :width => '1100', :height => '730')

%p Legend is that a family of dragons were sent down from the gods during a war and spat jewels and jade across the Ha Long Bay, today these diamonds are the rocks you can see in the photos.

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-nineteen/image-2-1100x.jpg', :width => '1100', :height => '730')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-nineteen/image-3-1100x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-nineteen/image-4-1100x.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-nineteen/image-5-1100x.jpg', :width => '1100', :height => '730')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-nineteen/image-16-1100x.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-nineteen/image-17-1100x.jpg', :width => '1100', :height => '733')

%p After an hour we docked at a little fisher's village to get our Kayak, so we could explore the bay on our own for a while.
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-nineteen/image-15-1100x.jpg', :width => '1100', :height => '733')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-nineteen/image-20-1100x.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-nineteen/image-21-1100x.jpg', :width => '1100', :height => '637')
%img.full{:src => '//cdn.matsimitsu.com/asia2015/day-nineteen/image-22-2200x.jpg', :width => '1100', :height => '733'}

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-nineteen/image-6-1100x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-nineteen/image-7-1100x.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-nineteen/image-8-1100x.jpg', :width => '1100', :height => '730')
%img.full{:src => '//cdn.matsimitsu.com/asia2015/day-nineteen/image-10-2200x.jpg', :width => '1100', :height => '730'}
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-nineteen/image-18-1100x.jpg', :width => '1100', :height => '707')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-nineteen/image-19-1100x.jpg', :width => '1100', :height => '733')

%p Back on the boat we headed for "one of the prettiest caves in Vietnam".
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-nineteen/image-11-1100x.jpg', :width => '1100', :height => '730')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-nineteen/image-12-1100x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-nineteen/image-13-1100x.jpg', :width => '1100', :height => '730')
%p The caves were really well lit with lots of different colors. Unfortunately our time was up and we headed back to the boat, so we could be back in Hanoi on time for our train to Sa Pa.
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-nineteen/image-14-1100x.jpg', :width => '1100', :height => '730')

%p This will be our home for the next 10 hours.
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-nineteen/image-23-1100x.jpg', :width => '1100', :height => '730')
