---
title: "Day Six"
subtitle: "North Korea (Panmunjom) - N Seoul Tower"
date: 2014-05-20 08:59:10 UTC
locations:
  -
    title: North Korea (Panmunjom)
    latlng: [37.956111, 126.676944]
  -
    title: 'N Seoul Tower'
    latlng: [37.5511694, 126.9882266]
---
%p
  The amount of photo's from today will be very low. Most of the time we weren't allowed to take photos. And i also kinda forgot my memory cards...
  %br
  %br
  We got up very early (what else is new) to meet our driver who took us to the bus heading for the DMZ.
  %br
  %br
  We visited the No. 3 tunnel dug by the North Koreans to invade Seoul. After that we got lunch and headed for the DMZ. First stop: the Bridge.
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-six/day-six-first-1-1100x.jpg', :width => '1100', :height => '825')

%p There are mine warnings everywhere.
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-six/day-six-first-2-1100x.jpg', :width => '1100', :height => '825')

%p This is the most northern Railway station.
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-six/day-six-first-3-1100x.jpg', :width => '1100', :height => '825')

%p After countless ID cloathing checks and always accompanied by guards, it was finally time to visit the famous blue buildings on the border of North and South korea.
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-six/day-six-first-4-1100x.jpg', :width => '1100', :height => '825')
%p Gravel is South Korea. Concrete is North Korea.

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-six/day-six-first-7-1100x.jpg', :width => '1100', :height => '825')

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-six/day-six-first-5-1100x.jpg', :width => '1100', :height => '825')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-six/day-six-first-6-1100x.jpg', :width => '1100', :height => '825')
%p
  After a delicious dinner it was time for the final attraction of Seoul, the N Seoul Tower.

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-six/day-six-first-8-1100x.jpg', :width => '1100', :height => '729')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-six/day-six-first-9-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-six/day-six-first-11-1100x.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-six/day-six-first-12-1100x.jpg', :width => '1100', :height => '729')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-six/day-six-first-13-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-six/day-six-first-14-730x.jpg', :width => '729', :height => '1100')
