---
title: Day two
date: 2017-05-06
locations:
- title: Dragons Back Hiking Trail
  latlng:
  - 22.2369295
  - 114.2432252
header: _DSC0235.jpg
hotel:
  name: City Garden Hotel
  address: 9 City Garden Road, North Point, Hong Kong, Hong Kong
  image: https://t-ec.bstatic.com/images/hotel/max500/431/43197284.jpg
  url: https://www.booking.com/hotel/hk/city-garden.html?aid=939121
  description: City Garden Hotel boasts an award-winning restaurant and an outdoor
    heated pool, within easy access from several attractions and transportation links.
  rating: 7.9

---
%p After a good nights sleep, even though a drunk person spent a good five minutes trying to get into the room last evening. We had to decide if we were going to Shenzen or stayed in HongKong.

.columns
  = photo(:src => cdn_url('asia2017/day-two/DSC05028.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-two/DSC05029.jpg'), :ratio => 1.5)
%p Our initial goal was to go to Shenzen (yay passport stamp), but there isn't a whole lot to do there, so we decided not to go and instead take a hike on the Dragons Back Hiking Trail.

= photo(:src => cdn_url('asia2017/day-two/DSC05036.jpg'), :ratio => 1.5)
%p The beauty of Hong Kong is that the city is surrounded by nature, all we had to do is take the subway two stops and a bus for a couple of minutes and we were smack dab in the middle of nature.
.columns
  = photo(:src => cdn_url('asia2017/day-two/_DSC0218.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-two/_DSC0226.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-two/DSC05045.jpg'), :ratio => 1.5)
%p The views on the trail were amazing, despide the haze that was hanging around.

= photo(:src => cdn_url('asia2017/day-two/_DSC0235.jpg'), :ratio => 1.506, :class => "full")
%p At the end of the trail we were rewarded with a beautiful beach to cool off.

= photo(:src => cdn_url('asia2017/day-two/_DSC0239.jpg'), :ratio => 1.506)

%p Most people took a taxi or shuttle-bus back, but we backtracked the last part of the trail to head to the nearest subway station. It took us across a very large cemetery.

.columns
  = photo(:src => cdn_url('asia2017/day-two/DSC05047.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-two/DSC05053.jpg'), :ratio => 1.5)

= photo(:src => cdn_url('asia2017/day-two/DSC05049.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-two/DSC05060.jpg'), :ratio => 1.5)
%p Even the dead have skyscrapers, the building below is a vertical semetery where people store their loved one's ashes.

= photo(:src => cdn_url('asia2017/day-two/DSC05062.jpg'), :ratio => 1.5)

%p Back at the MTR station, we took the subway home and spent a few hours relaxing by the pool, also surrounded by skyscapers.
.columns
  = photo(:src => cdn_url('asia2017/day-two/DSC05064.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-two/DSC05068.jpg'), :ratio => 1.5)
