---
title: Day four
date: 2017-05-08
locations:
- title: Macau
  latlng:
  - 22.198745
  - 113.543873
header: DSC05184-2.jpg
hotel:
  name: City Garden Hotel
  address: 9 City Garden Road, North Point, Hong Kong, Hong Kong
  image: https://t-ec.bstatic.com/images/hotel/max500/431/43197284.jpg
  url: https://www.booking.com/hotel/hk/city-garden.html?aid=939121
  description: City Garden Hotel boasts an award-winning restaurant and an outdoor
    heated pool, within easy access from several attractions and transportation links.
  rating: 7.9

---

%p After a cup of coffee, a metro ride, a jet-boat ride and a (free) random casino shuttle-bus ride we were finally in the middle of Macau island. Right in front of the random casino "Grand Lisboa". Tacky doesn't even begin to describe it, so best to turn away and explore the other sights Macau has to offer.

= photo(:src => cdn_url('asia2017/day-four/_DSC0277.jpg'), :ratio => 1.506)

%p First up is the lighthouse. A lot of steets in Macau don't really have sidewalks.  You're never quite sure if it's allowed to walk on the road. Despite this we made it to the Guia lighthouse.

= photo(:src => cdn_url('asia2017/day-four/_DSC0298.jpg'), :ratio => 1.506)

.columns
  = photo(:src => cdn_url('asia2017/day-four/_DSC0303.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-four/_DSC0304.jpg'), :ratio => 1.506)

%p From the top you have a nice view of Macau.

= photo(:src => cdn_url('asia2017/day-four/DSC05140.jpg'), :ratio => 1.5, :class => 'full')
.columns
  = photo(:src => cdn_url('asia2017/day-four/DSC05144.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-four/DSC05148.jpg'), :ratio => 1.5)

%p Today's mission was to find a cemetery where Dutch members of the East India Company are buried. This lead us all through the city, as TripAdvisor and Google Maps had different opinions about the location.

.columns
  = photo(:src => cdn_url('asia2017/day-four/DSC05142.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-four/_DSC0308.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-four/_DSC0310.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-four/_DSC0328.jpg'), :ratio => 1.506)
.columns
  = photo(:src => cdn_url('asia2017/day-four/_DSC0332.jpg'), :ratio => 0.664)
  = photo(:src => cdn_url('asia2017/day-four/_DSC0341.jpg'), :ratio => 1.506)

%p The mixed architecture of Portuguese and Asian makes for interesting contrasts.

.columns
  = photo(:src => cdn_url('asia2017/day-four/_DSC0337.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-four/_DSC0339.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-four/_DSC0338.jpg'), :ratio => 1.506)
.columns
  = photo(:src => cdn_url('asia2017/day-four/_DSC0345.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-four/_DSC0346.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-four/_DSC0352.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-four/_DSC0353.jpg'), :ratio => 1.506)

%p One of the main attractions in Macau is st. Pauls' cathedral... Or rather the one wall that still remains.
= photo(:src => cdn_url('asia2017/day-four/_DSC0357.jpg'), :ratio => 1.323)

.columns
  = photo(:src => cdn_url('asia2017/day-four/_DSC0360.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-four/_DSC0361.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-four/_DSC0378.jpg'), :ratio => 1.506)

%p Close to the cathedral we found our Protestant cemetery.
= photo(:src => cdn_url('asia2017/day-four/_DSC0393.jpg'), :ratio => 1.583)
= photo(:src => cdn_url('asia2017/day-four/_DSC0397.jpg'), :ratio => 1.506)

%p Mission accomplished, time to visit the largest casino in the world, the Venetian Macau.
= photo(:src => cdn_url('asia2017/day-four/DSC05154.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-four/DSC05155.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-four/DSC05162.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-four/DSC05167.jpg'), :ratio => 1.5)
%p Not really though, we just came here to eat the famous <a href="https://en.wikipedia.org/wiki/Pastel_de_nata" target="_blank">Portuguese Egg Tarts</a> and the original bakery happened to have a store in the Venetian (they were really delicious). The free shuttle bus form the casino to the harbour took us back and a boatride later we were back in Hong kong.
= photo(:src => cdn_url('asia2017/day-four/DSC05184-2.jpg'), :ratio => 1.832, :class => 'full')
