---
title: Day thirty four
date: 2017-06-09
locations:
- title: Konchi-in Temple
  latlng:
  - 35.0089226
  - 135.7854284
- title: Hokanji
  latlng:
  - 34.9985755
  - 135.7779516
- title: Yasaka Shrine
  latlng:
  - 35.0028717
  - 135.7782657

hotel:
  name: Kyoto Itoya Hotel
  address: 600-8416 Kyoto, Kyoto, Shimogyo-Ku Karasuma-Dori Matsubara-Agaru Yakushimae-Cho
    712, Japan
  image: https://t-ec.bstatic.com/images/hotel/max500/182/18216706.jpg
  priceRange: Prices for upcoming dates start at $109 per night (We Price Match)
  url: https://www.booking.com/hotel/jp/kyoto-itoya-hotel.html?aid=939121
  map: https://maps.googleapis.com/maps/api/staticmap?center=34.9991362,135.7594998&markers=color:blue%7c34.9991362,135.7594998&zoom=15&sensor=false&size=1600x1200&client=gme-booking&channel=booking-frontend&signature=HHScn0CRS6MLMBm6swt8Eba9o9w=
  description: New in February 2013, the Kyoto Itoya Hotel is a designer’s hotel with
    modern accommodations. Free Wi-Fi is available at the entire property.
  rating: 8.9
header: DSC05063.jpg
---
%p Yesterday I bought a new camera, a Sony A6000. I was getting tired of lugging the D90 with a 10-24 lens around all day, after a few hours my shoulder would hurt. To really test the camera I decided to only use the A6000 today, enjoy :)
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-four/DSC06528.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-four/DSC06529.jpg'), :ratio => 1.5)
%p A lot of buildings in Kyoto are made from wood and there are fire buckets everywhere.
= photo(:src => cdn_url('asia2017/day-thirty-four/DSC06527.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2017/day-thirty-four/DSC05048.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-four/DSC05028.jpg'), :ratio => 1.5)

%p Still getting used to the controls and I just missed this shot :(
= photo(:src => cdn_url('asia2017/day-thirty-four/DSC05031.jpg'), :ratio => 1.582)

%p All this was happening on our way to... you guessed it, temples! With it's  2,000 religious places, Kyoto has plenty of temples to offer.
= photo(:src => cdn_url('asia2017/day-thirty-four/DSC05032.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-four/DSC05033.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-four/DSC05037.jpg'), :ratio => 1.553)
  = photo(:src => cdn_url('asia2017/day-thirty-four/DSC05041.jpg'), :ratio => 1.5)

%p We saw the "must see" temples <a href="http://matsimitsu.com/travel/asia2014/day-eleven/" target="_blank">last time we visited Tokyo</a>, this time we visited some of the more obscure temples.
= photo(:src => cdn_url('asia2017/day-thirty-four/DSC05044.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-four/DSC05045.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-four/DSC05046.jpg'), :ratio => 1.5)
%p Some were completely deserted, a nice change of pace from the packed popular ones.
= photo(:src => cdn_url('asia2017/day-thirty-four/DSC05062.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-four/DSC05058.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-four/DSC05060.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-four/DSC05063.jpg'), :ratio => 1.5, :class => 'full')
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-four/DSC05066.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-four/DSC05074.jpg'), :ratio => 1.178)
= photo(:src => cdn_url('asia2017/day-thirty-four/DSC05071.jpg'), :ratio => 1.5)
%p Between temples we tried to our best to avoid all main roads and use alleys where possible.
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-four/DSC05083.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-four/DSC05085.jpg'), :ratio => 1.742)
  = photo(:src => cdn_url('asia2017/day-thirty-four/DSC05090.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-four/DSC05091.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-four/DSC05092.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-four/DSC05102.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-four/DSC05095.jpg'), :ratio => 1.5)

= photo(:src => cdn_url('asia2017/day-thirty-four/DSC05101.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-four/DSC05103.jpg'), :ratio => 1.5, :class => 'full')

%p We noticed more and more people dressed up in traditional robes as we neared the Hokanji Pagoda.
= photo(:src => cdn_url('asia2017/day-thirty-four/DSC05106.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2017/day-thirty-four/DSC05111.jpg'), :ratio => 1.003)
  = photo(:src => cdn_url('asia2017/day-thirty-four/DSC05110.jpg'), :ratio => 1.5)

= photo(:src => cdn_url('asia2017/day-thirty-four/DSC05114.jpg'), :ratio => 1.879, :class => 'full')
= photo(:src => cdn_url('asia2017/day-thirty-four/DSC05119.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2017/day-thirty-four/DSC05122.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-four/DSC05128.jpg'), :ratio => 1.5)


= photo(:src => cdn_url('asia2017/day-thirty-four/DSC05147.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-four/DSC05153.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-four/DSC05161.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2017/day-thirty-four/DSC05171.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-four/DSC05184.jpg'), :ratio => 1.5)
