---
title: Day Nineteen
date: 2016-05-31
locations:
- title: Grand Palace
  latlng:
  - 13.7524008
  - 100.490729
- title: Baiyoke Tower
  latlng:
  - 13.754167
  - 100.540556
---

%p After three attempts we finally made it into the Grand Palace complex. The first two times we tried it was Buddha day, when the temple is closed.
= photo(:src => cdn_url('asia2016/day-nineteen/_DSC0748.jpg'), :ratio => 1.506)
.photo-row
  = photo(:src => cdn_url('asia2016/day-nineteen/_DSC0766.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-nineteen/DSC04584.jpg'), :ratio => 1.5)


%p The complex consists of two parts, the temple and the palace. First up: the temple.
= photo(:src => cdn_url('asia2016/day-nineteen/_DSC0755.jpg'), :ratio => 1.506, :class => :full)

= photo(:src => cdn_url('asia2016/day-nineteen/DSC04586.jpg'), :ratio => 1.5)
.photo-row
  = photo(:src => cdn_url('asia2016/day-nineteen/_DSC0744.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-nineteen/_DSC0770.jpg'), :ratio => 0.654)

= photo(:src => cdn_url('asia2016/day-nineteen/_DSC0758.jpg'), :ratio => 1.506)
.photo-row
  = photo(:src => cdn_url('asia2016/day-nineteen/_DSC0780.jpg'), :ratio => 1.715)
  = photo(:src => cdn_url('asia2016/day-nineteen/_DSC0781.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-nineteen/_DSC0782.jpg'), :ratio => 1.506)
.photo-row
  = photo(:src => cdn_url('asia2016/day-nineteen/_DSC0786.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-nineteen/_DSC0789.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-nineteen/DSC04585.jpg'), :ratio => 1.5)

.photo-row
  = photo(:src => cdn_url('asia2016/day-nineteen/_DSC0800.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-nineteen/_DSC0810.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-nineteen/_DSC0827.jpg'), :ratio => 1.506)
.photo-row
  = photo(:src => cdn_url('asia2016/day-nineteen/_DSC0838.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-nineteen/_DSC0857.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('asia2016/day-nineteen/_DSC0844.jpg'), :ratio => 1.506, :class => :full)
= photo(:src => cdn_url('asia2016/day-nineteen/_DSC0865.jpg'), :ratio => 1.506)

.photo-row
  = photo(:src => cdn_url('asia2016/day-nineteen/_DSC0920.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-nineteen/_DSC0870.jpg'), :ratio => 0.664)

= photo(:src => cdn_url('asia2016/day-nineteen/_DSC0851.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('asia2016/day-nineteen/_DSC0868.jpg'), :ratio => 1.506, :class => :full)
.photo-row
  = photo(:src => cdn_url('asia2016/day-nineteen/_DSC0880.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-nineteen/_DSC0883.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-nineteen/_DSC0888.jpg'), :ratio => 1.506)
%p After touring the temple complex, we headed to the palace.
= photo(:src => cdn_url('asia2016/day-nineteen/DSC04595.jpg'), :ratio => 1.5)

= photo(:src => cdn_url('asia2016/day-nineteen/_DSC0925.jpg'), :ratio => 1.506, :class => :full)
= photo(:src => cdn_url('asia2016/day-nineteen/_DSC0929.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-nineteen/_DSC0943.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-nineteen/_DSC0948.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-nineteen/_DSC0956.jpg'), :ratio => 1.506, :class => :full)
= photo(:src => cdn_url('asia2016/day-nineteen/_DSC0959.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-nineteen/_DSC0960.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-nineteen/_DSC0966.jpg'), :ratio => 1.506, :class => :full)
%p After a hard negotiation our TukTuk dropped us off at the train station, from where we took the subway to the hotel to cool off in the pool.
.photo-row
  = photo(:src => cdn_url('asia2016/day-nineteen/DSC04600.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-nineteen/DSC04601.jpg'), :ratio => 1.5)

%p After dinner we visited the highest hotel in Asia, Baiyoke Tower.
= photo(:src => cdn_url('asia2016/day-nineteen/DSC04608.jpg'), :ratio => 1.5)
.photo-row
  = photo(:src => cdn_url('asia2016/day-nineteen/DSC04613.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-nineteen/DSC04621.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-nineteen/DSC04631.jpg'), :ratio => 1.5)

= photo(:src => cdn_url('asia2016/day-nineteen/DSC04635.jpg'), :ratio => 1.5)
.photo-row
  = photo(:src => cdn_url('asia2016/day-nineteen/DSC04655.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-nineteen/DSC04658.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-nineteen/_DSC0994.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('asia2016/day-nineteen/DSC04666.jpg'), :ratio => 1.5, :class => :full)
