---
title: "Day Fourteen"
date: 2015-11-18 00:00:00 UTC
locations:
  -
    title: 'Omiya'
    latlng: [35.9055332, 139.6241707]
  -
    title: 'Kawagoe'
    latlng: [35.9070584, 139.4828033]
---
%p The weather forecast only predicted rain today, so it was time for an indoor activity. Relatively close by there was a Train Museum that was highly recommended on TripAdvisor.

.columns
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-fourteen/image-2.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-fourteen/image-1.jpg', :width => '1100', :height => '733')
.columns
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-fourteen/image-4.jpg', :width => '733', :height => '1100')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-fourteen/image-3.jpg', :width => '1100', :height => '733')

%p They had many trains on display and made sure you can take a peek inside every one of them. There also were a few train simulators and tons of interactive displays of the inner workings. The only downside was that everything was in Japanese.
.columns
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-fourteen/image-10.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-fourteen/image-11.jpg', :width => '1100', :height => '733')

.columns
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-fourteen/image-8.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-fourteen/image-6.jpg', :width => '733', :height => '1100')

.columns
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-fourteen/image-5.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-fourteen/image-7.jpg', :width => '1100', :height => '733')

%p With the rain still pooring down, but still a few hours left in the day I decided to head to Kawagoe where there's a street with traditional Japanese houses.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-fourteen/image-13.jpg', :width => '1100', :height => '733')

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-fourteen/image-14.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-fourteen/image-15.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-fourteen/image-17.jpg', :width => '1100', :height => '733')

%p By this time the rain was getting even worse and within minutes I was completely soaked. Time to cut this visit short and head to my "home town" of <a href="https://www.google.co.jp/maps/place/Naka-Itabashi+Station/@35.7684018,139.6736014,13z/data=!4m2!3m1!1s0x601892cdb140d503:0x21b9ca4d647f9f17?hl=en" target="_blank">Naka-Itabashi</a> and eat some delicious Sushi.

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-fourteen/image-19.jpg', :width => '1100', :height => '733')
