---
title: "Day Eleven"
date: 2015-11-15 00:00:00 UTC
locations:
  -
    title: 'Ueno'
    latlng: [35.7141299, 139.7726398]
  -
    title: 'Taito'
    latlng: [35.712607, 139.7799956]
  -
    title: 'Nippori'
    latlng: [35.7283115, 139.7705175]
---

%p Today is a Sunday, this means there will be crowds at the touristy places. A perfect time to visit Ueno Park.

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-6.jpg', :width => '1100', :height => '730')
.columns
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-5.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-7.jpg', :width => '1100', :height => '730')

%p In the park there was a market with food and music that attracted the attention of most people there. This seemed an excellent opportunity to head to the temple and avoid the crowds.

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-1.jpg', :width => '1100', :height => '730')

.columns
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-3.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-2.jpg', :width => '730', :height => '1100')

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-4.jpg', :width => '1100', :height => '730')


= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-8.jpg', :width => '1100', :height => '730')

%p There are tons of things to do at Ueno park, with a Zoo and Museums, but the place was packed, so I headed into the nearby neighborhood of Taito where things were much calmer.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-10.jpg', :width => '1100', :height => '730')

.columns
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-9.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-11.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-12.jpg', :width => '1100', :height => '730')
.columns

  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-13.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-14.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-15.jpg', :width => '1100', :height => '730')

.columns
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-16.jpg', :width => '730', :height => '1100')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-17.jpg', :width => '1100', :height => '730')

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-18.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-19.jpg', :width => '1100', :height => '730')

%p The contraption on the back of this moped is to keep the contents level at all times.

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-20.jpg', :width => '1100', :height => '730')

.columns
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-22.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-23.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-25.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-26.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-27.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-28.jpg', :width => '1100', :height => '730')

%p At one point I found myself on a cemetery.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-30.jpg', :width => '1100', :height => '730')
%p With aparently was a very popular train-spotting place judging by the amount of people with camera's mounted in tripods pointed at the tracks. So why not join in the fun :).

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-40.jpg', :width => '1100', :height => '733')
.columns
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-31.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-41.jpg', :width => '1100', :height => '733')

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-32.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-33.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-35.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-38.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eleven/image-42.jpg', :width => '1100', :height => '733')
