---
title: Day thirty one
date: 2017-06-06
locations:
- title: 'Fuji-Q Highland'
  latlng:
  - 35.4869467
  - 138.7805511
hotel:
  name: HOTEL MYSTAYS Fuji
  address: 403-0011 Yamanashi, Fujiyoshida, Arakura 2654, Japan
  image: https://t-ec.bstatic.com/images/hotel/max500/928/92856150.jpg
  priceRange: Prices for upcoming dates start at $72 per night (We Price Match)
  url: https://www.booking.com/hotel/jp/mystays-premier-fujisan.html?aid=939121
  map: https://maps.googleapis.com/maps/api/staticmap?center=35.4919643,138.7798387&zoom=15&markers=color:blue%7c35.4919643,138.7798387&size=1600x1200&sensor=false&client=gme-booking&channel=booking-frontend&signature=f26uMfd3Ei25F_ZMzTcRx5FIzS8=
  description: Located in Fujiyoshida, 547 yards from Fujikyu Highland, HOTEL MYSTAYS
    Fuji features free WiFi access and free private parking.
  rating: 8.9
header: DSC06401.jpg
---

%p Awesome rollercoasters with a view of Mt. Fuji in the background, that's the theme of this day. Not a lot of photos were shot, to busy riding' coasters :) One of them is only one of two 4D-coasters in the world, you hang suspended besides the track and you're looped around independently from the track. This results in 14 rotations during the ride.

= photo(:src => cdn_url('asia2017/day-thirty-one/DSC06393.jpg'), :ratio => 1.5)

%p Another coaster has the Guinness world record for steepest drop.
= photo(:src => cdn_url('asia2017/day-thirty-one/DSC06397.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2017/day-thirty-one/DSC06394.jpg'), :ratio => 0.667)
  = photo(:src => cdn_url('asia2017/day-thirty-one/DSC06395.jpg'), :ratio => 1.5)

%p They sold poncho's in the queue. <br /> Pro-top if they sell them, you need them.
= photo(:src => cdn_url('asia2017/day-thirty-one/DSC06411.jpg'), :ratio => 1.52)

%p Other coasters are just fast and high :)
= photo(:src => cdn_url('asia2017/day-thirty-one/DSC06400.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-one/DSC06402.jpg'), :ratio => 2.163, :class => 'full')
