---
title: Day One
subtitle: Amsterdam <i class="fa fa-plane"></i> Hong Kong
date: 2017-05-05
header: DSC05023.jpg
locations:
- title: Hong Kong
  latlng:
  - 22.290278
  - 114.194132

---

%p After a couple of months of planning it was finally time to head to Asia again.

= photo(:src => cdn_url('asia2017/day-one/DSC05021.jpg'), :ratio => 1.594)

%p
  It took just Twenty-four hours, two flights, five meals and two subway rides to get to our hotel in HongKong, but we finally made it.

= photo(:src => cdn_url('asia2017/day-one/_DSC0207.jpg'), :ratio => 1.599)

.columns
  = photo(:src => cdn_url('asia2017/day-one/_DSC0192.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-one/_DSC0208.jpg'), :ratio => 1.506)

%p We took a quick trip around the block of our hotel in search of food and after dinner it was time to finally get a good night's sleep.

= photo(:src => cdn_url('asia2017/day-one/_DSC0211.jpg'), :ratio => 1.506)

.columns
  = photo(:src => cdn_url('asia2017/day-one/_DSC0216.jpg'), :ratio => 1.506)

  = photo(:src => cdn_url('asia2017/day-one/_DSC0213.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-one/DSC05024.jpg'), :ratio => 1.5)
