---
title: Day eighteen
date: 2017-05-23
locations:
- title: Mt. Bromo
  latlng:
  - -7.9424936
  - 112.9530122
header: DSC05740.jpg
hotel:
  name: Swiss-Belinn Malang
  address: Jalan Veteran No. 8A, 65145 Malang, Indonesia
  image: https://t-ec.bstatic.com/images/hotel/max500/318/31809143.jpg
  url: https://www.booking.com/hotel/id/swiss-belinn-malang.html?aid=939121
  description: Featuring an outdoor pool, gym and two dining options, Swiss-Belinn
    Malang is a 5-minute walk from Malang Town Square and MX Mall.
  rating: 7.9

---

%p Just before midnight our driver for the day arrived at our hotel in a 4x4 Jeep. He took us to a gathering point where other jeeps arrived, and after about half an hour all Jeeps departed in a column.

= photo(:src => cdn_url('asia2017/day-eighteen/_DSC0481.jpg'), :ratio => 1.506)

%p
  The next two hours were spent on- and off-road, making our way to the viewpoint. Our group was the first to arrive, this meant two things:
  %br
  %br 1. we were able to pick a great spot.
  %br 2. We had to wait for two more hours until sunrise.

= photo(:src => cdn_url('asia2017/day-eighteen/_DSC0336.jpg'), :ratio => 1.506)

.columns
  = photo(:src => cdn_url('asia2017/day-eighteen/_DSC0400.jpg'), :ratio => 1.575)
  = photo(:src => cdn_url('asia2017/day-eighteen/_DSC0405.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-eighteen/_DSC0413.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-eighteen/_DSC0422.jpg'), :ratio => 1.506, :class => 'full')

%p After about half an hour we abandoned our sunrise spot to see if we could find the Volcano.

= photo(:src => cdn_url('asia2017/day-eighteen/_DSC0351.jpg'), :ratio => 1.506)

%p It was really busy at the lookout point. It was quite difficult to avoid the selfie sticks.
= photo(:src => cdn_url('asia2017/day-eighteen/_DSC0434.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-eighteen/_DSC0430.jpg'), :ratio => 1.644, :class => 'full')

= photo(:src => cdn_url('asia2017/day-eighteen/DSC05778.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-eighteen/DSC05736.jpg'), :ratio => 1.5, :class => 'full')

%p After the sunrise it was time to make our way back to the Jeep, so we could descend into the valley below.
= photo(:src => cdn_url('asia2017/day-eighteen/_DSC0472.jpg'), :ratio => 1.579)
= photo(:src => cdn_url('asia2017/day-eighteen/_DSC0489.jpg'), :ratio => 1.506)

%p At the bottom of the valley we stopped for breakfast and to admire the amazing views.
= photo(:src => cdn_url('asia2017/day-eighteen/_DSC0517-2.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-eighteen/DSC05786.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-eighteen/DSC05788.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-eighteen/DSC05791.jpg'), :ratio => 1.5)

= photo(:src => cdn_url('asia2017/day-eighteen/_DSC0507.jpg'), :ratio => 1.506)

%p Back on the (off)road we went to our next destination, the path to the crater's edge.
= photo(:src => cdn_url('asia2017/day-eighteen/_DSC0578.jpg'), :ratio => 1.506)

%p The sounds coming from the crater are deafening, it sounds like a jet taking off. My travel buddy Onno has a video, <a href="http://travel.onnogroen.com/blog/asia-2017/day-19-mount-bromo" target="_blank">you can find it on his blog</a>
= photo(:src => cdn_url('asia2017/day-eighteen/DSC05812.jpg'), :ratio => 1.5)

%p Looking away from the volcano, the view wasn't bad either.
= photo(:src => cdn_url('asia2017/day-eighteen/_DSC0616-Edit.jpg'), :ratio => 3.165, :class => 'full')

.columns
  = photo(:src => cdn_url('asia2017/day-eighteen/DSC05809.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-eighteen/_DSC0607.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-eighteen/_DSC0615.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-eighteen/DSC05805.jpg'), :ratio => 1.5)

%p Slowly we were making our way back to our hotel, but not before stopping at two more destinations, one a very beautiful valley.
= photo(:src => cdn_url('asia2017/day-eighteen/_DSC0620.jpg'), :ratio => 1.506, :class => 'full')
.columns
  = photo(:src => cdn_url('asia2017/day-eighteen/_DSC0625.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-eighteen/_DSC0633.jpg'), :ratio => 1.506)

%p And a great waterfall, that was only a 1 kilometer hike away and practically impossible to photograph without getting water on the lens.
.columns
  = photo(:src => cdn_url('asia2017/day-eighteen/_DSC0679.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-eighteen/DSC05837.jpg'), :ratio => 1.5)
