---
title: "Day Nineteen"
date: 2015-11-24 00:00:00 UTC
locations:
  -
    title: 'Tokyo University'
    latlng: [35.7126775, 139.761989]
---

%p Having explored most parts around Tokyo and with some work to be done, today I made a quick trip to the Tokyo Universisty with it's boulevards of autumn-colored trees and a nice park in the center.

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-nineteen/image-1.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-nineteen/image-12.jpg', :width => '733', :height => '1100')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-nineteen/image-2.jpg', :width => '1100', :height => '733')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-nineteen/image-4.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-nineteen/image-5.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-nineteen/image-6.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-nineteen/image-7.jpg', :width => '1100', :height => '733', :class => 'full')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-nineteen/image-8.jpg', :width => '733', :height => '1100')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-nineteen/image-9.jpg', :width => '733', :height => '1100')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-nineteen/image-10.jpg', :width => '1100', :height => '733')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-nineteen/image-11.jpg', :width => '733', :height => '1100')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-nineteen/image-13.jpg', :width => '1100', :height => '733')
