---
title: Day Five
date: 2016-05-17
locations:
- title: Taiwan Design Museum
  latlng:
  - 25.044167
  - 121.560556
- title: Botanical Garden
  latlng:
  - 25.0322049
  - 121.5098835
- title: 2/28 Peace Park
  latlng:
  - 25.0418254
  - 121.5149875
stats:
  walked_kilometers: 13.5
  weather: Rainy
  temperature: 21 &deg;C
  feels_like: 21 &deg;C
---

%p Today is our final full day in Taipei, time to visit museums and parks.

= photo(:src => cdn_url('asia2016/day-five/_DSC0430.jpg'), :ratio => 1.506)

%p The first stop is the Taiwan Design Museum, housed in an old Tobacco Factory.
= photo(:src => cdn_url('asia2016/day-five/_DSC0424.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('asia2016/day-five/DSC04009.jpg'), :ratio => 1.5, :class => :full)
.photo-row
  = photo(:src => cdn_url('asia2016/day-five/DSC04011.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-five/DSC04017.jpg'), :ratio => 1.5)
%p The museum houses both collections from upcoming designers and <a href="http://red-dot.de/pd/?lang=en" target="_blank">Red Dot awarded designs</a>.
= photo(:src => cdn_url('asia2016/day-five/DSC04020.jpg'), :ratio => 1.5, :class => :full)

.photo-row
  = photo(:src => cdn_url('asia2016/day-five/_DSC0410.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-five/_DSC0412.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-five/_DSC0427.jpg'), :ratio => 1.506)
.photo-row
  = photo(:src => cdn_url('asia2016/day-five/_DSC0433.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-five/_DSC0439.jpg'), :ratio => 1.256)
= photo(:src => cdn_url('asia2016/day-five/DSC04022.jpg'), :ratio => 1.5)

%p After spending nearly two hours at the museum we headed to the Botanical Gardens. It was supposed to start raining at three, so we had a few hours left.
= photo(:src => cdn_url('asia2016/day-five/_DSC0444.jpg'), :ratio => 1.506)

.photo-row
  = photo(:src => cdn_url('asia2016/day-five/DSC04025.jpg'), :ratio => 1.499)
  = photo(:src => cdn_url('asia2016/day-five/DSC04024.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-five/_DSC0445.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('asia2016/day-five/DSC04027.jpg'), :ratio => 1.5)
.photo-row
  = photo(:src => cdn_url('asia2016/day-five/DSC04030.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-five/_DSC0452.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-five/_DSC0448.jpg'), :ratio => 1.506)

%p After seeing numerous Japanese Botanical Gardens this one was a bit underwelming. It's probaly the time of year when nothing blossoms. Still, it was nice to stroll around. Close by is one of the 5 Gates that surrounded the city when they were built in 1884.
= photo(:src => cdn_url('asia2016/day-five/DSC04040.jpg'), :ratio => 1.5)

%p From the gate it was only a short walk to the 228 Peace Memorial Park.
= photo(:src => cdn_url('asia2016/day-five/_DSC0460.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('asia2016/day-five/_DSC0472.jpg'), :ratio => 1.506)
.photo-row
  = photo(:src => cdn_url('asia2016/day-five/DSC04045.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-five/DSC04046.jpg'), :ratio => 1.5)

%p The park was created to remember the <a href="https://en.wikipedia.org/wiki/February_28_Incident"> victims of the February 28 Incident of 1947</a>.

= photo(:src => cdn_url('asia2016/day-five/_DSC0480.jpg'), :ratio => 1.506)

.photo-row
  = photo(:src => cdn_url('asia2016/day-five/_DSC0486.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-five/_DSC0493.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-five/_DSC0499.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-five/_DSC0505.jpg'), :ratio => 1.506)


%p After a quick shower at the hotel, we headed out for dinner.

.photo-row
  = photo(:src => cdn_url('asia2016/day-five/DSC04059.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-five/DSC04060.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-five/DSC04064.jpg'), :ratio => 1.5)
