---
title: "Day Five - Six"
subtitle: "Universal Studios - Kennedy Space Center"
date: 2014-10-09 13:45:47 UTC
locations:
  -
    title: Universal Studios
    latlng: [28.4778636, -81.46806149999999]
  -
    title: Kennedy Space Center
    latlng: [28.5728722, -80.64898079999999]
---

%h2 Universal Studios and Islands of Adventures

%p This is with out a doubt one of the most expensive days I've had in a while. Admission for both parks starts at around 140 dollars and then you still have to eat and drink. Luckily for us, we went on a day that had very few queue's.

.columns
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-five-six/image-18.jpg', :width => '1100', :height => '825')
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-five-six/image-20.jpg', :width => '1100', :height => '825')

%p After the park opened we were the first ones on the "Hulk" rollercoaster and after that we made our way around the Islands of adventures park and ended up at the highlight of the day, the Harry Potter area with two racing suspended coasters and a very awesome dark ride.

= photo(:src => '//cdn.matsimitsu.com/usa2014/day-five-six/image-21.jpg', :width => '1100', :height => '825')
%p The dark rides here are very different from what we are used to in The Netherlands. <a href="https://www.universalorlando.com/Rides/Islands-of-Adventure/Harry-Potter-and-the-Forbidden-Journey.aspx" target="_blank">The Harry Potter and the Forbidden Journey ride</a> tosses you around and with 3d projection screens it looks like you are actually flying along with the Potter crew.

.columns
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-five-six/image-24.jpg', :width => '1100', :height => '739')
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-five-six/image-26.jpg', :width => '1100', :height => '825')
%p The theming in this park is amazing, every little detail feels right. The image below is part of a Harry Potter ride in the second Universal park (Universal studios) that takes place in the bank from the movie. All the bank employees are animatronics that write and weigh gold.

= photo(:src => '//cdn.matsimitsu.com/usa2014/day-five-six/image-25.jpg', :width => '1100', :height => '735')

%p As mentioned above there are two Universal Parks. These are connected with the <a href="https://www.universalorlando.com/Theme-Parks/Wizarding-World-Of-Harry-Potter-Hogwarts-Express.aspx" target="_blank">Hogwarts Express</a>. Projection screens are fitted on the windows of the train and they dispay the journey from Hogwarts back to London. When you exit the Kings' Cross station, you are in Universal Studios.
.columns
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-five-six/image-27.jpg', :width => '1100', :height => '825')
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-five-six/image-28.jpg', :width => '1100', :height => '825')
%p The day ended with a show with lights and fireworks. It might be very expensive, but it was worth every penny.

= photo(:src => '//cdn.matsimitsu.com/usa2014/day-five-six/image-29.jpg', :width => '1100', :height => '825')

%h2 Kennedy Space Center
%p From one globe to the next, this time we ended up at the Kennedy Space Center. Where the main attraction is the Atlantis Space Shuttle.
= photo(:src => '//cdn.matsimitsu.com/usa2014/day-five-six/image-43.jpg', :width => '1100', :height => '413')

= photo(:src => '//cdn.matsimitsu.com/usa2014/day-five-six/image-30.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2014/day-five-six/image-31.jpg', :width => '1100', :height => '731')
.columns
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-five-six/image-33.jpg', :width => '1100', :height => '731')
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-five-six/image-34.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2014/day-five-six/image-37.jpg', :width => '1100', :height => '604', :class => 'full')
= photo(:src => '//cdn.matsimitsu.com/usa2014/day-five-six/image-38.jpg', :width => '1100', :height => '741')
%p This is the Airstream camper used to transport the astronauts from the centre to the Space Shuttle.
.columns
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-five-six/image-40.jpg', :width => '1100', :height => '731')
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-five-six/image-41.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2014/day-five-six/image-42.jpg', :width => '1100', :height => '734')
