---
title: Day fifteen
date: 2017-05-19
locations:
- title: Nglanggerang Volcano
  latlng:
  - -7.8430348
  - 110.5495358
header: DSC05542.jpg
hotel:
  name: Eastparc Hotel Yogyakarta
  address: Jl. Laksda Adisucipto Km. 6,5 Seturan, Catur Tunggal, 55281 Yogyakarta,
    Indonesia
  image: https://t-ec.bstatic.com/images/hotel/max500/769/76972266.jpg
  url: https://www.booking.com/hotel/id/eastparc-yogyakarta.html?aid=939121
  description: Offering an outdoor swimming pool and a restaurant, Eastparc Hotel
    Yogyakarta is located 500 metres from Ambarukmo Plaza Shopping Mall.
  rating: 9

---
%p With the major tourist attractions covered, we wanted to explore the surrounding nature of Yogyakarta. We found an obscure hiking trail that would take us to the top of the Nglanggerang volcano.

= photo(:src => cdn_url('asia2017/day-fifteen/_DSC0029.jpg'), :ratio => 1.506)
.columns
  = photo(:src => cdn_url('asia2017/day-fifteen/_DSC0031.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-fifteen/_DSC0034.jpg'), :ratio => 1.506)
%p The trail takes you trough narrow passes and up stairs if the gradient is steep.

= photo(:src => cdn_url('asia2017/day-fifteen/_DSC0049.jpg'), :ratio => 1.506)

.columns
  = photo(:src => cdn_url('asia2017/day-fifteen/_DSC0046.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-fifteen/_DSC0047.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('asia2017/day-fifteen/_DSC0062.jpg'), :ratio => 1.506)
%p As a reward you get amazing views of the surrounding areas.
= photo(:src => cdn_url('asia2017/day-fifteen/_DSC0063.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-fifteen/_DSC0077-Edit.jpg'), :ratio => 3.207, :class => 'full')
= photo(:src => cdn_url('asia2017/day-fifteen/_DSC0083.jpg'), :ratio => 1.506)
%p To get there we had to hire a private driver for the day. Luckily we met a fellow Dutchman the night before at the temple so we could split the costs.

= photo(:src => cdn_url('asia2017/day-fifteen/_DSC0133.jpg'), :ratio => 1.506)
.columns
  = photo(:src => cdn_url('asia2017/day-fifteen/_DSC0140.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-fifteen/_DSC0147.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-fifteen/_DSC0159.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-fifteen/_DSC0165-Edit.jpg'), :ratio => 1.699, :class => 'full')
= photo(:src => cdn_url('asia2017/day-fifteen/_DSC0182.jpg'), :ratio => 2.157)
.columns
  = photo(:src => cdn_url('asia2017/day-fifteen/_DSC0193.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-fifteen/_DSC0197.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-fifteen/_DSC0184.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('asia2017/day-fifteen/_DSC0161.jpg'), :ratio => 1.506, :class => 'full')

= photo(:src => cdn_url('asia2017/day-fifteen/_DSC0202.jpg'), :ratio => 1.506)
%p There was a random refrigerator standing in the middle of nowhere, it works with the honor system, you just put the right amount of money in the jar and take your desired drink from the fridge.

= photo(:src => cdn_url('asia2017/day-fifteen/_DSC0203.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-fifteen/_DSC0211.jpg'), :ratio => 1.641)
= photo(:src => cdn_url('asia2017/day-fifteen/_DSC0215.jpg'), :ratio => 1.506, :class => 'full')
= photo(:src => cdn_url('asia2017/day-fifteen/DSC05546.jpg'), :ratio => 1.636)
.columns
  = photo(:src => cdn_url('asia2017/day-fifteen/DSC05545.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-fifteen/DSC05539.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-fifteen/DSC05555.jpg'), :ratio => 1.5)

%p At some point we heard a lot of noise coming from the trees and upon closer inspection it seemed we were surrounded by monkeys.
.columns
  = photo(:src => cdn_url('asia2017/day-fifteen/DSC05587.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-fifteen/DSC05590.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-fifteen/DSC05596.jpg'), :ratio => 1.5, :class => 'full')
.columns
  = photo(:src => cdn_url('asia2017/day-fifteen/DSC05603.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-fifteen/DSC05607.jpg'), :ratio => 1.5)

%p As the sun was starting to set, we sat down and enjoyed the view, this was one of the best nature trails we'd ever done.
= photo(:src => cdn_url('asia2017/day-fifteen/DSC05609.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-fifteen/DSC05612.jpg'), :ratio => 1.5, :class => 'full')

