---
title: Egypt
date: 2009-08-24 12:00:00 +0200
subtitle: Exploring Egypt.
header: 'photoset/egypt/egypt-12.jpg'
---

= photo(:src => '//cdn.matsimitsu.com/photoset/egypt/egypt-5.jpg', :width => '1100', :height => '730')
.columns
  = photo(:src => '//cdn.matsimitsu.com/photoset/egypt/egypt-2.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/photoset/egypt/egypt-3.jpg', :width => '730', :height => '1100')

= photo(:src => '//cdn.matsimitsu.com/photoset/egypt/egypt-10.jpg', :width => '1100', :height => '730')

.columns
  = photo(:src => '//cdn.matsimitsu.com/photoset/egypt/egypt-6.jpg', :width => '1100', :height => '682')
  = photo(:src => '//cdn.matsimitsu.com/photoset/egypt/egypt-4.jpg', :width => '730', :height => '1100')

.columns
  = photo(:src => '//cdn.matsimitsu.com/photoset/egypt/egypt-7.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/photoset/egypt/egypt-8.jpg', :width => '1100', :height => '1100')

.columns
  = photo(:src => '//cdn.matsimitsu.com/photoset/egypt/egypt-1.jpg', :width => '730', :height => '1100')
  = photo(:src => '//cdn.matsimitsu.com/photoset/egypt/egypt-12.jpg', :width => '1100', :height => '730')

= photo(:src => '//cdn.matsimitsu.com/photoset/egypt/egypt-9.jpg', :width => '1100', :height => '730')
