---
title: New York City
date: 2009-05-04 12:00:00 +0200
subtitle: My first trip to the USA.
header: 'photoset/nyc2009/nyc-4.jpg'
---

= photo(:src => '//cdn.matsimitsu.com/photoset/nyc2009/nyc-4.jpg')
= photo(:src => '//cdn.matsimitsu.com/photoset/nyc2009/nyc-2.jpg', :width => 1100, :height => 825)

.columns
  = photo(:src => '//cdn.matsimitsu.com/photoset/nyc2009/nyc-6.jpg', :width => 1479, :height => 2200)
  = photo(:src => '//cdn.matsimitsu.com/photoset/nyc2009/nyc-3.jpg', :width => 1650, :height => 2200)

= photo(:src => '//cdn.matsimitsu.com/photoset/nyc2009/nyc-8.jpg')
= photo(:src => '//cdn.matsimitsu.com/photoset/nyc2009/nyc-5.jpg')
= photo(:src => '//cdn.matsimitsu.com/photoset/nyc2009/nyc-7.jpg')
