---
title: Berlin
date: 2014-07-28 12:39:42 +0200
subtitle: A couple of days in Berlin
header: '//cdn.matsimitsu.com/photoset/berlin/DSC00874.jpg'
---

= photo(:src => '//cdn.matsimitsu.com/photoset/berlin/DSC00813.jpg')
.columns
  = photo(:src => '//cdn.matsimitsu.com/photoset/berlin/DSC00824.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/photoset/berlin/DSC00818-2.jpg', :width => '2200', :height => '1361')

= photo(:src => '//cdn.matsimitsu.com/photoset/berlin/DSC00864.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/photoset/berlin/DSC00831.jpg', :width => '1100', :height => '730')

.columns
  = photo(:src => '//cdn.matsimitsu.com/photoset/berlin/DSC00858.jpg', :width => '2200', :height => '1467')
  = photo(:src => '//cdn.matsimitsu.com/photoset/berlin/DSC00873.jpg', :width => '2200', :height => '1467')

=photo(:src => '//cdn.matsimitsu.com/photoset/berlin/DSC00874.jpg', :class => 'full')

= photo(:src => '//cdn.matsimitsu.com/photoset/berlin/DSC00882.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/photoset/berlin/DSC00917.jpg', :width => '1100', :height => '730')
