---
title: Whisky Tasting
date: 2015-06-26 12:39:42 +0200
subtitle: Enjoying fine Japanese Whisky.
header: '//cdn.matsimitsu.com/photoset/whisky/DSCF2896-1100x.jpg'
---

= photo(:src => '//cdn.matsimitsu.com/photoset/whisky/DSCF2896.jpg')
.columns
  = photo(:src => '//cdn.matsimitsu.com/photoset/whisky/DSCF2895.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/photoset/whisky/DSCF2907.jpg', :width => '1100', :height => '730')

= photo(:src => '//cdn.matsimitsu.com/photoset/whisky/DSCF2910.jpg')

.columns
  = photo(:src => '//cdn.matsimitsu.com/photoset/whisky/DSCF2897.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/photoset/whisky/DSCF2908.jpg', :width => '1100', :height => '730')
