---
title: Spain 2016
date: 2016-10-02
subtitle: A relaxing week in Spain
header: '//cdn.matsimitsu.com/photoset/spain2016/_DSC0927.jpg'
---

%p Last week I spent a very relaxing week in Tarifa, Spain with a couple of friends. The week consisted of heading to the beach and BBQ-ing at our <a href="https://www.airbnb.com/rooms/7213297" target="_blank">villa</a>.
= photo(:src => cdn_url('photoset/spain2016/DSC04852.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('photoset/spain2016/DSC04849.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('photoset/spain2016/DSC04860.jpg'), :ratio => 1.5)

%p Tarifa is also know as kite-surfer's paradise, because there's usually a strong wind.

.columns
  = photo(:src => cdn_url('photoset/spain2016/_DSC0442.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('photoset/spain2016/_DSC0547.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('photoset/spain2016/DSC04995.jpg'), :ratio => 1.5, :class => "full")

%p Tarifa consists of a relatively modern part with lots of hotels and apartments and old town, with small alleys. From the harbour you can take the ferry to Morocco.

= photo(:src => cdn_url('photoset/spain2016/_DSC0630.jpg'), :ratio => 1.506)
.columns
  = photo(:src => cdn_url('photoset/spain2016/_DSC0641.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('photoset/spain2016/_DSC0648.jpg'), :ratio => 1.506)

%p Close to Tarifa lies Gibraltar, a large limestone ridge that is part of England. You need a passport to enter the city.
= photo(:src => cdn_url('photoset/spain2016/_DSC0684-Edit.jpg'), :ratio => 1.506, :class => 'full')

= photo(:src => cdn_url('photoset/spain2016/_DSC0708.jpg'), :ratio => 1.506)
.columns
  = photo(:src => cdn_url('photoset/spain2016/_DSC0717.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('photoset/spain2016/DSC04875.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('photoset/spain2016/_DSC0737.jpg'), :ratio => 1.506)

%p The main attraction in Gibraltar is the cable-cart to the top of the ridge, from where you have a great view. There's also a ton of monkeys.
.columns
  = photo(:src => cdn_url('photoset/spain2016/_DSC0744.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('photoset/spain2016/DSC04884.jpg'), :ratio => 1.5)

= photo(:src => cdn_url('photoset/spain2016/_DSC0739.jpg'), :ratio => 1.506)

%p After descending from the ridge, we took the car to the most northern edge of Gibraltar.
= photo(:src => cdn_url('photoset/spain2016/_DSC0760.jpg'), :ratio => 1.506, :class => "full")
.columns
  = photo(:src => cdn_url('photoset/spain2016/_DSC0764.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('photoset/spain2016/_DSC0780.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('photoset/spain2016/_DSC0762.jpg'), :ratio => 1.506)

%p One of the things on most of our bucket lists was a deep-sea fishing trip, so we found a boat with a captain and spent the day on the ocean.

= photo(:src => cdn_url('photoset/spain2016/_DSC0816.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('photoset/spain2016/_DSC0916.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('photoset/spain2016/_DSC0938.jpg'), :ratio => 1.506, :class => "full")
