---
title: "Day Seventeen"
date: 2015-11-21 00:00:00 UTC
locations:
  -
    title: 'Tokyo'
    latlng: [35.681458, 139.7672034]
---
%p Today was mostly a work day, but I took a quick trip to Tokyo station to get some delicious Okonomiyaki.
%img{:src => '//cdn.matsimitsu.com/japan2015/day-seventeen/image-3-2200x.jpg', :width => '1100', :height => '730'}

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-seventeen/image-1-2200x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-seventeen/image-2-2200x.jpg', :width => '1100', :height => '730')

%p You can see these Yamato Transport vans everywhere in Tokyo, it's a door-to-door delivery service with a pretty cool logo, a cat holding a kitten.
%img{:src => '//cdn.matsimitsu.com/japan2015/day-seventeen/image-4-2200x.jpg', :width => '1100', :height => '733'}
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-seventeen/image-6-2200x.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-seventeen/image-9-2200x.jpg', :width => '1100', :height => '733')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-seventeen/image-7-2200x.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-seventeen/image-8-1460x.jpg', :width => '733', :height => '1100')
%img{:src => '//cdn.matsimitsu.com/japan2015/day-seventeen/image-10-2200x.jpg', :width => '1100', :height => '733'}
