---
title: Day Three
date: 2016-05-15
locations:
- title: "Martyr’s Shrine"
  latlng:
  - 25.0791511
  - 121.5330752
- title: Confucius Temple
  latlng:
  - 25.0680762
  - 121.5158911
- title: Lungshan Temple
  latlng:
  - 25.035279
  - 121.499826
- title: ROC Presidential Office
  latlng:
  - 25.04
  - 121.511944
- title: Shilin Night Market
  latlng:
  - 25.0878221
  - 121.5256186
stats:
  walked_kilometers: 18.75
  weather: Sunny
  temperature: 36 &deg;C
  feels_like: 42 &deg;C
---

%p
  With a sunny day ahead we headed to our first location, the Martyr’s Shrine.
  We had quite a walk ahead, as the site was well away from any metro stations.

= photo(:src => cdn_url('asia2016/day-three/DSC03849.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2016/day-three/DSC03850.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-three/DSC03851.jpg'), :ratio => 1.5)

%p
  The shrine houses the spirit tablets of about 390,000 persons killed, among other engagements, during the Xinhai Revolution, Northern Expedition, Second Sino-Japanese War, Chinese Civil War, and the First and Second Taiwan Strait Crises.

= photo(:src => cdn_url('asia2016/day-three/_DSC0294.jpg'), :ratio => 1.506)

.columns
  = photo(:src => cdn_url('asia2016/day-three/_DSC0269.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-three/DSC03853.jpg'), :ratio => 1.5)


%p When we arrived we noticed multiple tourbusses in front of the Shrine. Loads of Chinese tourist where herded inside to see the changing of the guards. Looks like we got there just in time! (Most photos you see here are about 30 minutes later, when all the other touristes where back in their busses.)

= photo(:src => cdn_url('asia2016/day-three/DSC03856.jpg'), :ratio => 1.406, :class => :full)

.columns
  = photo(:src => cdn_url('asia2016/day-three/DSC03862.jpg'), :ratio => 0.667)
  = photo(:src => cdn_url('asia2016/day-three/DSC03863.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-three/_DSC0290.jpg'), :ratio => 1.506)

%p Even police stations are covered in advertising.
= photo(:src => cdn_url('asia2016/day-three/_DSC0308.jpg'), :ratio => 1.506)

%p On our way to the Confucius Temple we came across the Museum of Fine Art. There was only one exhibition open, but it was only 40 Eurocents and it had Airconditioning so we went inside. The exhibition was about <a href="http://www.heatherwick.com/" target="_blank">Heatherwick Studio</a>, designers of the new London Bus.

.columns
  = photo(:src => cdn_url('asia2016/day-three/_DSC0309.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-three/_DSC0312.jpg'), :ratio => 1.506)

%p Noon had passed, time for food.

.columns
  = photo(:src => cdn_url('asia2016/day-three/DSC03878.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-three/DSC03879.jpg'), :ratio => 1.5)

%p On our way to the temple we came across many small shops.

.columns
  = photo(:src => cdn_url('asia2016/day-three/DSC03880.jpg'), :ratio => 1.517)
  = photo(:src => cdn_url('asia2016/day-three/DSC03882.jpg'), :ratio => 1.5)

%h2 Confucius temple
%p Confucius was a Chinese philosopher, famous for quotes as: "It does not matter how slowly you go so long as you do not stop."
= photo(:src => cdn_url('asia2016/day-three/DSC03886.jpg'), :ratio => 1.5, :class => 'full')

.columns
  = photo(:src => cdn_url('asia2016/day-three/DSC03884.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-three/DSC03893.jpg'), :ratio => 1.5)

= photo(:src => cdn_url('asia2016/day-three/_DSC0323.jpg'), :ratio => 1.506)

%p Across the street is another temple, the "Dalongdong Baoan Temple".
= photo(:src => cdn_url('asia2016/day-three/_DSC0346.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('asia2016/day-three/_DSC0342.jpg'), :ratio => 1.506, :class => :full)
= photo(:src => cdn_url('asia2016/day-three/_DSC0344.jpg'), :ratio => 1.506)
.columns
  = photo(:src => cdn_url('asia2016/day-three/DSC03895.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-three/_DSC0350.jpg'), :ratio => 1.506)

  = photo(:src => cdn_url('asia2016/day-three/DSC03905.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2016/day-three/DSC03902.jpg'), :ratio => 0.667)
  = photo(:src => cdn_url('asia2016/day-three/_DSC0351.jpg'), :ratio => 1.506)

%p After strolling through the temples it was time to head to our next destination.
.columns
  = photo(:src => cdn_url('asia2016/day-three/_DSC0355.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-three/_DSC0356.jpg'), :ratio => 1.506)

%p Another temple! This one is named "Lungshan Temple".
= photo(:src => cdn_url('asia2016/day-three/DSC03909.jpg'), :ratio => 1.5)

%p It was crowded, hot and smokey, but nice to see.
.columns
  = photo(:src => cdn_url('asia2016/day-three/DSC03911.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-three/DSC03914.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2016/day-three/DSC03915.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-three/DSC03916.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-three/_DSC0360.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('asia2016/day-three/DSC03918.jpg'), :ratio => 1.5)


= photo(:src => cdn_url('asia2016/day-three/_DSC0368.jpg'), :ratio => 1.506, :class => :full)
%p There were multiple protests, both for- and against Chinese influcence on the way to the ROC Presidential Office. (Taiwan's White House).
.columns
  = photo(:src => cdn_url('asia2016/day-three/DSC03921.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-three/DSC03922.jpg'), :ratio => 1.433)
= photo(:src => cdn_url('asia2016/day-three/DSC03924.jpg'), :ratio => 1.5)

%p After a quick pit-stop at the hotel to shower off all the sweat, we grabbed dinner at the Shilin Night Market.
.columns
  = photo(:src => cdn_url('asia2016/day-three/DSC03931.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-three/DSC03935.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-three/DSC03936.jpg'), :ratio => 1.5)
