---
title: Day eight
date: 2017-05-12
locations:
- title: Southern Ridges
  latlng:
  - 1.2801016
  - 103.8029949
header: DSC05340.jpg
---

%p After a 20 kilometer hike we decided to do a hike today...

= photo(:src => cdn_url('asia2017/day-eight/DSC05310.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-eight/DSC05312.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-eight/DSC05313.jpg'), :ratio => 1.5)
%p The trail is called the southern ridges and connects multiple parks by several bridges.

= photo(:src => cdn_url('asia2017/day-eight/DSC05319.jpg'), :ratio => 0.667)
.columns
  = photo(:src => cdn_url('asia2017/day-eight/DSC05316.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-eight/DSC05320.jpg'), :ratio => 1.5)

%p Every now and then the city shows itself.

= photo(:src => cdn_url('asia2017/day-eight/DSC05321.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-eight/DSC05322.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-eight/DSC05325.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-eight/DSC05327.jpg'), :ratio => 1.5)
%p The scenery is amazing.
= photo(:src => cdn_url('asia2017/day-eight/DSC05330.jpg'), :ratio => 1.5)
%p We spotted several creatures along the way.

= photo(:src => cdn_url('asia2017/day-eight/DSC05332.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-eight/DSC05340.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-eight/DSC05341.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-eight/DSC05342.jpg'), :ratio => 1.5)
%p On the trail we spotted <a href="http://www.theinterlace.com/" target="_blank">The Interlace</a>, one of the largest residential structures in Singapore.
= photo(:src => cdn_url('asia2017/day-eight/DSC05345.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-eight/DSC05354.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-eight/DSC05347.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-eight/DSC05349.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-eight/DSC05355.jpg'), :ratio => 1.5)

%p After a quick shower we headed to the hawker center across the street for dinner.
= photo(:src => cdn_url('asia2017/day-eight/DSC05358.jpg'), :ratio => 1.5)

%p We discovered Mr. Baguette, who does not sell baguettes. Instead he sells things like cookie dough filled tarts or tarts filled with apple pie. The box below probably contains enough calories to last a week, but damn they are delicious!
.columns
  = photo(:src => cdn_url('asia2017/day-eight/IMG_20170512_191902.jpg'), :ratio => 1.777)
  = photo(:src => cdn_url('asia2017/day-eight/IMG_20170512_192155.jpg'), :ratio => 0.563)
