---
title: Day thirty
date: 2017-06-05
locations:
- title: tokyo
  latlng:
  - 35.6894875
  - 139.6917064
header: DSC06331.jpg
hotel:
  name: HOTEL MYSTAYS Fuji
  address: 403-0011 Yamanashi, Fujiyoshida, Arakura 2654, Japan
  image: https://t-ec.bstatic.com/images/hotel/max500/928/92856150.jpg
  priceRange: Prices for upcoming dates start at $72 per night (We Price Match)
  url: https://www.booking.com/hotel/jp/mystays-premier-fujisan.html?aid=939121
  map: https://maps.googleapis.com/maps/api/staticmap?size=1600x1200&center=35.4919643,138.7798387&sensor=false&zoom=15&markers=color:blue%7c35.4919643,138.7798387&client=gme-booking&channel=booking-frontend&signature=FA3XUUSSLwkmeA23rXP4dsXHZcI=
  description: Located in Fujiyoshida, 547 yards from Fujikyu Highland, HOTEL MYSTAYS
    Fuji features free WiFi access and free private parking.
  rating: 8.9
---
%p Our last day in Tokyo, in the afternoon we're heading to Fujiyoshida, a small town near Mt. Fuji. But first a quick hop to a random (train station) stop.
= photo(:src => cdn_url('asia2017/day-thirty/DSC06326.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty/DSC06327.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty/DSC06328.jpg'), :ratio => 1.5)
%p To our suprise, a large King-Kong appeared down the street.
.columns
  = photo(:src => cdn_url('asia2017/day-thirty/DSC06331.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty/DSC06332.jpg'), :ratio => 0.667)
= photo(:src => cdn_url('asia2017/day-thirty/DSC06334.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-thirty/DSC06339.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty/DSC06340.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty/DSC06336.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2017/day-thirty/DSC06349.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty/DSC06350.jpg'), :ratio => 0.667)

.columns
  = photo(:src => cdn_url('asia2017/day-thirty/DSC06356.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty/DSC06357.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty/DSC06370.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2017/day-thirty/DSC06359.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty/DSC06363.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty/DSC06366.jpg'), :ratio => 1.5)

= photo(:src => cdn_url('asia2017/day-thirty/DSC06367.jpg'), :ratio => 1.5)

%p After a nice morning stroll we took the tram and train back to Shinjuku station where we put our bags in lockers to get our (reserved) express train to Fujiyoshida, about two hours away from Tokyo.

.columns
  = photo(:src => cdn_url('asia2017/day-thirty/DSC06371.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty/DSC06374.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty/DSC06376.jpg'), :ratio => 1.5)
%p The views from the train are amazing, slowly the city gives way to the mountains.
= photo(:src => cdn_url('asia2017/day-thirty/DSC06377.jpg'), :ratio => 1.5)
%p Half-way to Fujiyoshida we had to switch to a local train that got us to the town.
= photo(:src => cdn_url('asia2017/day-thirty/DSC06383.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-thirty/DSC06386.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty/DSC06387.jpg'), :ratio => 1.5)
