---
title: "Highway One"
date: 2012/06/19
locations:
  -
    title: Highway One
    latlng: [36.7606931, -121.7657346]
---

= photo(:src => '//cdn.matsimitsu.com/usa2012/highway-one/20120618-_DSC0067-1200x.jpg', :width => '1200', :height => '797')
= photo(:src => '//cdn.matsimitsu.com/usa2012/highway-one/20120618-_DSC0112-1200x.jpg', :width => '1200', :height => '797')
%img.full{:src => '//cdn.matsimitsu.com/usa2012/highway-one/panorama-1-2200x.jpg'}
%p
  We took a little detour from the Highway to visit Yosemete Nat. Park.

= photo(:src => '//cdn.matsimitsu.com/usa2012/highway-one/20120618-_DSC0113-1200x.jpg', :width => '1200', :height => '797')
= photo(:src => '//cdn.matsimitsu.com/usa2012/highway-one/20120618-_DSC0123-1200x.jpg', :width => '1200', :height => '797')
= photo(:src => '//cdn.matsimitsu.com/usa2012/highway-one/20120618-_DSC0129-1200x.jpg', :width => '1200', :height => '797')
%img.full{:src => '//cdn.matsimitsu.com/usa2012/highway-one/panorama-2-2200x.jpg'}
%p
  Our trip eneded in San Francisco were we spent a few days wandering around the city.

= photo(:src => '//cdn.matsimitsu.com/usa2012/highway-one/20120618-_DSC0136-1200x.jpg', :width => '1200', :height => '797')
= photo(:src => '//cdn.matsimitsu.com/usa2012/highway-one/20120618-_DSC0146-1200x.jpg', :width => '1200', :height => '797')
= photo(:src => '//cdn.matsimitsu.com/usa2012/highway-one/20120619-_DSC0148-1200x.jpg', :width => '1200', :height => '797')
%img.full{:src => '//cdn.matsimitsu.com/usa2012/highway-one/panorama-3-2200x.jpg'}
