---
title: Day nineteen
date: 2017-05-24
locations:
- title: Sempu Island
  latlng:
  - -8.4428564
  - 112.6973355
header: _DSC0758.jpg
hotel:
  name: Swiss-Belinn Malang
  address: Jalan Veteran No. 8A, 65145 Malang, Indonesia
  image: https://t-ec.bstatic.com/images/hotel/max500/318/31809143.jpg
  url: https://www.booking.com/hotel/id/swiss-belinn-malang.html?aid=939121
  description: Featuring an outdoor pool, gym and two dining options, Swiss-Belinn
    Malang is a 5-minute walk from Malang Town Square and MX Mall.
  rating: 7.9

---
%p A slight planning hickup had us awake at 04:00 this morning to head to Sempu Island. It's a three hour drive to the coast and then a ten minute boat ride to the island itself.
= photo(:src => cdn_url('asia2017/day-nineteen/DSC05846.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-nineteen/DSC05843.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-nineteen/DSC05845.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-nineteen/DSC05847.jpg'), :ratio => 2.326)
%p The island is covered by a (mangrove) forest and we had to disembark the boat a few meters from the shore, this meant walking around the island with wet feet in my shoes.
= photo(:src => cdn_url('asia2017/day-nineteen/DSC05849.jpg'), :ratio => 1.5)

%p After a fourty minute hike we heard waves hitting the beach. It turned out the waves were hitting this hole in the rocks.
= photo(:src => cdn_url('asia2017/day-nineteen/DSC05859.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-nineteen/DSC05873.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-nineteen/_DSC0716.jpg'), :ratio => 1.506)
%p From here we had a couple of hours to relax and explore and we did so by swimming, sunbathing and making sure the monkeys didn't steal or stuff.
= photo(:src => cdn_url('asia2017/day-nineteen/DSC05877.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-nineteen/DSC05865.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-nineteen/DSC05869.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-nineteen/DSC05883.jpg'), :ratio => 1.5, :class => 'full')
.columns
  = photo(:src => cdn_url('asia2017/day-nineteen/_DSC0744.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-nineteen/_DSC0755.jpg'), :ratio => 1.506)

%p After a quick climb to get an overview shot of the bay we headed back to the boat.
= photo(:src => cdn_url('asia2017/day-nineteen/DSC05890.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2017/day-nineteen/DSC05888.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-nineteen/DSC05899.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-nineteen/_DSC0758.jpg'), :ratio => 1.506, :class => 'full')
