---
title: "Arches Nat. Park"
date: 2012/06/13
locations:
  -
    title: Arches Nat. Park
    latlng: [38.733081, -109.5925139]
---
= photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-1-1100x.jpg', :width => '1100', :height => '729')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-2-729x.jpg', :width => '729', :height => '1100')
  = photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-4-1100x.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-5-1100x.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-6-1100x.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-7-1100x.jpg', :width => '1100', :height => '729')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-8-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-9-729x.jpg', :width => '729', :height => '1100')
= photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/panorma-1.jpg', :class => 'full')
= photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-10-1100x.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-11-1100x.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-12-1100x.jpg', :width => '1100', :height => '729')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-13-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-14-729x.jpg', :width => '729', :height => '1100')
= photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-15-1100x.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-16-1100x.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-17-1100x.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-18-1100x.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-19-1100x.jpg', :width => '1100', :height => '729')
