---
title: "Arches Nat. Park"
date: 2012/06/13
locations:
  -
    title: Arches Nat. Park
    latlng: [38.733081, -109.5925139]
---
= photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-1.jpg', :width => '1100', :height => '729')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-2.jpg', :width => '729', :height => '1100')
  = photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-4.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-5.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-6.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-7.jpg', :width => '1100', :height => '729')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-8.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-9.jpg', :width => '729', :height => '1100')
= photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/panorma-1.jpg', :class => 'full')
= photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-10.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-11.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-12.jpg', :width => '1100', :height => '729')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-13.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-14.jpg', :width => '729', :height => '1100')
= photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-15.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-16.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-17.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-18.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/arches-nat-park/image-19.jpg', :width => '1100', :height => '729')
