---
title: Day thirty five
date: 2017-06-10
subtitle: Mt. Hiei, Kyoto <i class="fa fa-train"></i> Osaka
locations:
- title: Mt. Hiei
  latlng:
  - 35.048497
  - 135.8186395

hotel:
  name: Hotel Sakura Suite Osaka Juso
  address: 532-0025 Osaka Prefectuur, Osaka, Yodogawa-ku Shinkitano 1-7 , Japan
  image: https://t-ec.bstatic.com/images/hotel/max500/802/80241279.jpg
  priceRange: De prijzen voor de komende dagen beginnen vanaf € 48 per nacht (We bieden
    dezelfde prijs)
  url: https://www.booking.com/hotel/jp/sakura-suite-osaka-juso.nl.html?aid=939121
  map: https://maps.googleapis.com/maps/api/staticmap?center=34.7172853,135.4816416&markers=color:blue%7c34.7172853,135.4816416&size=1600x1200&sensor=false&zoom=15&client=gme-booking&channel=booking-frontend&signature=eCOO4D-JMBw-gRZJkEjjkRbCWfA=
  description: Hotel Sakura Suite Osaka Juso is situated in Osaka, 2.3 km from Billboard
    Live Osaka and 5 km from Osaka Castle. Guests can enjoy the on-site restaurant.
  rating: 8.5
header: DSC05198.jpg
---
%p Yesterday we made an attempt to visit Mt. Hiei, but the timing didn't work out, by the time we would be at the top, the last cablecar down the mountain would have departed. Time for a re-match, but not before having a delicious bowl of noodles. After the noodles we had to walk 2 kilometers uphill to get to the cable car.
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-five/DSC05188.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-five/DSC05191.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-five/DSC05324.jpg'), :ratio => 1.5)
%p At the top we had a great view of Sakamoto and Lake Biwa, followed by tons of temples, enjoy :)
= photo(:src => cdn_url('asia2017/day-thirty-five/DSC05196.jpg'), :ratio => 1.5, :class => 'full')
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-five/DSC05205.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-five/DSC05206.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-five/DSC05207.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-five/DSC05210.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-five/DSC05212.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-five/DSC05214.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-five/DSC05221.jpg'), :ratio => 1.5, :class => 'full')
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-five/DSC05222.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-five/DSC05224.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-five/DSC05238.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2017/day-thirty-five/DSC05234.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-five/DSC05235.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-five/DSC05250.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-five/DSC05264.jpg'), :ratio => 1.5, :class => 'full')
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-five/DSC05266.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-five/DSC05267.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-five/DSC05268.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-five/DSC05272.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-five/DSC05279.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-five/DSC05281.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-five/DSC05282.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-five/DSC05289.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-five/DSC05291.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-five/DSC05296.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-five/DSC05303.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-five/DSC05307.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-five/DSC05308.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-five/DSC05310.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-five/DSC05314.jpg'), :ratio => 1.5)
