- content_for(:meta) do
  %meta{:name => "description", :content => current_article.data.intro}

  // Facebook metadata
  %meta{:property =>"og:type",        :content => "article"}
  %meta{:property =>"og:title",       :content => "#{current_article.title} | #{blog_controller.name} | Matsimitsu"}
  %meta{:property =>"og:description", :content => current_article.data.intro}
  %meta{:property =>"og:site_name",   :content => "http://matsimitsu.com"}
  %meta{:property =>"og:url",         :content => "http://matsimitsu.com#{current_article.url}"}

  // Twitter metadata
  %meta{:property =>"twitter:site",        :content => "@matsimitsu"}
  %meta{:property =>"twitter:creator",     :content => "@matsimitsu"}
  %meta{:property =>"twitter:title",       :content => "#{current_article.title} | #{blog_controller.name} | Matsimitsu"}
  %meta{:property =>"twitter:description", :content => current_article.data.intro}
  %meta{:property =>"twitter:url",         :content => "http://matsimitsu.com#{current_article.url}"}
  %meta{:property =>"twitter:card",        :content => "summary"}

= wrap_layout :layout do
  .blog
    = partial(:blog_post, :locals => {:article => current_article})
