---
title: Day seven
date: 2017-05-11
locations:
- title: Little Arabia
  latlng:
  - 1.3012401
  - 103.8599961
- title: Gardens by the bay
  latlng:
  - 1.2816667
  - 103.8640184
header: _DSC0507.jpg
---
%p Our hotel is right next to a neighbourhood called Little Arabia, this made it perfect to explore first.
.columns
  = photo(:src => cdn_url('asia2017/day-seven/DSC05219.jpg'), :ratio => 1.711)
  = photo(:src => cdn_url('asia2017/day-seven/DSC05222.jpg'), :ratio => 0.667)

= photo(:src => cdn_url('asia2017/day-seven/DSC05223.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2017/day-seven/_DSC0463.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-seven/_DSC0461.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-seven/DSC05224.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-seven/_DSC0450.jpg'), :ratio => 1.506)

%p The apartment complexes around our hotel are painted in bright colors.

= photo(:src => cdn_url('asia2017/day-seven/DSC05227.jpg'), :ratio => 1.5)

%p It's nice to see the difference between old and new.
= photo(:src => cdn_url('asia2017/day-seven/DSC05230.jpg'), :ratio => 1.5)

%p After wandering around the neighbourhood we headed back to the hotel, it was midday and the sun was out in force. Luckily our hotel has a rooftop pool and it offers great views of the neighbourhood.
= photo(:src => cdn_url('asia2017/day-seven/DSC05237.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-seven/DSC05239.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2017/day-seven/_DSC0462.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-seven/_DSC0465.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-seven/_DSC0467.jpg'), :ratio => 1.662)

%p A familiar sight, after two years we're back at the harbor in full view of the Marina Bay Sands. This time we take the other way around to the Gardens by the Bay.
.columns
  = photo(:src => cdn_url('asia2017/day-seven/_DSC0473.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-seven/_DSC0474.jpg'), :ratio => 1.506)

%p Next to the Marina Bay Sands is a very cool looking museum. We're not here to visit though, we're on our way to a hawker center (a place with food stalls) called Satay by the Bay where we plan to eat our dinner.

.columns
  = photo(:src => cdn_url('asia2017/day-seven/_DSC0484.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-seven/_DSC0488.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-seven/_DSC0492.jpg'), :ratio => 1.506)

%p The Marina Bay Gardens are as beautiful as ever.

= photo(:src => cdn_url('asia2017/day-seven/_DSC0500.jpg'), :ratio => 1.506)

%p There are two domes inside the Garden, one holds a giant waterfall (that we visisted last time) the other one is called the "Flower dome". When we wanted to enter the dome the steward asked us if we were sure. And after we told him we were, we saw why. This dome, while still really nice, doesn't have the same impact as the other one.
= photo(:src => cdn_url('asia2017/day-seven/_DSC0502.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-seven/_DSC0505.jpg'), :ratio => 1.506)

%p The last time we were in Singapore the evening shows in the garden were cancelled, this time we were in luck, tonight's show was Star Wars themed.

= photo(:src => cdn_url('asia2017/day-seven/_DSC0507.jpg'), :ratio => 1.506, :class => "full")

%p The show was great, they did a great job matching lightning effects to the Star Wars soundtrack.
= photo(:src => cdn_url('asia2017/day-seven/DSC05293.jpg'), :ratio => 1.5, :class => 'full')
%p After the show we could either take a subway back to the hotel, or explore the other side of the river (a 10 kilometer walk).

= photo(:src => cdn_url('asia2017/day-seven/DSC05256.jpg'), :ratio => 1.5)

%p  We chose option two, totalling our total to 20 Kilometers this day.
= photo(:src => cdn_url('asia2017/day-seven/DSC05308.jpg'), :ratio => 1.79)

%p.small
  Disclaimer this post was written at 00:10 after a day where we walked over 20 kilometers in 30 degrees heat with 85% humidity, things might not make sense :P
