---
title: "Day Twenty One"
subtitle: "Sa Pả - Day Two"
date: 2015-05-25 00:00:00 UTC
locations:
  -
    title: 'Sa Pả'
    latlng: [22.3564642, 103.8738031]
---

%p We expected the same kind of trek as yesterday, this time through the valley but still with lots of shops and other merchandize on our path. Luckily we had a very awesome tourguide that took us way out of the normal route and up the mountain and through the rice paddy's for some beautifull views.

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-2.jpg', :width => '1100', :height => '730')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-6.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-28.jpg', :width => '1100', :height => '733')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-1.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-24.jpg', :width => '733', :height => '1100')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-7.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-8.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-9.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-10.jpg', :width => '1100', :height => '730')

%p On our way we met plenty of wild-life, both flying and swimming.
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-12.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-26.jpg', :width => '1100', :height => '719')
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-19.jpg', :width => '1100', :height => '730')

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-13.jpg', :width => '1100', :height => '730')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-14.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-17.jpg', :width => '730', :height => '1100')

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-15.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-20.jpg', :width => '1100', :height => '730')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-22.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-36.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-23.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-25.jpg', :width => '1100', :height => '733', :class => 'full')
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-29.jpg', :width => '1100', :height => '733')

%p At the end of our day we walked through a little town with people hard at work in the rice fields.
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-31.jpg', :width => '1100', :height => '733')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-30.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-33.jpg', :width => '1100', :height => '733')

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-34.jpg', :width => '1100', :height => '647')
