---
title: Arches National Park
date: 2011-07-10 10:00:00
locations:
- title: Arches National Park
  latlng:
  - 38.733081
  - -109.5925139

---
%p
  After a tour of Rocky Mountain National Park we passed Grand Junction and headed for Arches national park.

= photo(:src => cdn_url('usa2011/arches-national-park/_DSC0232.jpg'), :ratio => 1.506)

%p slowly but surely the landscape changed from forests to desert.

.columns
  = photo(:src => cdn_url('usa2011/arches-national-park/_DSC0224.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('usa2011/arches-national-park/_DSC0252.jpg'), :ratio => 1.506)
%p Soon the first rock formations started to show, we were getting near.
= photo(:src => cdn_url('usa2011/arches-national-park/_DSC0249.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('usa2011/arches-national-park/_DSC0320.jpg'), :ratio => 1.506)
.columns
  = photo(:src => cdn_url('usa2011/arches-national-park/_DSC0322.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('usa2011/arches-national-park/_DSC0321.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('usa2011/arches-national-park/_DSC0337.jpg'), :ratio => 1.506)

%p While travelling the state park, the landscape kept changing from desert-like to huge rock formations and back.
.columns
  = photo(:src => cdn_url('usa2011/arches-national-park/_DSC0341.jpg'), :ratio => 0.664)
  = photo(:src => cdn_url('usa2011/arches-national-park/_DSC0324.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('usa2011/arches-national-park/_DSC0345.jpg'), :ratio => 1.833)
= photo(:src => cdn_url('usa2011/arches-national-park/panorama3.jpg'), :ratio => 4.825, :class => 'full')

.columns
  = photo(:src => cdn_url('usa2011/arches-national-park/_DSC0362.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('usa2011/arches-national-park/_DSC0359.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('usa2011/arches-national-park/_DSC0364.jpg'), :ratio => 1.506)

.columns
  = photo(:src => cdn_url('usa2011/arches-national-park/_DSC0363.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('usa2011/arches-national-park/_DSC0392.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('usa2011/arches-national-park/_DSC0366.jpg'), :ratio => 1.506)
