---
title: "Day Fourteen"
subtitle: Mỹ Sơn
date: 2015-05-18 12:54:36 UTC
locations:
  -
    title: 'Mỹ Sơn'
    latlng: [15.7899443, 108.1087745]
---

%p The plan for today consisted of lying on the beach and not moving a muscle. I'm glad we didn't follow the plan. Instead we booked a private car to take us to the Mỹ Sơn heritage site.
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-fourteen/header-5.jpg', :width => '1100', :height => '730')

.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-fourteen/header-1.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-fourteen/header-2.jpg', :width => '1100', :height => '730')

%p In Typical Da Nang fashion, there was a thunderstorm heading our way when we arrived after a two hour car ride with _lots_ of honking and swirving between trucks.

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-fourteen/header-4.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-fourteen/header-6.jpg', :width => '1100', :height => '730')

%p On the plus side, normally this site is crawling with tourists, brought in by the busload. Now we were on our own.
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-fourteen/header-8.jpg', :width => '1100', :height => '730')
.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-fourteen/header-10.jpg', :width => '733', :height => '1100')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-fourteen/header-11.jpg', :width => '733', :height => '1100')

%p Surrounded by jungle in 35 degrees celcius, a thunderstorm brewing in the distance, surrounded by beautiful mountains. We were glad we didn't opt for the beach.

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-fourteen/header-7.jpg', :width => '1100', :height => '730')

.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-fourteen/header-15.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-fourteen/header-12.jpg', :width => '733', :height => '1100')
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-fourteen/header-16.jpg', :width => '1100', :height => '733')

.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-fourteen/header-14.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-fourteen/header-13.jpg', :width => '1100', :height => '733')

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-fourteen/header-17.jpg', :width => '1100', :height => '733')
