---
title: Day Ten
date: 2016-05-22
locations:
  - title: Royal Palace Park
    latlng:
    - 11.5654215
    - 104.9321322
  - title: S21
    latlng:
    - 11.549342
    - 104.9176578
  - title: Killing Fields
    latlng:
    - 11.4633714
    - 104.8901774
  - title: Independence Monument
    latlng:
    - 11.5564341
    - 104.9282125
stats:
  walked_kilometers: 9.63
  weather: Clouded
  temperature: 36 &deg;C
  feels_like: 45 &deg;C
---

%p Our main event of today was a visit to the Killing fields. The tour left around one o clock. Before that we had plenty of time to have a nice walk around the hotel.

= photo(:src => cdn_url('asia2016/day-ten/DSC04211.jpg'), :ratio => 1.5)

%p After following the river walk we came across the Royal Palace Park. The palace itself is closed on Sunday, but there were plenty of people at the park.
= photo(:src => cdn_url('asia2016/day-ten/DSC04213.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-ten/DSC04215.jpg'), :ratio => 1.5, :class => :full)

%p On the right of the palace lies another park, that has seen better days.
= photo(:src => cdn_url('asia2016/day-ten/DSC04216.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-ten/DSC04217.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-ten/DSC04219.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-ten/DSC04221.jpg'), :ratio => 1.5)

%p We looped around through Wat Bottom Park, that looked very desolate.
= photo(:src => cdn_url('asia2016/day-ten/DSC04224.jpg'), :ratio => 1.5)
.photo-row
  = photo(:src => cdn_url('asia2016/day-ten/DSC04222.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-ten/DSC04225.jpg'), :ratio => 1.5)

%p After a quick lunch at the hotel we headed to S21, a former high school turned Khmer Rouge prison &amp;interrogation center.
.photo-row
  = photo(:src => cdn_url('asia2016/day-ten/DSC04231.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-ten/DSC04227.jpg'), :ratio => 0.667)
%p We had a very nice guide show us around the complex and met one of the four living survivors.
.photo-row
  = photo(:src => cdn_url('asia2016/day-ten/DSC04229.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-ten/DSC04230.jpg'), :ratio => 1.5)

%p After the tour we headed to the Killing Fields, where the Khmer Rouge lead by Pol Pot killed thousands of people.
.photo-row
= photo(:src => cdn_url('asia2016/day-ten/DSC04242.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-ten/DSC04239.jpg'), :ratio => 0.667)
%p This monument houses hundreds of skulls and bones that were recovered from the fields.
.photo-row
  = photo(:src => cdn_url('asia2016/day-ten/DSC04241.jpg'), :ratio => 0.667)
  = photo(:src => cdn_url('asia2016/day-ten/DSC04234.jpg'), :ratio => 1.5)


= photo(:src => cdn_url('asia2016/day-ten/DSC04235.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-ten/DSC04237.jpg'), :ratio => 1.5)

%p Back in our hotel we freshened up, chilled a bit on our balcony and headed for dinner.
= photo(:src => cdn_url('asia2016/day-ten/DSC04243.jpg'), :ratio => 1.5)

%p On our way to the restaurant, called <a href="http://www.mokmony.com/" target="_blank">mok mony</a>. We came across the Independence Monument.
= photo(:src => cdn_url('asia2016/day-ten/DSC04246.jpg'), :ratio => 1.5)
.photo-row
  = photo(:src => cdn_url('asia2016/day-ten/DSC04250.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-ten/DSC04251.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-ten/DSC04252.jpg'), :ratio => 1.5)

%p After dinner the park surrounding the Independence Monument really had come to life. With loads of people chilling in the park.
= photo(:src => cdn_url('asia2016/day-ten/DSC04253.jpg'), :ratio => 1.5, :class => :full)
= photo(:src => cdn_url('asia2016/day-ten/DSC04262.jpg'), :ratio => 1.5)

.photo-row
  = photo(:src => cdn_url('asia2016/day-ten/DSC04259.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-ten/DSC04264.jpg'), :ratio => 1.5)
.photo-row
= photo(:src => cdn_url('asia2016/day-ten/DSC04267.jpg'), :ratio => 1.5)

