---
title: "Day Two"
subtitle: "Chinese Wall - Emperors Tomb "
date: 2014-05-16 09:08:55 UTC
locations:
  -
    title: Juyongguan Chinese wall
    latlng: [40.289762, 116.063887]
  -
    title: 'Emperors Tomb'
    latlng: [40.255149, 116.2235556]
---

%p
  At 8 o clock your private tourgide and driver pulled up to the hotel parking lot.
  Today the plan is to visit the Great Wall of China and a few other historic sites.
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-two/day-two-1.jpg', :width => '1100', :height => '729')
%p
  It's already 25 degrees and the sun is out in full force

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-two/day-two-2.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-two/day-two-3.jpg', :width => '729', :height => '1100')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-two/day-two-4.jpg', :width => '1100', :height => '729')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-two/day-two-5.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-two/day-two-6.jpg', :width => '1100', :height => '729')
%p
  The higher we climb, less and less other people are around.
  Most only make it to the first tower before heading back.

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-two/day-two-7.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-two/day-two-8.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-two/day-two-9.jpg', :width => '1100', :height => '729')
%p
  In the distance you can see the outskirts of Beijing.

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-two/day-two-10.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-two/day-two-11.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-two/day-two-12.jpg', :width => '1100', :height => '729')
%p
  We finally made it to the top! It took a good hour to climb this far.

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-two/day-two-13.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-two/day-two-14.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-two/day-two-15.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-two/day-two-16.jpg', :width => '1100', :height => '729')

%p
  After getting dinner we head out to visit the next site. The Spirit Walk. One of the few places and emperor wasn't carried but had to walk himself.

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-two/day-two-17.jpg', :width => '1100', :height => '729')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-two/day-two-19.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-two/day-two-20.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-two/day-two-18.jpg', :width => '1100', :height => '729')

%p
  The spirit walk is the first part of making our way to the Tomb of China's first emperor.

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-two/day-two-21.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-two/day-two-22.jpg', :width => '1100', :height => '729')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-two/day-two-24.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-two/day-two-25.jpg', :width => '1100', :height => '729')

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-two/day-two-23.jpg', :width => '1100', :height => '729')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-two/day-two-26.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-two/day-two-27.jpg', :width => '729', :height => '1100')
