---
title: "Day Seven"
subtitle: "Shinjuku, Tokyo"
date: 2014-05-21 13:52:19 UTC
locations:
  -
    title: 'Shinjuku'
    latlng: [35.6894875, 139.6917064]
---

%p
  Yet again we had to get up super early (05:00) to catch the first subway to the airport. Here we got on a packed boeing 777 to Tokyo, Japan!
  %br
  %br
  When we arrived it was raining, but that didn't matter we were tired from the short night and decided to take it easy.
  %br
  %br
  In the evening we walked around the neighbourhood of our hotel in Shinjuku.

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-seven/day-seven-1-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-seven/day-seven-2-1100x.jpg', :width => '1100', :height => '729')
%img{:src => '//cdn.matsimitsu.com/asia2014/day-seven/day-seven-3-1100x.jpg', :width => '1100', :height => '729'}

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-seven/day-seven-4-730x.jpg', :width => '729', :height => '1100')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-seven/day-seven-5-1100x.jpg', :width => '1100', :height => '729')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-seven/day-seven-6-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-seven/day-seven-7-1100x.jpg', :width => '1100', :height => '729')
%img{:src => '//cdn.matsimitsu.com/asia2014/day-seven/day-seven-8-1100x.jpg', :width => '1100', :height => '729'}

%p It was about time for dinner, and after we headed up to the lounge deck of our hotel.

%img.full{:src => '//cdn.matsimitsu.com/asia2014/day-seven/day-seven-10-1100x.jpg'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-seven/day-seven-11-1100x.jpg', :width => '1100', :height => '729'}
