---
title: "Day Sixteen"
date: 2015-11-20 00:00:00 UTC
locations:
  -
    title: 'Roppongi'
    latlng: [35.6641222, 139.729426]
---

%p After seeing the Muji store <a href="http://matsimitsu.com/travel/japan2015/day-fifteen/" target="_blank">yesterday</a>. I wondered what else Tokyo had to offer in terms of design. After a quick google I found an exhibition about architecture from the <a href="http://designhub.jp/en/" target="_blank">Tokyo Design Hub</a>. It was in Roppongi, a part of Tokyo I haven't visited before.

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-12.jpg', :width => '1100', :height => '733')
.columns
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-13.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-15.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-14.jpg', :width => '1100', :height => '733')

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-1.jpg', :width => '1100', :height => '730')

%p The exhibition was off limits for photography, as in you couldn't make close-up shots of the projects. Most of the projects explained the design choises of the buildings to fit their surroundings and the architectural process in general.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-16.jpg', :width => '1100', :height => '733')

%p After strolling through the exhibition for a while I headed to another exhibition at the Roppongi Hills tower. As usual I got lost..
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-2.jpg', :width => '1100', :height => '730')

%p In this park I noticed a lot of lights hanging in the trees and on the grass.
.columns
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-3.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-1-2.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-7.jpg', :width => '1100', :height => '730')

%p Speaking of noticing things, there are a lot of unusual things placed on roofs.
.columns
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-19.jpg', :width => '733', :height => '1100')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-17.jpg', :width => '1100', :height => '620')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-18.jpg', :width => '733', :height => '1100')

%p Finally I maded it to the Roppongi Hills tower. Before I went up, I was still in doubt if I should do it, I've already been up the SKYTREE and the Tokyo Metropolitain Government Building, but according to TripAdvisor and other online sources Roppongi Hills is the best one.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-6.jpg', :width => '1100', :height => '730')

%p There are three choises for tickets, a star tour, an art museum and a changing exhibition. I went for the Art museum and a trip to the sky deck.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-20.jpg', :width => '1100', :height => '733', :class => 'full')
%p Turns out I made the right choice, I really dig this art style and the murals are amazing.

.columns
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-22.jpg', :width => '1100', :height => '727')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-33.jpg', :width => '733', :height => '1100')

%p The artist is <a href="https://www.instagram.com/takashipom" target="_blank">Takashi Murakami</a> and he calls this style "Superflat".
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-21.jpg', :width => '1100', :height => '733', :class => 'full')

%p These are just tiny details of huge murals.
.columns
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-27.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-23.jpg', :width => '1100', :height => '733')

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-35.jpg', :width => '1100', :height => '733')

%p My plan was to catch the "golden hour" (the hour when the sun sets and casts indirect light) on the sky deck, but I spent way to much time looking at these murals. When I was done it was dark outside.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-10.jpg', :width => '1100', :height => '730', :class => 'full')

.columns
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-36.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-38.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-37.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-11.jpg', :width => '1100', :height => '731', :class => 'full')

%p After also spending way to much time up on the sky deck my stomach was telling me it was Sushi time. But not before backtracking to the park where I saw the lights in the trees, to see what was up.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-39.jpg', :width => '1100', :height => '733')
.columns
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-40.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-41.jpg', :width => '733', :height => '1100')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-42.jpg', :width => '1100', :height => '733')
.columns
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-43.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-44.jpg', :width => '1100', :height => '733')

%p The Sushi was made right in front of me by chefs that were fast and meticulous, a joy to watch.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-45.jpg', :width => '1100', :height => '733')

%p After dinner and a few beers it was time to take the train home.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-46.jpg', :width => '1100', :height => '733')
