---
title: "Day Eleven"
subtitle: "Kyoto"
date: 2014-05-25 12:24:09 UTC
locations:
  -
    title: "Kyoto"
    latlng: [35.0116363, 135.7680294]
---

%p From our hotel we took a boat to the other side of the lake at Hakone. This way we could take the bus to the Shinkansen station.

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-eleven/day-eleven-1-1100x.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-eleven/day-eleven-2-1100x.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-eleven/day-eleven-3-1100x.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-eleven/day-eleven-4-1100x.jpg', :width => '1100', :height => '729')

%p
  We're off to Kyoto in a super nice Shinkansen
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-eleven/day-eleven-5-1100x.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-eleven/day-eleven-6-1100x.jpg', :width => '1100', :height => '729')
%p
  After two hours we arrived in Kyoto. Were we explored the Gion district near our hotel.

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eleven/day-eleven-8-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eleven/day-eleven-9-1100x.jpg', :width => '1100', :height => '729')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eleven/day-eleven-10-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eleven/day-eleven-11-1100x.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-eleven/day-eleven-12-1100x.jpg', :width => '1100', :height => '729')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eleven/day-eleven-13-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eleven/day-eleven-15-1100x.jpg', :width => '1100', :height => '729')
%img.full{:src => '//cdn.matsimitsu.com/asia2014/day-eleven/day-eleven-16-1100x.jpg', :width => '1100', :height => '729'}
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eleven/day-eleven-18-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eleven/day-eleven-19-1100x.jpg', :width => '1100', :height => '729')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eleven/day-eleven-17-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eleven/day-eleven-20-1100x.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-eleven/day-eleven-21-1100x.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-eleven/day-eleven-22-1100x.jpg', :width => '1100', :height => '729')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eleven/day-eleven-24-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eleven/day-eleven-25-1100x.jpg', :width => '1100', :height => '729')

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-eleven/day-eleven-29-1100x.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-eleven/day-eleven-30-1100x.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-eleven/day-eleven-31-1100x.jpg', :width => '1100', :height => '729')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eleven/day-eleven-33-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eleven/day-eleven-34-1100x.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-eleven/day-eleven-35-1100x.jpg', :width => '1100', :height => '729')
