---
title: "Day One - Two"
subtitle: "Miami Beach"
date: 2014-10-07 13:45:47 UTC
locations:
  -
    title: Miami Beach
    latlng: [25.790654, -80.1300455]
---
%p After 14 hours worth of flights, we finally arrived in sunny Miami. At this point we've been up for 30+ hours so we went to the "<a href="http://www.bnbjoint.com/">Buger and Beer Joint</a>", got amazing burgers and went to bed.
%p The next morning we decided to visit the Art Deco district.

= photo(:src => '//cdn.matsimitsu.com/usa2014/day-one-two/image-3.jpg', :width => '1100', :height => '733')
.columns
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-one-two/image-1.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-one-two/image-2.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/usa2014/day-one-two/image-4.jpg', :width => '1100', :height => '733')
.columns
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-one-two/image-5.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-one-two/image-6.jpg', :width => '1100', :height => '733')
.columns
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-one-two/image-7.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-one-two/image-8.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/usa2014/day-one-two/image-9.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/usa2014/day-one-two/image-10.jpg', :width => '1100', :height => '733', :class => 'full')
.columns
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-one-two/image-11.jpg', :width => '1100', :height => '530')
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-one-two/image-13.jpg', :width => '1100', :height => '733')
.columns.tall-wide
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-one-two/image-14.jpg', :width => '733', :height => '1100')
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-one-two/image-15.jpg', :width => '1100', :height => '733')
