---
title: Death Valley National Park
date: 2011-07-13
locations:
- title: 'Death Valley National Park'
  latlng:
  - 36.5053891
  - -117.0794078

---
%p
  After all those parks we drove to Las Vegas where we forgot to book a hotel beforehand. This ended up costing us a lot of money as they charge almost double the rate if you are a walk-in. Vegas itself was nice, but i've been there before and it really only impresses the first time you see it. We decided that one day in Vegas was enough and drove to Death Valley.

= photo(:src => cdn_url('usa2011/death-valley-national-park/_DSC0622.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('usa2011/death-valley-national-park/_DSC0623.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('usa2011/death-valley-national-park/_DSC0631.jpg'), :ratio => 1.506)

%p The photo below cars belonging to a Twenty-mule team. This team of 18 mules and two horses were used to carry Borax out of the valley.
= photo(:src => cdn_url('usa2011/death-valley-national-park/_DSC0635.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('usa2011/death-valley-national-park/_DSC0644.jpg'), :ratio => 1.506, :class => 'full')
= photo(:src => cdn_url('usa2011/death-valley-national-park/_DSC0646.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('usa2011/death-valley-national-park/_DSC0676.jpg'), :ratio => 1.506)

.photo-row
  = photo(:src => cdn_url('usa2011/death-valley-national-park/_DSC0658.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('usa2011/death-valley-national-park/_DSC0665.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('usa2011/death-valley-national-park/_DSC0651.jpg'), :ratio => 1.506)
