---
title: "Day Seven"
subtitle: KL Tower - Merdeka Square - Bukit Bintang
date: 2015-05-11 12:54:36 UTC
locations:
  -
    title: 'KL Tower'
    latlng: [3.152778, 101.703333]
  -
    title: 'Merdeka Square'
    latlng: [3.147744, 101.6934862]
  -
    title: 'Bukit Bintang'
    latlng: [3.145914, 101.7104299]
---

%p Our goal for today was Merdeka Square (Independence Square). On our way there we came across the KL Tower, once the tallest tower in Singapore before the Petronas building opened.

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-seven/header-4-1100x.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-seven/header-3-734x.jpg', :width => '733', :height => '1100')

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-seven/header-2-2200x.jpg', :width => '1100', :height => '730', :class => 'full')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-seven/header-1-1100x.jpg', :width => '1100', :height => '717')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-seven/header-5-1100x.jpg', :width => '1100', :height => '733')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-seven/header-6-1100x.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-seven/header-7-1100x.jpg', :width => '1100', :height => '733')

%p Around the tower is a park with a walkway that runs between the trees. On our way across we had to chase away a couple of monkeys, as they tend to bite.

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-seven/header-8-1100x.jpg', :width => '1100', :height => '733')

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-seven/header-9-1100x.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-seven/header-11-1100x.jpg', :width => '1100', :height => '733')

%h2 Merdeka Square
%p When we arrived at the square a thunderstorm was rolling in. At this point it isn't the best idea to stand right next to the tallest flagpole in the area, so we headed to Bukit Bintang, an area with lots of streetfood and bars.

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-seven/header-12-1100x.jpg', :width => '1100', :height => '733')

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-seven/header-13-2200x.jpg', :width => '1100', :height => '377', :class => 'full')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-seven/header-15-1100x.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-seven/header-14-734x.jpg', :width => '733', :height => '1100')

%h2 Bukit Bintang
%p In Bukit Bintang we wandered around for a bit before we finally sat down and enjoyed delicious beer and chinese food.

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-seven/header-16-1100x.jpg', :width => '1100', :height => '733')

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-seven/header-17-1100x.jpg', :width => '1100', :height => '731')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-seven/header-18-1100x.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-seven/header-19-1100x.jpg', :width => '1100', :height => '733')

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-seven/header-21-1100x.jpg', :width => '1100', :height => '733')
