---
title: "Day Thirteen - Fourteen"
subtitle: "Austin - Houston"
date: 2014-10-17 13:45:47 UTC
locations:
  -
    title: Hamilton Pool
    latlng: [30.1902067, -98.0866781]
  -
    title: George Bush Intercontinental Airport
    latlng: [29.9867141, -95.3479248]
---

%p After visting many cities we wanted to see a bit more nature, so we headed to the Hamilton Pool in Austin, Texas.


= photo(:src => '//cdn.matsimitsu.com/usa2014/day-thirteen-fourteen/image-13.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2014/day-thirteen-fourteen/image-17.jpg', :width => '1100', :height => '731')

.columns
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-thirteen-fourteen/image-14.jpg', :width => '1100', :height => '731')
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-thirteen-fourteen/image-16.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2014/day-thirteen-fourteen/image-20.jpg', :width => '1100', :height => '731')
.columns
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-thirteen-fourteen/image1-12.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-thirteen-fourteen/image1-13.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/usa2014/day-thirteen-fourteen/image1-15.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/usa2014/day-thirteen-fourteen/image-22.jpg', :width => '1100', :height => '731')
%p After driving back to Houston, we checked in to our last hotel and the next day we spent 14 hours inside aircraft flying back to Amsterdam.
= photo(:src => '//cdn.matsimitsu.com/usa2014/day-thirteen-fourteen/image1-14.jpg', :width => '1100', :height => '733')
