---
title: "Day Twelve"
subtitle: "Fushimi Inari - Kiyomizu-dera"
date: 2014-05-26 13:18:59 UTC
locations:
  -
    title: Fushimi Inari
    latlng: [34.9686518, 135.7709737]
  -
    title: Kiyomizu-dera
    latlng: [34.9948561, 135.7850463]
---
%p First stop of the day: the Fushimi Inari shrine. It's built on a mountain and has hundreds of "Tori gates" leading up to it.

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-1.jpg', :width => '1100', :height => '729')

.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-2.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-3.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-4.jpg', :width => '1100', :height => '729')
.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-5.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-6.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-7.jpg', :width => '1100', :height => '729')

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-9.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-10.jpg', :width => '1100', :height => '729')

%p At some point we got of the Tori gate path and explored the forest.
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-11.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-12.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-13.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-14.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-15.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-16.jpg', :width => '1100', :height => '729')

.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-17.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-18.jpg', :width => '1100', :height => '729')

.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-19.jpg', :width => '1100', :height => '792')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-20.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-21.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-22.jpg', :width => '1100', :height => '729')
.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-23.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-24.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-25.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-26.jpg', :width => '1100', :height => '729')
%p Back down from the montain we got a nice lunch snack: Meat on a stick.

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-27.jpg', :width => '1100', :height => '729')

%p After lunch we took the train back to Kyoto station and from there we went by subway and on foot to the Kiyomizu-dera shrine.


= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-28.jpg', :width => '1100', :height => '729')
.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-29.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-30.jpg', :width => '729', :height => '1100')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-31.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-32.jpg', :width => '1100', :height => '729')

%p There were a couple of routes up the montain, most were past shops, but we took the one across a cemetery. It also had started to rain and it wouldn't stop untill late that evening.

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-33.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-34.jpg', :width => '1100', :height => '729')
.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-35.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-36.jpg', :width => '1100', :height => '729')
.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-37.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-38.jpg', :width => '1100', :height => '729')

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-40.jpg', :width => '1100', :height => '729')

.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-41.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-42.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-43.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-44.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-45.jpg', :width => '1100', :height => '729')
