---
title: Rocky Mountain National Park
date: 2011-07-09
locations:
- title: Rocky Mountain National Park
  latlng:
  - 40.3427932
  - -105.6836389

---

%p
  After landing at Newark Liberty International Airport from Amsterdam we took the bus to Allentown Pennsylvania to a relative where we stayed a few days to sleep off the Jetlag. After that we headed to the local airport to get our rental vehicle for the coming month, a Jeep Grand Cherokee, and headed west to Denver Colorado.

.photo-row
  = photo(:src => cdn_url('usa2011/rocky-mountain-national-park/_DSC0036.jpg'), :ratio => 0.664)
  = photo(:src => cdn_url('usa2011/rocky-mountain-national-park/_DSC0045.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('usa2011/rocky-mountain-national-park/_DSC0050.jpg'), :ratio => 1.506)
.photo-row
  = photo(:src => cdn_url('usa2011/rocky-mountain-national-park/_DSC0070.jpg'), :ratio => 0.664)
  = photo(:src => cdn_url('usa2011/rocky-mountain-national-park/_DSC0217.jpg'), :ratio => 0.664)

= photo(:src => cdn_url('usa2011/rocky-mountain-national-park/_DSC0076-Edit.jpg'), :ratio => 2.638, :class => 'full')
= photo(:src => cdn_url('usa2011/rocky-mountain-national-park/_DSC0155.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('usa2011/rocky-mountain-national-park/_DSC0197.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('usa2011/rocky-mountain-national-park/rockies_pan2.jpg'), :ratio => 4.082, :class => 'full')
= photo(:src => cdn_url('usa2011/rocky-mountain-national-park/_DSC0204.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('usa2011/rocky-mountain-national-park/_DSC0207.jpg'), :ratio => 1.506)
