---
title: "Bryce Canyon"
date: 2011/06/14
locations:
  -
    title: Bryce Canyon
    latlng: [37.6283161, -112.1676947]
---

%p
  The next day it was time for two more parks, Bryce Canyon and Zion National Park. Unfortunately the weather was a bit more rainy then the days before, but it did make for some beautiful photos.

= photo(:src => '//cdn.matsimitsu.com/usa2011/bryce-canyon/bryce_pan-2200x.jpg', :class => 'full')
= photo(:src => '//cdn.matsimitsu.com/usa2011/bryce-canyon/DSC0512-1280x.jpg', :width => '1280', :height => '850')
= photo(:src => '//cdn.matsimitsu.com/usa2011/bryce-canyon/DSC0515-1280x.jpg', :width => '1280', :height => '1927')
= photo(:src => '//cdn.matsimitsu.com/usa2011/bryce-canyon/bryce_pan3-2200x.jpg', :class => 'full')
= photo(:src => '//cdn.matsimitsu.com/usa2011/bryce-canyon/DSC0528-Edit-1280x.jpg', :width => '1280', :height => '461')
= photo(:src => '//cdn.matsimitsu.com/usa2011/bryce-canyon/DSC0546-1280x.jpg', :width => '1280', :height => '850')
= photo(:src => '//cdn.matsimitsu.com/usa2011/bryce-canyon/bryce_pan_5-2200x.jpg', :class => 'full')
