---
title: "Day Eight"
subtitle: "SKYTREE, Asakusa, Ueno, Akihabara"
date: 2014-05-22 13:45:47 UTC
locations:
  -
    title: SKYTREE
    latlng: [35.7100627, 139.8107004]
  -
    title: Asakusa
    latlng: [35.7118881, 139.796686]
  -
    title: Ueno
    latlng: [35.7089461, 139.7742683]
  -
    title: Akihabara
    latlng: [35.7020691, 139.7753269]
---

%p
  After a good nights rest we headed to one of the most popular attractions in Tokyo, the SKYTREE.
  We had to wait for over an hour to get tickets, but it's worth it!

%img{:src => '//cdn.matsimitsu.com/asia2014/day-eight/day-eight-1-1100x.jpg', :width => '1100', :height => '1470'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-eight/day-eight-2-1100x.jpg', :width => '1100', :height => '729'}
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eight/day-eight-4-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eight/day-eight-5-1100x.jpg', :width => '1100', :height => '729')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eight/day-eight-6-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eight/day-eight-7-1100x.jpg', :width => '1100', :height => '729')
%img{:src => '//cdn.matsimitsu.com/asia2014/day-eight/day-eight-8-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-eight/day-eight-9-1100x.jpg', :width => '1100', :height => '729'}

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eight/day-eight-10-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eight/day-eight-11-730x.jpg', :width => '729', :height => '1100')

%p
  After we got down from the SkyTree we took the subway to Asakusa where we visited the SensÅ-ji temple.
%img{:src => '//cdn.matsimitsu.com/asia2014/day-eight/day-eight-12-1100x.jpg', :width => '1100', :height => '729'}

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eight/day-eight-13-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eight/day-eight-14-1100x.jpg', :width => '1100', :height => '729')
%img{:src => '//cdn.matsimitsu.com/asia2014/day-eight/day-eight-15-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-eight/day-eight-16-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-eight/day-eight-17-1100x.jpg', :width => '1100', :height => '729'}

%img{:src => '//cdn.matsimitsu.com/asia2014/day-eight/day-eight-18-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-eight/day-eight-19-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-eight/day-eight-20-1100x.jpg', :width => '1100', :height => '729'}

%p
  It took us a good 20 minutes to get the right subway card (PASMO), but it was worth it! Together with our RailPass we're able to take any train/subway in Tokyo. This time it's to Ueno.

%img{:src => '//cdn.matsimitsu.com/asia2014/day-eight/day-eight-21-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-eight/day-eight-22-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-eight/day-eight-23-1100x.jpg', :width => '1100', :height => '729'}

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eight/day-eight-25-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eight/day-eight-26-1100x.jpg', :width => '1100', :height => '729')
%img{:src => '//cdn.matsimitsu.com/asia2014/day-eight/day-eight-27-1100x.jpg', :width => '1100', :height => '729'}

%p
  After some Starbucks coffee it was early in the evening. A perfect time to visit the Anime and video games hotspot of Akihabara.
%p
  Here we spent pretty much the entire evening in one of the SEGA buildings playing Initial D, Operation GHOST, Daytona and many other games.

%img{:src => '//cdn.matsimitsu.com/asia2014/day-eight/day-eight-28-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-eight/day-eight-29-1100x.jpg', :width => '1100', :height => '729'}
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eight/day-eight-30-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eight/day-eight-31-1100x.jpg', :width => '1100', :height => '729')
%img{:src => '//cdn.matsimitsu.com/asia2014/day-eight/day-eight-32-1100x.jpg', :width => '1100', :height => '729'}
