---
title: Day Eight
date: 2016-05-20
locations:
- title: Vimanmek Mansion
  latlng:
  - 13.7726943
  - 100.5099262
- title: The Ananta Samakom Throne Hall
  latlng:
  - 13.7714242
  - 100.5136807
stats:
  walked_kilometers: 8.11
  weather: Sunny
  temperature: 34 &deg;C
  feels_like: 40 &deg;C
---

%p Because of Vesak Day (Buddha Day) today in Thailand, the Grand Palace was closed, so we had to change our plans and we went to Vimanmek Mansion, the world's largest golden teakwood mansion.

= photo(:src => cdn_url('asia2016/day-eight/DSC04168.jpg'), :ratio => 1.5)

%p There were very strict rules and photography was not allowed inside. (They frisk you and you're not allowed to have anything except a wallet or keys on you). This mansion is part of the large Dusit Palace complex.

= photo(:src => cdn_url('asia2016/day-eight/DSC04170.jpg'), :ratio => 1.5)

%p Around the corner was The Ananta Samakom Throne Hall, the royal reception hall within Dusit Palace in Bangkok, Thailand.
= photo(:src => cdn_url('asia2016/day-eight/DSC04179.jpg'), :ratio => 1.5, :class => :full)
= photo(:src => cdn_url('asia2016/day-eight/DSC04180.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-eight/DSC04181.jpg'), :ratio => 1.5)

%p Becaue of the "formal attire" we had to wear for the palaces (long trousers), we had enough of the heat by 3 o clock and went back to our hotel pool for a nice refreshing dive.
= photo(:src => cdn_url('asia2016/day-eight/DSC04184.jpg'), :ratio => 1.5)
