---
title: "Day Thirteen"
date: 2015-11-17 00:00:00 UTC
locations:
  -
    title: 'Fujisawa'
    latlng: [35.3010401, 139.4817895]
  -
    title: 'KÅtoku-in'
    latlng: [35.3167005, 139.5361209]
---
%p Today I traded in the concrete jungle for a rock in the ocean called "Fujisawa". From where you'd supposedly have a great view of Mt. Fuji (That I still havent' seen yet). It takes about 1.5 hours to get there from Tokyo.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-3.jpg', :width => '1100', :height => '730')
.columns
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-1.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-2.jpg', :width => '1100', :height => '730')

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-4.jpg', :width => '1100', :height => '730')

%p It takes about half an hour to cross the Island (you have to go over the top with lots of climbing), but the view on the other side is amazing.

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-18.jpg', :width => '1100', :height => '733')

%p After two trips it finally happened, for once Mt. Fuji wasn't covered in clouds.

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-17.jpg', :width => '1100', :height => '733', :class => 'full')

.columns
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-6.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-7.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-16.jpg', :width => '1100', :height => '733')

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-8.jpg', :width => '1100', :height => '730')

%p The island itself has a few temples/shrines and lots of places to eat.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-9.jpg', :width => '1100', :height => '730')

.columns
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-14.jpg', :width => '733', :height => '1100')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-15.jpg', :width => '1100', :height => '733')

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-10.jpg', :width => '1100', :height => '730')

%p After returning from the island I took a small train along the coast. I checked TripAdvisor to see if anything interesting was near, and it came up with this giant Buddha statue.

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-12.jpg', :width => '1100', :height => '730', :class => 'full')

%p The sign near the statue said there was a trail to the next train station, with still an hour of daylight to spare, I decided to take the hike.

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-19.jpg', :width => '1100', :height => '733')
.columns
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-20.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-21.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-23.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-26.jpg', :width => '1100', :height => '733')

%p As always the day ended with a train trip home.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-27.jpg', :width => '1100', :height => '733')
