---
title: "Day Thirteen"
date: 2015-11-17 00:00:00 UTC
locations:
  -
    title: 'Fujisawa'
    latlng: [35.3010401, 139.4817895]
  -
    title: 'KÅtoku-in'
    latlng: [35.3167005, 139.5361209]
---
%p Today I traded in the concrete jungle for a rock in the ocean called "Fujisawa". From where you'd supposedly have a great view of Mt. Fuji (That I still havent' seen yet). It takes about 1.5 hours to get there from Tokyo.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-3-2200x.jpg', :width => '1100', :height => '730')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-1-1100x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-2-1100x.jpg', :width => '1100', :height => '730')

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-4-2200x.jpg', :width => '1100', :height => '730')

%p It takes about half an hour to cross the Island (you have to go over the top with lots of climbing), but the view on the other side is amazing.

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-18-2200x.jpg', :width => '1100', :height => '733')

%p After two trips it finally happened, for once Mt. Fuji wasn't covered in clouds.

%img.full{:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-17-2200x.jpg', :width => '1100', :height => '733'}

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-6-2200x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-7-2200x.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-16-2200x.jpg', :width => '1100', :height => '733')

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-8-2200x.jpg', :width => '1100', :height => '730')

%p The island itself has a few temples/shrines and lots of places to eat.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-9-2200x.jpg', :width => '1100', :height => '730')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-14-1460x.jpg', :width => '733', :height => '1100')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-15-2200x.jpg', :width => '1100', :height => '733')

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-10-2200x.jpg', :width => '1100', :height => '730')

%p After returning from the island I took a small train along the coast. I checked TripAdvisor to see if anything interesting was near, and it came up with this giant Buddha statue.

%img.full{:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-12-2200x.jpg', :width => '1100', :height => '730'}

%p The sign near the statue said there was a trail to the next train station, with still an hour of daylight to spare, I decided to take the hike.

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-19-2200x.jpg', :width => '1100', :height => '733')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-20-1100x.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-21-1100x.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-23-2200x.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-26-2200x.jpg', :width => '1100', :height => '733')

%p As always the day ended with a train trip home.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-thirteen/image-27-2200x.jpg', :width => '1100', :height => '733')
