---
title: Day twenty two
date: 2017-05-27
locations:
- title: Ijen Crater
  latlng:
  - -8.0583811
  - 114.243299
header: _DSC0883.jpg
hotel:
  name: Hotel Santika Banyuwangi
  address: Jl. Letjend S.parman No. 15, 68418 Banyuwangi, Indonesia
  image: https://t-ec.bstatic.com/images/hotel/max500/461/46102749.jpg
  url: https://www.booking.com/hotel/id/santika-banyuwangi.html?aid=939121
  description: Offering an outdoor swimming pool, free WiFi access and an on-site
    restaurant, Hotel Santika Banyuwangi is located just a 10-mintue drive from Banyuwangi...
  rating: 8.1

---

%p Once again we were picked up by our <a href="https://www.viator.com/tours/East-Java/Ijen-Blue-Fire-Tours/d24869-27057P1" target="_blank">tourguide</a> and driver from our hotel at 00:00 for an hour long drive to the Ijen Crater. This crater is famous for it's blue fire. The blue fire is ignited sulphuric gas, which emerges from cracks at temperatures up to 600 degrees Celsius. At one point you could go down into the crater to get close to the fire, but due to a few incidents where visitors collapsed only miners are allowed to go into the crater.
= photo(:src => cdn_url('asia2017/day-twenty-two/DSC05935.jpg'), :ratio => 1.5)

%p The miners get sulfur from the crater, these 60-75kg baskets have to be carried up from the crater and down the mountain to the nearest village.
= photo(:src => cdn_url('asia2017/day-twenty-two/DSC05910.jpg'), :ratio => 1.5)

%p After the blue fire we hiked further up the mountain to see the sunrise.

= photo(:src => cdn_url('asia2017/day-twenty-two/_DSC0812.jpg'), :ratio => 1.506)
.columns
  = photo(:src => cdn_url('asia2017/day-twenty-two/DSC05945.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-twenty-two/DSC05952.jpg'), :ratio => 1.5)

= photo(:src => cdn_url('asia2017/day-twenty-two/_DSC0827.jpg'), :ratio => 1.506)
.columns
  = photo(:src => cdn_url('asia2017/day-twenty-two/_DSC0867.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-twenty-two/_DSC0915.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('asia2017/day-twenty-two/_DSC0844.jpg'), :ratio => 1.506, :class => "full")

%p At 05:00 in the morning the crater was still filled with fog and smoke from the sulphuric gas, we had to wait untill the fog was driven away to see the acid lake.
= photo(:src => cdn_url('asia2017/day-twenty-two/_DSC0887.jpg'), :ratio => 1.556)

= photo(:src => cdn_url('asia2017/day-twenty-two/_DSC0862.jpg'), :ratio => 1.506)
.columns
  = photo(:src => cdn_url('asia2017/day-twenty-two/_DSC0864.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-twenty-two/_DSC0813.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-twenty-two/_DSC0891.jpg'), :ratio => 1.506)

%p The lake is the largest acidic lake in the world.
= photo(:src => cdn_url('asia2017/day-twenty-two/_DSC0892.jpg'), :ratio => 1.506)
.columns
  = photo(:src => cdn_url('asia2017/day-twenty-two/DSC05960.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-twenty-two/_DSC0935.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-twenty-two/_DSC0949.jpg'), :ratio => 1.506, :class => 'full')

%p After spending a few hours on the mountain we headed back to the car, the fog-filled mountains were beatiful.

= photo(:src => cdn_url('asia2017/day-twenty-two/_DSC0957.jpg'), :ratio => 1.506)
.columns
  = photo(:src => cdn_url('asia2017/day-twenty-two/_DSC0960.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-twenty-two/_DSC0966.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-twenty-two/_DSC0968.jpg'), :ratio => 1.506)

%p We passed the blue fire outlook from earlier on the evening, you can see the miners equipment lying around everywhere.
= photo(:src => cdn_url('asia2017/day-twenty-two/_DSC0974.jpg'), :ratio => 1.506)

%p At around eight in the morning we were back at the hotel, just in time for breakfast and sleep.
= photo(:src => cdn_url('asia2017/day-twenty-two/_DSC0975.jpg'), :ratio => 1.506)

