---
title: Day seventeen
date: 2017-05-22
locations:
- title: Jodipan Village
  latlng:
  - -7.983221499999999
  - 112.6376315
header: _DSC0271.jpg
hotel:
  name: Swiss-Belinn Malang
  address: Jalan Veteran No. 8A, 65145 Malang, Indonesia
  image: https://t-ec.bstatic.com/images/hotel/max500/318/31809143.jpg
  url: https://www.booking.com/hotel/id/swiss-belinn-malang.html?aid=939121
  description: Featuring an outdoor pool, gym and two dining options, Swiss-Belinn
    Malang is a 5-minute walk from Malang Town Square and MX Mall.
  rating: 7.9

---

%p At 00:00 in the evening we had a tour planned to Mt. Bromo. With that in mind we took a small, easy trip to a few tourist spots in Malang.

= photo(:src => cdn_url('asia2017/day-seventeen/_DSC0234.jpg'), :ratio => 1.506)
.columns
  = photo(:src => cdn_url('asia2017/day-seventeen/_DSC0236.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-seventeen/_DSC0238.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-seventeen/_DSC0242.jpg'), :ratio => 1.506)
.columns
  = photo(:src => cdn_url('asia2017/day-seventeen/_DSC0243.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-seventeen/_DSC0262.jpg'), :ratio => 1.506)
%p Kampung Warna- Warni, better known as Jodipan Village used to be a run-of-the-mill village near the main train station of Malang.
= photo(:src => cdn_url('asia2017/day-seventeen/_DSC0246.jpg'), :ratio => 1.506, :class => 'full')
.columns
  = photo(:src => cdn_url('asia2017/day-seventeen/_DSC0247.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-seventeen/_DSC0265.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('asia2017/day-seventeen/_DSC0249.jpg'), :ratio => 1.727)

%p Eight college students of Universitas Muhammadiyah Malang (UMM) have changed this village by colouring the villlage with different colours around the environment.

= photo(:src => cdn_url('asia2017/day-seventeen/_DSC0255.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-seventeen/_DSC0271.jpg'), :ratio => 1.506)
.columns
  = photo(:src => cdn_url('asia2017/day-seventeen/_DSC0276.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-seventeen/_DSC0281.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-seventeen/_DSC0287.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('asia2017/day-seventeen/DSC05641.jpg'), :ratio => 1.5)

%p After the colourful village, we decided to walk back to the hotel instead of taking an Uber, just to see the city. We came across city hall.
.columns
  = photo(:src => cdn_url('asia2017/day-seventeen/DSC05649.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-seventeen/DSC05651.jpg'), :ratio => 1.5)
