---
title: "Day Five"
subtitle: "Gyeongbokgung Palace - Bukchon Village - The War Memorial of Korea <br />  Bongeunsa - Gangnam - Banpo Bridge"
date: 2014-05-19 14:32:03 UTC
locations:
  -
    title: 'Gyeongbokgung Palace'
    latlng: [37.579617, 126.977041]
  -
    title: 'Bukchon Village'
    latlng: [37.580766, 126.9849454]
  -
    title: 'War Memorial of Korea'
    latlng: [37.536927, 126.977137]
  -
    title: 'Bongeunsa'
    latlng: [37.51532, 127.057436]
  -
    title: 'Gangnam'
    latlng: [37.5172363, 127.0473248]
  -
    title: 'Banpo Bridge'
    latlng: [37.516125, 126.995747]

---

%p
  When we arrived at the Gyeongbokgung site, we could hear some drums playing in the distance. Turns out it was the changing of the guards cerimony.

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-first-1.jpg', :width => '1100', :height => '729')
.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-first-2.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-first-3.jpg', :width => '1100', :height => '729')

%p After that it was time to get ticket and see the palace.
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-first-6.jpg', :width => '1100', :height => '729')

.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-first-4.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-first-5.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-first-7.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-first-8.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-first-9.jpg', :width => '1100', :height => '729')

%p We made our way to Bukchon village, a nice little area where residents live in traditional built houses.

.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-1.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-2.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-3.jpg', :class => 'full')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-4.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-5.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-6.jpg', :width => '1100', :height => '729')

%p
  Next up is the The War Memorial of Korea.
.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-8.jpg', :width => '729', :height => '1100')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-9.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-10.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-11.jpg', :width => '1100', :height => '729')
%p
  Inspired by a certain song we decided to check out Gangnam.
  Like every destination today, we take the subway to reach it.
  It's one of the most clean and efficient subways i've come across.

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-12.jpg', :width => '1100', :height => '729')

%p
  Our original plan was to go to a park, but it was closed this monday.
  This Buddist temple was a good replacement though.

.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-13.jpg', :width => '729', :height => '1100')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-14.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-15.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-16.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-17.jpg', :width => '1100', :height => '729')

%p
  Time to get some dinner and wander around Gangnam.
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-18.jpg', :width => '1100', :height => '729')

.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-19.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-20.jpg', :width => '729', :height => '1100')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-21.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-22.jpg', :width => '1100', :height => '729')

%p
  Last on our list was the Banpo Bridge.
  It has a light and light and water show mounted on the side.
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-23.jpg', :width => '2200', :height => '1171')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-24.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-25.jpg', :class => 'full')

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-five/day-five-27.jpg', :width => '1100', :height => '729')
