---
title: Day twenty five
date: 2017-05-30
locations:
- title: Kampong Ayer
  latlng:
  - 4.8826698
  - 114.9442708
header: _DSC0001.jpg
hotel:
  name: The Capital Residence Suites
  address: Simpang 2, Lot 21027, Kg. Berangan, BS8211 Bandar Seri Begawan, Brunei
  image: https://t-ec.bstatic.com/images/hotel/max500/334/33415751.jpg
  url: https://www.booking.com/hotel/bn/the-capital-residence-suites.html?aid=939121
  description: The Capital Residence Suites is located in Bandar Seri Begawan only
    300 metres from the Royal Regalia Museum.
  rating: 8.5

---

%p We decided to do a small hike in the morning in a park nearby. We had slightly underestimated the temperature and humidity levels. During Ramadan you're not allowed to drink water, this made the hike a lot more difficult. The scenery was beautiful though.
= photo(:src => cdn_url('asia2017/day-twenty-five/DSC06032.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-twenty-five/DSC06011.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-twenty-five/DSC06017.jpg'), :ratio => 1.5)

%p After a quick shower we headed to the waterside where we got on a water taxi to head to Kampong Ayer, a water village.
= photo(:src => cdn_url('asia2017/day-twenty-five/DSC06035.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2017/day-twenty-five/DSC06041.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-twenty-five/DSC06042.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-twenty-five/DSC06043.jpg'), :ratio => 1.5)

%p Around 39.000 people live in this village and they enjoy all the modern amenities such as Air conditioning, internet and plumbing.

= photo(:src => cdn_url('asia2017/day-twenty-five/_DSC0001.jpg'), :ratio => 1.506)

.columns
  = photo(:src => cdn_url('asia2017/day-twenty-five/DSC06044.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-twenty-five/DSC06046.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-twenty-five/DSC06050.jpg'), :ratio => 1.5)

%p The village has it's own police station, fire station, mosques, schools and so on.

= photo(:src => cdn_url('asia2017/day-twenty-five/DSC06055.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-twenty-five/DSC06061.jpg'), :ratio => 1.5, :class => 'full')
= photo(:src => cdn_url('asia2017/day-twenty-five/DSC06065.jpg'), :ratio => 1.5)
%p Besides the houses on wooden stilts, recent developments consisted of modern homes on concrete pilars.

.columns
  = photo(:src => cdn_url('asia2017/day-twenty-five/DSC06038.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-twenty-five/DSC06073.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-twenty-five/DSC06079.jpg'), :ratio => 1.5)
