---
title: "Day Three - Four"
subtitle: "Everglades and Full Moon Party"
date: 2014-10-08 13:45:47 UTC
locations:
  -
    title: Everglades
    latlng: [25.8582443, -81.3850695]
  -
    title: Wynwood
    latlng: [25.8042441, -80.1989186]
---

%p The pick up time for our Everglades tour was at 13:30, so we had some time to kill. We spent it wandering around our
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-three/image-1-1100x.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-three/image-2-1100x.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/usa2014/day-three/image-3-1100x.jpg', :width => '1100', :height => '733')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-three/image-4-1100x.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-three/image-5-1100x.jpg', :width => '1100', :height => '733')

%h2 Everglades
%p Time to see some crocodiles!
= photo(:src => '//cdn.matsimitsu.com/usa2014/day-three/image-19-2200x.jpg', :width => '1100', :height => '731', :class => 'full')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-three/image-17-1100x.jpg', :width => '1100', :height => '731')
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-three/image-18-1100x.jpg', :width => '1100', :height => '731')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-three/image-7-1100x.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-three/image-8-1100x.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/usa2014/day-three/image-21-1100x.jpg', :width => '1100', :height => '731')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-three/image-18-1100x.jpg', :width => '1100', :height => '731')
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-three/image-20-1100x.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2014/day-three/image-22-1100x.jpg', :width => '1100', :height => '731')

%h2 Wynwood walls
%p This area of miami is covered in really good graffiti and has great places to eat.
= photo(:src => '//cdn.matsimitsu.com/usa2014/day-three/image-10-1100x.jpg', :width => '1100', :height => '733')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-three/image-11-1100x.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-three/image-12-1100x.jpg', :width => '1100', :height => '733')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-three/image-13-1100x.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-three/image-14-1100x.jpg', :width => '1100', :height => '733')
%h2 Full moon party
%p After wandering around for half an hour we decided to get another beer and went to a random place that played music. It turns out it was a Full Moon Party in the style for Burning Man.

= photo(:src => '//cdn.matsimitsu.com/usa2014/day-three/image-16-1100x.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/usa2014/day-three/image-6-1100x.jpg', :width => '1100', :height => '731')

%p Slightly hung over we headed back to the airport to get our rental car and drove to Orlando.
