---
title: "Day Eighteen"
date: 2015-05-22 00:00:00 UTC
locations:
  -
    title: 'Temple of Literature'
    latlng: [21.0287611, 105.8364349]
  -
    title: 'Lenin Monument'
    latlng: [21.0316816, 105.8394987]

---
%p We had a slow start today, because we had to book the trips to Ha Long Bay and Sa Pa for the next few days. When we got out the door it was already 15:30, not that this matters, it's still 35 degrees celcius.
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-eighteen/image-2.jpg', :width => '1100', :height => '655')

%h2 Cable Cutters
%p In Europe they trim the trees, here they trim the powerlines. Huge amounts of illegally run cables were cut down.

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-eighteen/image-4.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-eighteen/image-3.jpg', :width => '725', :height => '1100')

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-eighteen/image-5.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-eighteen/image-6.jpg', :width => '1100', :height => '733')

%h2 Temple of Literature
%p The temple hosts the "Imperial Academy" (Quốc Tử Giám), Vietnam's first national university
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-eighteen/image-1.jpg', :width => '1100', :height => '730')

%p
  The temple was built in 1070 and was reconstructed a bunch of times, the last one in 2000.

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-eighteen/image-7.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-eighteen/image-9.jpg', :width => '1100', :height => '733')

%p It was nice to escape from the constant background noise of scooters and their horns.

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-eighteen/image-12.jpg', :width => '1100', :height => '733')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-eighteen/image-10.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-eighteen/image-8.jpg', :width => '1100', :height => '733')

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-eighteen/image-13.jpg', :width => '1100', :height => '733')
%h2 Lenin Monument
%p Since it was in the neighbourhood we headed back to the hotel for some much needed water and a shower with a small detour past the Lenin Monument.

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-eighteen/image-16.jpg', :width => '1100', :height => '733')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-eighteen/image-14.jpg', :width => '733', :height => '1100')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-eighteen/image-15.jpg', :width => '733', :height => '1100')
