---
title: "Arches Nat. park"
date: 2011/06/12
locations:
  -
    title: Arches Nat. park
    latlng: [38.733081, -109.5925139]
---

%p
  After a tour of Rocky Mountain National Park we passed Grand Junction and headed for Arches national park.

%img.full{:src => '//cdn.matsimitsu.com/usa2011/arches-nat-park/arches_pan-2200x.jpg'}
= photo(:src => '//cdn.matsimitsu.com/usa2011/arches-nat-park/DSC0247-1280x.jpg', :width => '1280', :height => '850')
= photo(:src => '//cdn.matsimitsu.com/usa2011/arches-nat-park/DSC0249-1927x.jpg', :width => '1927', :height => '1280')
= photo(:src => '//cdn.matsimitsu.com/usa2011/arches-nat-park/DSC0321-1280x.jpg', :width => '1280', :height => '850')
= photo(:src => '//cdn.matsimitsu.com/usa2011/arches-nat-park/DSC0341-1280x.jpg', :width => '1280', :height => '1927')
%img.full{:src => '//cdn.matsimitsu.com/usa2011/arches-nat-park/arches_pan3-2200x.jpg'}
= photo(:src => '//cdn.matsimitsu.com/usa2011/arches-nat-park/DSC0345-1280x.jpg', :width => '1280', :height => '698')
= photo(:src => '//cdn.matsimitsu.com/usa2011/arches-nat-park/DSC0360-1280x.jpg', :width => '1280', :height => '1927')
= photo(:src => '//cdn.matsimitsu.com/usa2011/arches-nat-park/DSC0363-1280x.jpg', :width => '1280', :height => '850')
= photo(:src => '//cdn.matsimitsu.com/usa2011/arches-nat-park/DSC0394-1280x.jpg', :width => '1280', :height => '850')
%img.full{:src => '//cdn.matsimitsu.com/usa2011/arches-nat-park/panorama3-2200x.jpg'}
