---
title: "Arches Nat. park"
date: 2011/06/12
locations:
  -
    title: Arches Nat. park
    latlng: [38.733081, -109.5925139]
---

%p
  After a tour of Rocky Mountain National Park we passed Grand Junction and headed for Arches national park.

= photo(:src => '//cdn.matsimitsu.com/usa2011/arches-nat-park/arches_pan.jpg', :class => 'full')
= photo(:src => '//cdn.matsimitsu.com/usa2011/arches-nat-park/DSC0247.jpg', :width => '1280', :height => '850')
= photo(:src => '//cdn.matsimitsu.com/usa2011/arches-nat-park/DSC0249.jpg', :width => '1927', :height => '1280')
= photo(:src => '//cdn.matsimitsu.com/usa2011/arches-nat-park/DSC0321.jpg', :width => '1280', :height => '850')
= photo(:src => '//cdn.matsimitsu.com/usa2011/arches-nat-park/DSC0341.jpg', :width => '1280', :height => '1927')
= photo(:src => '//cdn.matsimitsu.com/usa2011/arches-nat-park/arches_pan3.jpg', :class => 'full')
= photo(:src => '//cdn.matsimitsu.com/usa2011/arches-nat-park/DSC0345.jpg', :width => '1280', :height => '698')
= photo(:src => '//cdn.matsimitsu.com/usa2011/arches-nat-park/DSC0360.jpg', :width => '1280', :height => '1927')
= photo(:src => '//cdn.matsimitsu.com/usa2011/arches-nat-park/DSC0363.jpg', :width => '1280', :height => '850')
= photo(:src => '//cdn.matsimitsu.com/usa2011/arches-nat-park/DSC0394.jpg', :width => '1280', :height => '850')
= photo(:src => '//cdn.matsimitsu.com/usa2011/arches-nat-park/panorama3.jpg', :class => 'full')
