---
title: "Day Twelve"
date: 2015-11-16 00:00:00 UTC
locations:
  -
    title: 'Koishikawa Kōrakuen Garden'
    latlng: [35.7054498, 139.7496667]
  -
    title: 'Akasaka Palace'
    latlng: [35.6800398, 139.7289503]
  -
    title: 'Tokyo Tower'
    latlng: [35.6585696, 139.745484]
---
%p When I woke up it was a nice 18 degrees and there was a sunny sky, a great day to spend in a Park. The park of choise was the Koishikawa Kōrakuen Garden, it was constructed in 1629 and one of two parks remaining form the Edo period.

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-2.jpg', :width => '1100', :height => '730')
%p The highrises in the background remind you that you're still in the center of Tokyo.
.columns
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-4.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-23.jpg', :width => '733', :height => '1100')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-5.jpg', :width => '1100', :height => '730')

.columns
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-6.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-7.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-10.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-12.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-13.jpg', :width => '1100', :height => '730')
.columns
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-14.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-15.jpg', :width => '730', :height => '1100')
%p After a few hours in the park, it was time to head to the second place on my list, Akasaka Palace.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-17.jpg', :width => '1100', :height => '730')
%p This means taking the train of course. The guy in the black/yellow striped box is the dispatcher that announces the train destination and tells people to stay away from the doors when they're closing.

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-18.jpg', :width => '1100', :height => '730')
%p The palace is designated by the government of Japan as an official accommodation for visiting state dignitaries and therefor surrounded by stern, but friendly guards.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-19.jpg', :width => '1100', :height => '730')

%p The palace is surrounded by a park that is off-limits to visitors. On my way to a nearby subway stop, I stumbled on a fair with lots of food stands.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-24.jpg', :width => '1100', :height => '733')
.columns
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-25.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-26.jpg', :width => '1100', :height => '733')
%p After a few delicious snacks it was time to head to the final destination for today, Tokyo Tower.

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-27.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-28.jpg', :width => '1100', :height => '733')

%p Spot the difference.
.columns
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-29.jpg', :width => '733', :height => '1100')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-21.jpg', :width => '730', :height => '1100')

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-32.jpg', :width => '1100', :height => '733')

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-30.jpg', :width => '1100', :height => '733')

.columns
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-22.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-31.jpg', :width => '733', :height => '1100')

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-33.jpg', :width => '1100', :height => '733')
