---
title: "Day Twelve"
date: 2015-11-16 00:00:00 UTC
locations:
  -
    title: 'Koishikawa Kōrakuen Garden'
    latlng: [35.7054498, 139.7496667]
  -
    title: 'Akasaka Palace'
    latlng: [35.6800398, 139.7289503]
  -
    title: 'Tokyo Tower'
    latlng: [35.6585696, 139.745484]
---
%p When I woke up it was a nice 18 degrees and there was a sunny sky, a great day to spend in a Park. The park of choise was the Koishikawa Kōrakuen Garden, it was constructed in 1629 and one of two parks remaining form the Edo period.

%img{:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-2-2200x.jpg', :width => '1100', :height => '730'}
%p The highrises in the background remind you that you're still in the center of Tokyo.
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-4-2200x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-23-1460x.jpg', :width => '733', :height => '1100')
%img{:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-5-2200x.jpg', :width => '1100', :height => '730'}

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-6-2200x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-7-2200x.jpg', :width => '1100', :height => '733')
%img{:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-10-2200x.jpg', :width => '1100', :height => '730'}
%img{:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-12-2200x.jpg', :width => '1100', :height => '730'}
%img{:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-13-2200x.jpg', :width => '1100', :height => '730'}
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-14-2200x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-15-2200x.jpg', :width => '730', :height => '1100')
%p After a few hours in the park, it was time to head to the second place on my list, Akasaka Palace.
%img{:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-17-2200x.jpg', :width => '1100', :height => '730'}
%p This means taking the train of course. The guy in the black/yellow striped box is the dispatcher that announces the train destination and tells people to stay away from the doors when they're closing.

%img{:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-18-2200x.jpg', :width => '1100', :height => '730'}
%p The palace is designated by the government of Japan as an official accommodation for visiting state dignitaries and therefor surrounded by stern, but friendly guards.
%img{:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-19-2200x.jpg', :width => '1100', :height => '730'}

%p The palace is surrounded by a park that is off-limits to visitors. On my way to a nearby subway stop, I stumbled on a fair with lots of food stands.
%img{:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-24-2200x.jpg', :width => '1100', :height => '733'}
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-25-2200x.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-26-2200x.jpg', :width => '1100', :height => '733')
%p After a few delicious snacks it was time to head to the final destination for today, Tokyo Tower.

%img{:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-27-2200x.jpg', :width => '1100', :height => '733'}
%img{:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-28-2200x.jpg', :width => '1100', :height => '733'}

%p Spot the difference.
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-29-1460x.jpg', :width => '733', :height => '1100')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-21-1460x.jpg', :width => '730', :height => '1100')

%img{:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-32-2200x.jpg', :width => '1100', :height => '733'}

%img{:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-30-2200x.jpg', :width => '1100', :height => '733'}

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-22-2200x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-31-1460x.jpg', :width => '733', :height => '1100')

%img{:src => '//cdn.matsimitsu.com/japan2015/day-twelve/image-33-2200x.jpg', :width => '1100', :height => '733'}
