---
title: "Day Fifteen"
subtitle: "Nagasaki - Mount Inasa"
date: 2014-05-29 13:40:39 UTC
locations:
  -
    title: Nagasaki
    latlng: [32.7576, 129.868]
  -
    title: Mount Inasa
    latlng: [32.7527, 129.8495]
---
%p Not much to show today, spent a lot of time on the train(s) to Nagasaki.

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-fifteen/rx100-1-1100x.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-fifteen/rx100-2-1100x.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-fifteen/rx100-3-1100x.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-fifteen/rx100-4-1100x.jpg', :width => '1100', :height => '730')

%p In the evening we took the cablecar up mount Inasa and shot some photos.
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-fifteen/random-1-1100x.jpg', :width => '1100', :height => '729')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-fifteen/random-3-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-fifteen/random-4-1100x.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-fifteen/random-5-1100x.jpg', :width => '1100', :height => '729')
