---
title: "Day Four"
subtitle: Haw Par Villa - Sentosa Island - Mount Faber - Gardens by the Bay
date: 2015-05-08 12:54:36 UTC
locations:
  -
    title: 'Haw Par Villa'
    latlng: [1.282386, 103.781867]
  -
    title: 'Sentosa'
    latlng: [1.2494041, 103.8303209]
  -
    title: 'Mount Faber'
    latlng: [1.2736111, 103.8177778]
  -
    title: 'Gardens by the Bay'
    latlng: [1.2815683, 103.8636132]
---

%p Haw Par Villa is a former amusement park that is now free for the public to visit. It displays a number of Chinese tales about good and evil with puppets. Part of the park is a tunnel with the 10 stages of hell a bad person has to go through.

.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-four/image-1.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-four/image-2.jpg', :width => '1100', :height => '730')

%p The characters are totally random and vary between rabbits, people and bears.

.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-four/image-3.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-four/image-4.jpg', :width => '1100', :height => '730')

%p The park is really strange and most parts are badly maintained.

.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-four/image-13.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-four/image-14.jpg', :width => '1100', :height => '733')

%p Fortunately they started restoring the park by re-painting all the displays.

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-four/image-15.jpg', :width => '1100', :height => '733')

%p After the park we headed back to the subway to go to Sentosa Island.
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-four/image-16.jpg', :width => '1100', :height => '733')

%p This the entertainment island with Universal studios, beaches, water parks and pretty much every other form of entertainment you can imagine.

.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-four/image-6.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-four/image-17.jpg', :width => '1100', :height => '733')

%p We settled with just visiting the beach. In the background you can see hundreds of ships anchored, waiting for a job. On the other side of the cable car is Mount Faber. It offers a nice view of the city.

.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-four/image-18.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-four/image-19.jpg', :width => '1100', :height => '733')

%p The evening was setting in, it was time for our final evening in Singapore. We headed to the Gardens at the Bay, a giant park near the waterfront. One of the attractions is an indoor "Cloud walk" where you walk down a giant mountain covered with plants.

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-four/image-7.jpg', :width => '1100', :height => '730')

.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-four/image-20.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-four/image-8.jpg', :width => '1100', :height => '730')

%p Outside are the most know features of the park, Giant towers covered in plants and emitting lights. You can take a skywalk between the towers, but we got there too late to buy tickets. Fortunatley a nice man approached us and gave his tickets so we were the last to take the walk that day.

.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-four/image-12.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-four/image-22.jpg', :width => '733', :height => '1100')

%p We ended the day in our home-base, Chinatown, with a nice drink.

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-four/image-23.jpg', :width => '1100', :height => '733')
