---
title: "Day Twenty One"
subtitle: "Edo castle - Shinjuku - Robot Restaurant"
date: 2014-06-05 10:57:47 UTC
locations:
  -
    title: Edo Castle
    latlng: [35.688324, 139.754389]
  -
    title: Shinjuku
    latlng: [35.693839, 139.70355]
  -
    title:
    latlng: [35.694277301174, 139.70269736844]

---
%p We started the day with a visit to the Tokyo/Edo castle. It's right next to Tokyo station and has a very nice park.
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-1-1100x.jpg', :width => '1100', :height => '729'}
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-2-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-3-1100x.jpg', :width => '1100', :height => '729')

%p When we were there a large number of people was removing weeds from the grass by hand in the 30+ degrees heat.

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-4-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-5-1100x.jpg', :width => '1100', :height => '729')
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-6-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-7-1100x.jpg', :width => '1100', :height => '730'}

%p This is one of the few buildings left of the castle, the rest was destroyed in a fire.
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-8-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-9-1100x.jpg', :width => '1100', :height => '729')
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-10-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-11-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-12-1100x.jpg', :width => '1100', :height => '729'}
%p A few steps away the ever present skyscrapers are looming over the park.
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-13-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-14-730x.jpg', :width => '729', :height => '1100')

%p The old Tokyo station building. It's the first time we saw it even though we passed through the station a number of times, but we mainly used the huge tunnel system / mall below the station.

%img.full{:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-39-2200x.jpg'}

%p After a very spicy lunch we were off to Shinjuku.
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-24-1100x.jpg', :width => '1100', :height => '729'}

%p If you pay attention you stumble on a number of temples, hidden between the buildings.
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-25-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-26-1100x.jpg', :width => '1100', :height => '729'}
%p Since we were a bit early for our final destination we wandered around in the neighbourhood.

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-27-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-28-1100x.jpg', :width => '1100', :height => '802')
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-29-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-38-1100x.jpg', :width => '1100', :height => '729'}

%p It was finally time for our last destination of the trip. The Robot Restaurant. It's hard to explain what happens but the easiest explanation is that it's a batshit crazy dinner show.

%video.video{:width => '100%', :loop => 'loop'}
  %source{:src =>'/asia2014/day-twenty-one/videos/entry.mp4', :type=>'video/mp4'}
  %source{:src =>'/asia2014/day-twenty-one/videos/entry.ogv', :type=>'video/ogg'}
  %source{:src =>'/asia2014/day-twenty-one/videos/entry.webm', :type=>'video/webm'}

%img{:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-15-1100x.jpg', :width => '1100', :height => '729'}
%p Welcomed in the most kitch waiting room ever we ordered our beers and waited for the show to start.
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-30-1100x.jpg', :width => '1100', :height => '729'}
%p What followed next is a show that makes no sense, but is soooo awesome.

%img{:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-16-1100x.jpg', :width => '1100', :height => '589'}
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-17-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-18-1100x.jpg', :width => '1100', :height => '729')
%img.full{:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-19-2200x.jpg'}
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-20-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-21-1100x.jpg', :width => '1100', :height => '729')
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-22-1100x.jpg', :width => '1100', :height => '820'}
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-23-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-31-1100x.jpg', :width => '1100', :height => '729')
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-32-1100x.jpg', :width => '1100', :height => '808'}
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-33-1100x.jpg', :width => '1100', :height => '536')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-34-1100x.jpg', :width => '1100', :height => '619')
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-35-1100x.jpg', :width => '1100', :height => '619'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-36-1100x.jpg', :width => '1100', :height => '619'}

%p We couldn't have asked for a better ending to our trip. Thanks for reading!
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-37-1100x.jpg', :width => '1100', :height => '619'}
