---
title: "Day Twenty One"
subtitle: "Edo castle - Shinjuku - Robot Restaurant"
date: 2014-06-05 10:57:47 UTC
locations:
  -
    title: Edo Castle
    latlng: [35.688324, 139.754389]
  -
    title: Shinjuku
    latlng: [35.693839, 139.70355]
  -
    title:
    latlng: [35.694277301174, 139.70269736844]

---
%p We started the day with a visit to the Tokyo/Edo castle. It's right next to Tokyo station and has a very nice park.
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-1.jpg', :width => '1100', :height => '729')
.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-2.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-3.jpg', :width => '1100', :height => '729')

%p When we were there a large number of people was removing weeds from the grass by hand in the 30+ degrees heat.

.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-4.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-5.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-6.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-7.jpg', :width => '1100', :height => '730')

%p This is one of the few buildings left of the castle, the rest was destroyed in a fire.
.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-8.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-9.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-10.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-11.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-12.jpg', :width => '1100', :height => '729')
%p A few steps away the ever present skyscrapers are looming over the park.
.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-13.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-14.jpg', :width => '729', :height => '1100')

%p The old Tokyo station building. It's the first time we saw it even though we passed through the station a number of times, but we mainly used the huge tunnel system / mall below the station.

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-39.jpg', :class => 'full')

%p After a very spicy lunch we were off to Shinjuku.
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-24.jpg', :width => '1100', :height => '729')

%p If you pay attention you stumble on a number of temples, hidden between the buildings.
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-25.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-26.jpg', :width => '1100', :height => '729')
%p Since we were a bit early for our final destination we wandered around in the neighbourhood.

.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-27.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-28.jpg', :width => '1100', :height => '802')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-29.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-38.jpg', :width => '1100', :height => '729')

%p It was finally time for our last destination of the trip. The Robot Restaurant. It's hard to explain what happens but the easiest explanation is that it's a batshit crazy dinner show.

%video.video{:width => '100%', :loop => 'loop'}
  %source{:src =>'/asia2014/day-twenty-one/videos/entry.mp4', :type=>'video/mp4'}
  %source{:src =>'/asia2014/day-twenty-one/videos/entry.ogv', :type=>'video/ogg'}
  %source{:src =>'/asia2014/day-twenty-one/videos/entry.webm', :type=>'video/webm'}

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-15.jpg', :width => '1100', :height => '729')
%p Welcomed in the most kitch waiting room ever we ordered our beers and waited for the show to start.
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-30.jpg', :width => '1100', :height => '729')
%p What followed next is a show that makes no sense, but is soooo awesome.

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-16.jpg', :width => '1100', :height => '589')
.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-17.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-18.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-19.jpg', :class => 'full')
.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-20.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-21.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-22.jpg', :width => '1100', :height => '820')
.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-23.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-31.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-32.jpg', :width => '1100', :height => '808')
.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-33.jpg', :width => '1100', :height => '536')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-34.jpg', :width => '1100', :height => '619')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-35.jpg', :width => '1100', :height => '619')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-36.jpg', :width => '1100', :height => '619')

%p We couldn't have asked for a better ending to our trip. Thanks for reading!
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty-one/image-37.jpg', :width => '1100', :height => '619')
