---
title: "Day Twenty Six"
date: 2015-05-30 00:00:00 UTC
locations:
  -
    title: 'The Bund'
    latlng: [31.2353356, 121.487632029699]
  -
    title: 'Shanghai World Financial Center'
    latlng: [31.2364366, 121.503326818565]
---

%p After a nice cup of coffee we headed to the most famous place in Shanghai, The Bund. Were you can see the Shanghai Tower, Oriental Pearl and World Financial Center, one of the highest buildings in the world.

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-six/image-4.jpg', :width => '1100', :height => '730')

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-six/image-2.jpg', :width => '1100', :height => '700')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-six/image-5.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-six/image-6.jpg', :width => '1100', :height => '730')

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-six/image-7.jpg', :width => '1100', :height => '733')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-six/image-9.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-six/image-10.jpg', :width => '730', :height => '1100')
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-six/image-8.jpg', :width => '1100', :height => '703')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-six/image-12.jpg', :width => '1100', :height => '707')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-six/image-11.jpg', :width => '730', :height => '1100')

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-six/image-13.jpg', :width => '1100', :height => '730')

%h2 Shanghai World Financial Center
%p In order to get to the World Financial Center, we needed to cross the river. That meant going the East Nanjing Road, one of the biggest tourist traps in the world.

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-six/image-15.jpg', :width => '1100', :height => '730')

%p As a westener you get offered "massages" and tried to bait us into all kinds of scams. It was lunchtime so before we ducked into the subway station, we took a back alley and got some food.
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-six/image-16.jpg', :width => '1100', :height => '713')

%p One lunch and a subway ride later, we were in the financial district.

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-six/image-19.jpg', :width => '1100', :height => '730')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-six/image-20.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-six/image-21.jpg', :width => '1100', :height => '730')

%p The entrance to the World Financial Center observation deck was well hidden, that might also explain the lack of queue's for the tickets and the elevators. Great for us! Everything in the World Financial Center was _really_ well designed.

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-six/image-25.jpg', :width => '1100', :height => '730')

%p And the view is not bad either!

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-six/image-23.jpg', :width => '1100', :height => '730')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-six/image-24.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-six/image-22.jpg', :width => '730', :height => '1100')

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-six/image-26.jpg', :width => '1100', :height => '455', :class => 'full')

%p Back on the ground we had a delicious German beer, kaiserschmarren and apfelstrudels. Then we headed back to the subway station.
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-six/image-39.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-six/image-40.jpg', :width => '733', :height => '1100')

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-six/image-17.jpg', :width => '1100', :height => '730')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-six/image-28.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-six/image-29.jpg', :width => '733', :height => '1100')

%p After a quick stop at the hotel we headed back to The Bund, to get a few night shots of the skyline.
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-six/image-37.jpg', :width => '1100', :height => '730', :class => 'full')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-six/image-32.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-six/image-38.jpg', :width => '1100', :height => '730')
