---
title: Day Fourteen
date: 2016-05-25
locations:
- title: Ankor wat
  latlng:
  - 13.4120345
  - 103.864562
---

%p At around 08:00 our tourguide showed up at the hotel to take us to the Ankor Wat complex. The next eight hours we were bombarded with history and facts about the complex.
= photo(:src => cdn_url('asia2016/day-fourteen/DSC04384.jpg'), :ratio => 1.5)
%p The first temple was Ankor Thom.

= photo(:src => cdn_url('asia2016/day-fourteen/_DSC0845.jpg'), :ratio => 1.506, :class => :full)
.photo-row
  = photo(:src => cdn_url('asia2016/day-fourteen/_DSC0848.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-fourteen/_DSC0855.jpg'), :ratio => 1.506, :class => :full)

%p After our first temple we headed to Ta Prohm, one of the few temples left in the same condition as it was found. There are lots of trees overgrowing the temple.
= photo(:src => cdn_url('asia2016/day-fourteen/_DSC0880.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-fourteen/_DSC0904.jpg'), :ratio => 1.506, :class => :full)
.photo-row
  = photo(:src => cdn_url('asia2016/day-fourteen/_DSC0911.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-fourteen/_DSC0925.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('asia2016/day-fourteen/_DSC0931.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-fourteen/_DSC0934.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-fourteen/_DSC0945.jpg'), :ratio => 1.506, :class => :full)

= photo(:src => cdn_url('asia2016/day-fourteen/_DSC0983.jpg'), :ratio => 1.506)

%p The final temple was Ankor Wat, the one you see on all the postcards :)
= photo(:src => cdn_url('asia2016/day-fourteen/DSC04401.jpg'), :ratio => 1.5)

.photo-row
  = photo(:src => cdn_url('asia2016/day-fourteen/_DSC0001.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-fourteen/_DSC0038.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-fourteen/_DSC0041.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-fourteen/_DSC0052.jpg'), :ratio => 1.506, :class => :full)
.photo-row
  = photo(:src => cdn_url('asia2016/day-fourteen/_DSC0070.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-fourteen/_DSC0079.jpg'), :ratio => 1.608)
= photo(:src => cdn_url('asia2016/day-fourteen/_DSC0091.jpg'), :ratio => 1.506, :class => :full)
= photo(:src => cdn_url('asia2016/day-fourteen/_DSC0106.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-fourteen/_DSC0113.jpg'), :ratio => 1.664)

= photo(:src => cdn_url('asia2016/day-fourteen/_DSC0128.jpg'), :ratio => 1.839, :class => :full)
= photo(:src => cdn_url('asia2016/day-fourteen/_DSC0143.jpg'), :ratio => 1.506)
.photo-row
  = photo(:src => cdn_url('asia2016/day-fourteen/_DSC0162.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-fourteen/_DSC0167.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-fourteen/DSC04437.jpg'), :ratio => 1.5)
