---
title: "Day Twenty Four"
date: 2015-05-28 00:00:00 UTC
locations:
  -
    title: 'Ten Thousand Buddhas Monastery'
    latlng: [22.387621, 114.184779]
  -
    title: 'Victoria Peak'
    latlng: [22.2758835, 114.145532]
  -
    title: 'Tsim Sha Tsui'
    latlng: [22.2988123, 114.1721746]

---

%p Our first destination was the Kowloon City Park, just to get a feel of how the old <a href="http://en.wikipedia.org/wiki/Kowloon_Walled_City" target="_blank">Kowloon Walled City</a> would look like. It wasn't very interesting photography wise, but it was nice to see the history and stories of former residents. After the park we headed to the Ten Thousand Buddhas Monastery. We didn't count them, but there were a lot.


= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-four/image-10-1100x.jpg', :width => '1100', :height => '733')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-four/image-1-1100x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-four/image-11-1100x.jpg', :width => '1100', :height => '733')

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-four/image-3-1100x.jpg', :width => '1100', :height => '721')

%p Wherever you are, if you look around, you'll always see the huge housing estates.
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-four/image-2-1100x.jpg', :width => '1100', :height => '730')

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-four/image-4-1100x.jpg', :width => '1100', :height => '730')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-four/image-7-734x.jpg', :width => '733', :height => '1100')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-four/image-13-1100x.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-four/image-12-734x.jpg', :width => '733', :height => '1100')

%img.full{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-four/image-14-2200x.jpg', :width => '1100', :height => '733'}

%h2 Victoria Peak

%p Especially from Victoria Peak, were we arrived by (a very steep) tram.
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-four/image-5-1100x.jpg', :width => '1100', :height => '730')

%h2 Tsim Sha Tsui
%p It was still very cloudy, so not many great pictures were taken on the peak. We did get beers and dinner. Meanwhile it had gotten dark and it was almost time for the Victoria Bay light show (not very spectacular).

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-four/image-9-1100x.jpg', :width => '1100', :height => '730')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-four/image-17-1100x.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-four/image-16-734x.jpg', :width => '733', :height => '1100')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-four/image-18-1100x.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-four/image-19-1100x.jpg', :width => '1100', :height => '733')
