---
title: Day Two
date: 2016-05-14
locations:
- title: Memorial Park
  latlng:
  - 25.0356791
  - 121.5196742
- title: Taipei 101
  latlng:
  - 25.0330575
  - 121.5631862
- title: Elephant Mountain
  latlng:
  - 25.0287024
  - 121.5769572
stats:
  walked_kilometers: 16.6
  weather: Sunny
  temperature: 34 &deg;C
  feels_like: 40 &deg;C
---

%p After a good night's sleep we were ready to start our first day in Taipei. The first stop was the Taiwan Democracy Memorial Park. Among other things, the park contains the Chiang Kai-shek Memorial Hall, erected  in memory of Chiang Kai-shek, former President of the Republic of China.

= photo(:src => cdn_url('asia2016/day-two/_DSC0024.jpg'), :ratio => 1.506)

%p A statue of Chiang Kai-shek is built inside, flanked by at least two guards at all times.
= photo(:src => cdn_url('asia2016/day-two/_DSC0026.jpg'), :ratio => 1.506)
.photo-row
  = photo(:src => cdn_url('asia2016/day-two/DSC03730.jpg'), :ratio => 0.667)
  = photo(:src => cdn_url('asia2016/day-two/_DSC0035.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-two/DSC03735.jpg'), :ratio => 1.583)

= photo(:src => cdn_url('asia2016/day-two/_DSC0031.jpg'), :ratio => 1.506)

%p Besides the memorial hall there are two other buildings, the National Theater and National Concert Hall.
= photo(:src => cdn_url('asia2016/day-two/_DSC0069.jpg'), :ratio => 1.506, :class => :full)

%p In the gardens surrounding the Memorial Park, there were guards training with their rifles, playgrounds and groups practicing martial arts.

= photo(:src => cdn_url('asia2016/day-two/_DSC0052.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-two/_DSC0053.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-two/_DSC0055.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-two/_DSC0045.jpg'), :ratio => 1.506, :class => :full)

%p Watching all those people working a sweat made us hungry so we headed to our next destination to search for food.

= photo(:src => cdn_url('asia2016/day-two/DSC03743.jpg'), :ratio => 1.5)
%p We found a nice dumpling and soup place. (No photo of food, was to busy finding out how to eat it properly.)
= photo(:src => cdn_url('asia2016/day-two/DSC03751.jpg'), :ratio => 1.5)

%p One of the main events of today, Taipei 101, one of the tallest buildings in the world.
= photo(:src => cdn_url('asia2016/day-two/_DSC0114.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('asia2016/day-two/DSC03759-Edit.jpg'), :ratio => 2.514, :class => :full)
.photo-row
  = photo(:src => cdn_url('asia2016/day-two/DSC03767.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-two/DSC03776.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-two/_DSC0092.jpg'), :ratio => 1.506)

%p The day we arrived (two hours before we landed), Taiwan had an earthquake. The tower has a giant ball hanging in the top to prevent the building from swaying.

= photo(:src => cdn_url('asia2016/day-two/_DSC0080.jpg'), :ratio => 1.506)

%p
  After visiting the tower we wanted to get a good view from the outside, so we headed to Elephant Mountain.
  Described in the guide as a trail, it's actually a 400 meter long stairs. A great workout in the 35 degrees sun.
= photo(:src => cdn_url('asia2016/day-two/_DSC0124.jpg'), :ratio => 1.506, :class => :full)

%p Dusk approached and with it "Golden Hour" the hour around sunset where the lighting is the best to take photos.
= photo(:src => cdn_url('asia2016/day-two/DSC03813.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-two/_DSC0207.jpg'), :ratio => 1.506, :class => :full)

%p You should take the time to appreciate the above image, as I'm sure it's one of the most unique in the world.. ahem.
= photo(:src => cdn_url('asia2016/day-two/_DSC0154.jpg'), :ratio => 1.506)

%p After dinner (Delicous noodle soup with beef and beer), we headed to our hotel.

.photo-row
  = photo(:src => cdn_url('asia2016/day-two/DSC03840.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-two/DSC03844.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-two/DSC03845.jpg'), :ratio => 1.5)
