---
title: Day thirty two
date: 2017-06-07
locations:
- title: 'Chureito Pagoda'
  latlng:
  - 35.4992494
  - 138.8000927
- title: 'Yokohama Minatomirai'
  latlng:
    - 35.4596665
    - 139.6232432
hotel:
  name: Hotel Edit Yokohama
  address: 231-0013 Kanagawa, Yokohama, Naka-ku Sumiyoshi-cho 6-78-1, Japan
  image: https://t-ec.bstatic.com/images/hotel/max500/457/45701332.jpg
  priceRange: Prices for upcoming dates start at $48 per night (We Price Match)
  url: https://www.booking.com/hotel/jp/edit-yokohama.html?aid=939121
  map: https://maps.googleapis.com/maps/api/staticmap?zoom=15&sensor=false&center=35.4487353,139.6335379&size=1600x1200&markers=color:blue%7c35.4487353,139.6335379&client=gme-booking&channel=booking-frontend&signature=HbholZFOrDMT2FZSDn0Vuaq-VBc=
  description: Hotel Edit Yokohama is located in Yokohama, 1.1 miles from Yokohama
    Marine Tower and 2.6 miles from Sankeien. Guests can enjoy the on-site restaurant.
  rating: 8.7
header: DSC06496.jpg
---

%p Today our plan is to head to Yokohama, a city just below Tokyo. From there we'll be able to take the Shinkansen high-speed line to Kyoto and Osaka. But first we decided to visit a famous pagode just a few kilometers away.
= photo(:src => cdn_url('asia2017/day-thirty-two/DSC06424.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-two/DSC06425.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-two/DSC06448.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-two/DSC06426.jpg'), :ratio => 1.5)

= photo(:src => cdn_url('asia2017/day-thirty-two/DSC06427.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-two/_DSC0257.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('asia2017/day-thirty-two/DSC06431.jpg'), :ratio => 1.5, :class => 'full')
= photo(:src => cdn_url('asia2017/day-thirty-two/DSC06430.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-two/_DSC0258.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-thirty-two/_DSC0263.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('asia2017/day-thirty-two/_DSC0264-Edit.jpg'), :ratio => 3.022, :class => 'full')

%p In theory you should be able to see Mt. Fuji in the background, unfortunately it's mostly clouds today.
= photo(:src => cdn_url('asia2017/day-thirty-two/_DSC0274.jpg'), :ratio => 1.506, :class => 'full')

%p After waiting around a bit to see if the clouds would clear (they didn't), we decided to head to Yokohama.
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-two/DSC06450.jpg'), :ratio => 1.673)
  = photo(:src => cdn_url('asia2017/day-thirty-two/DSC06455.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-two/DSC06456.jpg'), :ratio => 1.5)
%p One of the most famous parts of Yokohama is Minatomirai. It means "harbor of the future" and is  an urban area with many high-rise building a small themepark and malls.

= photo(:src => cdn_url('asia2017/day-thirty-two/DSC06463.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-two/_DSC0301.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('asia2017/day-thirty-two/DSC06465.jpg'), :ratio => 1.55)
%p From Minatomirai we walked to Chinatown to get dinner.
= photo(:src => cdn_url('asia2017/day-thirty-two/DSC06475.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-two/DSC06473.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-two/DSC06480.jpg'), :ratio => 1.5)

%p After dinner we made a quick stop back at Minatomirai to see it in the dark, followed by a hot shower and sleep at our hotel.
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-two/DSC06488.jpg'), :ratio => 0.667)
  = photo(:src => cdn_url('asia2017/day-thirty-two/DSC06489.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-two/DSC06501.jpg'), :ratio => 1.483, :class => 'full')
