---
title: "Day Thirteen"
subtitle: "Arashiyama Bamboo Grove - Iwatayama Monkey Park - Kinkaku-ji Buddhist Temple"
date: 2014-05-27 11:01:37 UTC
locations:
  -
    title: Arashiyama Bamboo Grove
    latlng: [35.015096, 135.670667]
  -
    title: Iwatayama Monkey Park
    latlng: [35.008938, 135.674681]
  -
    title: Kinkaku-ji Buddhist Temple
    latlng: [35.039444, 135.729444]

---

%p After a nice cup of coffee we headed to the Arashiyama Bamboo Grove.
.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-2.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-3.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-1.jpg', :width => '1100', :height => '729')

%p It was pretty nice, but it took us only 10 minutes to get through it and back again. Luckily for us, there was a monkey park across the river.

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-4.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-5.jpg', :width => '1100', :height => '729')

%p The park was on the top of a mountain and it took us quite a while to get there.

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/panorama-1.jpg', :class => 'full')

%p A nice touch is that you can only feed monkeys when you are in a cage. The monkeys roam around freely.

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-6.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-7.jpg', :width => '1100', :height => '729')
%p This was taken within the cage.
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-9.jpg', :width => '1100', :height => '729')
.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-10.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-11.jpg', :width => '1100', :height => '729')
.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-12.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-13.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-14.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-15.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-16.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-17.jpg', :width => '1100', :height => '729')
%p
  Next up was the Golden temple (Kinkaku-ji). We took a very nice train to the temple.
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-18.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-19.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-20.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-21.jpg', :width => '1100', :height => '729', :class => 'full')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-22.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-23.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-24.jpg', :width => '1100', :height => '729')
