---
title: "Day Twenty"
subtitle: "Sa Pả - Day One"
date: 2015-05-24 00:00:00 UTC
locations:
  -
    title: 'Sa Pả'
    latlng: [22.3564642, 103.8738031]
---

%p After 10 hours in the train we finally arrived at Sa Pả around half past five in the morning. From there we got a private car to our hotel for a quick shower and breakfast. We were ready for the first trek.
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty/image-3.jpg', :width => '1100', :height => '634')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty/image-1.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty/image-2.jpg', :width => '1100', :height => '730')
%p What started out as a relatively cold morning (21 degrees) soon changed to the same heat we had this entire trip.
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty/image-4.jpg', :width => '1100', :height => '730')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty/image-5.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty/image-6.jpg', :width => '1100', :height => '730')
%p The trek itself was pretty nice, but _very_ touristy, every couple of meters there's a shop selling bracelets, cloth or drinks. I had to try very hard not to get too much touristy stuff on these photo's.
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty/image-7.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty/image-9.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty/image-10.jpg', :width => '1100', :height => '730')
