---
title: Day Eleven
date: 2016-05-23
locations:
- title: Wat Phnom
  latlng:
  - 11.5760864
  - 104.9231893
- title: Wat Ounalom
  latlng:
  - 11.5448729
  - 104.8921668
- title: Royal Palace
  latlng:
  - 11.5654215
  - 104.9321322
stats:
  walked_kilometers: 12.7
  weather: Sunny
  temperature: 36 &deg;C
  feels_like: 43 &deg;C
---
%p We left the hotel around 10:30 and after a few meters we were already soaked in sweat. At least the sun was blocked by the clouds for the moment.

= photo(:src => cdn_url('asia2016/day-eleven/DSC04276.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2016/day-eleven/DSC04270.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-eleven/DSC04273.jpg'), :ratio => 1.5)

%p We had to follow the boulevard to our first destination, Wat Phnom. The highest religious building in Phnom Penh.

.columns
  = photo(:src => cdn_url('asia2016/day-eleven/DSC04277.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-eleven/DSC04278.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-eleven/DSC04290.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2016/day-eleven/DSC04308.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-eleven/DSC04275.jpg'), :ratio => 1.587)

%p Wat Phnom was built in 1373, and stands 27 metres tall above ground.
= photo(:src => cdn_url('asia2016/day-eleven/_DSC0644.jpg'), :ratio => 1.506)
.columns
  = photo(:src => cdn_url('asia2016/day-eleven/_DSC0646.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-eleven/_DSC0667.jpg'), :ratio => 1.506)

%p You can buy these birds to release them, or the (fake) money to burn it.

= photo(:src => cdn_url('asia2016/day-eleven/DSC04300.jpg'), :ratio => 1.5, :class => :full)
.columns
  = photo(:src => cdn_url('asia2016/day-eleven/_DSC0677.jpg'), :ratio => 1.797)
  = photo(:src => cdn_url('asia2016/day-eleven/DSC04303.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-eleven/_DSC0672.jpg'), :ratio => 1.506)

.columns
  = photo(:src => cdn_url('asia2016/day-eleven/DSC04304.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-eleven/_DSC0687.jpg'), :ratio => 0.664)
= photo(:src => cdn_url('asia2016/day-eleven/_DSC0696.jpg'), :ratio => 1.506)

.columns
  = photo(:src => cdn_url('asia2016/day-eleven/_DSC0681.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-eleven/_DSC0684.jpg'), :ratio => 1.506)


%p One of the main themes of this holiday is that pretty much everything we visit is under renovation. This temple is no exception.
= photo(:src => cdn_url('asia2016/day-eleven/_DSC0706.jpg'), :ratio => 1.506)

%p The next stop is another temple, Wat Ounalom. Mostly because the Royal Palace is closed between 11:00 and 14:00, so we had a few hours to kill before lunch.

= photo(:src => cdn_url('asia2016/day-eleven/_DSC0708.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-eleven/_DSC0710.jpg'), :ratio => 1.506)
.columns
  = photo(:src => cdn_url('asia2016/day-eleven/_DSC0712.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-eleven/_DSC0715.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('asia2016/day-eleven/_DSC0713.jpg'), :ratio => 1.506, :class => :full)

%p We got blessed by this man in a temple :).
= photo(:src => cdn_url('asia2016/day-eleven/_DSC0728.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-eleven/_DSC0731.jpg'), :ratio => 1.506)
.columns
  = photo(:src => cdn_url('asia2016/day-eleven/_DSC0733.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-eleven/_DSC0734.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-eleven/_DSC0736.jpg'), :ratio => 1.506)\
%p After the blessing we made our way to the Royal Palace. But not before stopping somewhere to get a drink (and a bathroom to change from shorts to "proper dresscode").
= photo(:src => cdn_url('asia2016/day-eleven/DSC04313.jpg'), :ratio => 1.5, :class => :full)
.columns
  = photo(:src => cdn_url('asia2016/day-eleven/_DSC0735.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-eleven/DSC04316.jpg'), :ratio => 1.5)

%p After saying "no" to the question if we needed a TukTuk for the gazillionth time we weren in the Royal Palace.
= photo(:src => cdn_url('asia2016/day-eleven/_DSC0744.jpg'), :ratio => 1.506, :class => :full)

.columns
  = photo(:src => cdn_url('asia2016/day-eleven/_DSC0739.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-eleven/_DSC0742.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('asia2016/day-eleven/_DSC0747.jpg'), :ratio => 1.506)

.columns
  = photo(:src => cdn_url('asia2016/day-eleven/_DSC0758.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-eleven/_DSC0784.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-eleven/_DSC0766.jpg'), :ratio => 1.506)
.columns
  = photo(:src => cdn_url('asia2016/day-eleven/_DSC0770.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-eleven/DSC04317.jpg'), :ratio => 1.616)
= photo(:src => cdn_url('asia2016/day-eleven/DSC04318.jpg'), :ratio => 1.5)

= photo(:src => cdn_url('asia2016/day-eleven/_DSC0786.jpg'), :ratio => 1.506)
.columns
  = photo(:src => cdn_url('asia2016/day-eleven/_DSC0779.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-eleven/_DSC0789.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-eleven/_DSC0774.jpg'), :ratio => 1.506)

.columns
  = photo(:src => cdn_url('asia2016/day-eleven/_DSC0790.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-eleven/_DSC0791.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-eleven/_DSC0793.jpg'), :ratio => 1.506)

