---
title: Day Sixteen
date: 2016-05-28
locations:
- title: Wat Chedi Luang Worawihan
  latlng:
  - 18.7952345
  - 98.93557369999999
- title: Wat Phra That Doi Suthep
  latlng:
  - 18.7936211
  - 98.9560245
---
%p We spent yesterday driving ATV's through the Jungle, which was awesome! But we needed both hands at the wheel, so no pictures were taken.

= photo(:src => cdn_url('asia2016/day-sixteen/_DSC0202.jpg'), :ratio => 1.506)

%p We spent the day in Chiang Mai today, touring the city.
.photo-row
  = photo(:src => cdn_url('asia2016/day-sixteen/_DSC0195.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-sixteen/_DSC0208.jpg'), :ratio => 1.506)
%p The first stop was Wat Chedi Luang Worawihan, one of the bigger temples in Chiang Mai.
= photo(:src => cdn_url('asia2016/day-sixteen/_DSC0219.jpg'), :ratio => 1.506, :class => :full)
.photo-row
  = photo(:src => cdn_url('asia2016/day-sixteen/_DSC0225.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-sixteen/_DSC0233.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-sixteen/_DSC0238.jpg'), :ratio => 1.404, :class => :full)
.photo-row
  = photo(:src => cdn_url('asia2016/day-sixteen/DSC04471.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-sixteen/DSC04473.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-sixteen/_DSC0235.jpg'), :ratio => 1.506)

.photo-row
  = photo(:src => cdn_url('asia2016/day-sixteen/DSC04448.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-sixteen/DSC04474.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-sixteen/DSC04449.jpg'), :ratio => 1.5)

%p The hottest hours of the day were spent at the hotel pool. After cooling down a bit we ordered a van to take us to Wat Phra That Doi Suthep. Doi Suthep is the name of the mountain where the temple is located. It's considered a sacred site to many Thai people.
= photo(:src => cdn_url('asia2016/day-sixteen/_DSC0255.jpg'), :ratio => 1.506)

%p We always seem to pick things to see that require climbing long stairs.
= photo(:src => cdn_url('asia2016/day-sixteen/_DSC0265.jpg'), :ratio => 1.506)
.photo-row
  = photo(:src => cdn_url('asia2016/day-sixteen/_DSC0266.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-sixteen/_DSC0264.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('asia2016/day-sixteen/_DSC0272.jpg'), :ratio => 1.506, :class => :full)
.photo-row
  = photo(:src => cdn_url('asia2016/day-sixteen/_DSC0269.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-sixteen/_DSC0275.jpg'), :ratio => 1.506)
.photo-row
  = photo(:src => cdn_url('asia2016/day-sixteen/_DSC0286.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-sixteen/_DSC0277.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-sixteen/_DSC0294.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-sixteen/_DSC0301.jpg'), :ratio => 1.506)

%p A nice perk of the temple is the great view of Chiang Mai.
= photo(:src => cdn_url('asia2016/day-sixteen/_DSC0318.jpg'), :ratio => 1.506, :class => :full)

= photo(:src => cdn_url('asia2016/day-sixteen/_DSC0325.jpg'), :ratio => 1.506)
.photo-row
  = photo(:src => cdn_url('asia2016/day-sixteen/_DSC0327.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2016/day-sixteen/_DSC0328.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2016/day-sixteen/_DSC0345.jpg'), :ratio => 1.506)

%p Clouds were starting to roll in and yesterday with the ATV trip we learned that this means rain. Time to head back to the hotel and get dinner.

= photo(:src => cdn_url('asia2016/day-sixteen/_DSC0354.jpg'), :ratio => 1.506)
.photo-row
  = photo(:src => cdn_url('asia2016/day-sixteen/DSC04511.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-sixteen/DSC04512.jpg'), :ratio => 1.5)
