---
title: "Day Eighteen"
subtitle: "Nittai-ji temple - Nagoya Castle - Ōsu Kannon"
date: 2014-06-01 10:07:25 UTC
locations:
  -
    title: Nittai-ji temple
    latlng: [35.171667, 136.955278]
  -
    title: Nagoya Castle
    latlng: [35.185556, 136.898611]
  -
    title: "Ōsu Kannon"
    latlng: [35.1598, 136.9]
---
%p We woke up to a very nice and warm day, 37 degrees celcius. An excellent time to visit some temples!

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eighteen/header-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eighteen/header-2-1100x.jpg', :width => '1100', :height => '729')
%img{:src => '//cdn.matsimitsu.com/asia2014/day-eighteen/header-15-1100x.jpg', :width => '1100', :height => '730'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-eighteen/header-16-1100x.jpg', :width => '1100', :height => '730'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-eighteen/header-17-1100x.jpg', :width => '1100', :height => '730'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-eighteen/header-18-1100x.jpg', :width => '1100', :height => '730'}

%p Next up was the Nagoya Castle.

%img{:src => '//cdn.matsimitsu.com/asia2014/day-eighteen/header-4-1100x.jpg', :width => '1100', :height => '729'}
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eighteen/header-7-730x.jpg', :width => '729', :height => '1100')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eighteen/header-21-1100x.jpg', :width => '1100', :height => '730')

%img{:src => '//cdn.matsimitsu.com/asia2014/day-eighteen/header-10-1100x.jpg', :width => '1100', :height => '729'}
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eighteen/header-11-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eighteen/header-12-1100x.jpg', :width => '1100', :height => '729')
%img{:src => '//cdn.matsimitsu.com/asia2014/day-eighteen/header-13-1100x.jpg', :width => '1100', :height => '729'}
%p At this point it became too hot to do anything in the open air, so we decided to head to Ōsu, a shopping district with Anime and electronics (and airco).

%img{:src => '//cdn.matsimitsu.com/asia2014/day-eighteen/header-14-1100x.jpg', :width => '1100', :height => '730'}
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eighteen/header-19-1100x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eighteen/header-20-733x.jpg', :width => '730', :height => '1100')
%img{:src => '//cdn.matsimitsu.com/asia2014/day-eighteen/header-22-1100x.jpg', :width => '1100', :height => '730'}

%img{:src => '//cdn.matsimitsu.com/asia2014/day-eighteen/header-23-1100x.jpg', :width => '1100', :height => '730'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-eighteen/header-24-1100x.jpg', :width => '1100', :height => '730'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-eighteen/header-25-1100x.jpg', :width => '1100', :height => '730'}
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eighteen/header-26-1100x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eighteen/header-27-1100x.jpg', :width => '1100', :height => '730')
%img{:src => '//cdn.matsimitsu.com/asia2014/day-eighteen/header-28-1100x.jpg', :width => '1100', :height => '730'}

%img{:src => '//cdn.matsimitsu.com/asia2014/day-eighteen/header-29-1100x.jpg', :width => '1100', :height => '730'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-eighteen/header-30-1100x.jpg', :width => '1100', :height => '730'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-eighteen/header-31-1100x.jpg', :width => '1100', :height => '730'}
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eighteen/header-32-733x.jpg', :width => '730', :height => '1100')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-eighteen/header-33-1100x.jpg', :width => '1100', :height => '730')
