---
title: Day thirty seven
date: 2017-06-12
locations:
- title: 'Umeda Sky Building'
  latlng:
  - 34.7053838
  - 135.4874204
- title: 'Nakanoshima Park'
  latlng:
  - 34.6919019
  - 135.5054035
- title: 'America-mura'
  latlng:
  - 34.6720145
  - 135.4982653
- title: 'Dotonbori'
  latlng:
  - 34.6693354
  - 135.5000025
header: DSC05536.jpg
hotel:
  name: Hotel Sakura Suite Osaka Juso
  address: 532-0025 Osaka Prefectuur, Osaka, Yodogawa-ku Shinkitano 1-7 , Japan
  image: https://t-ec.bstatic.com/images/hotel/max500/802/80241279.jpg
  priceRange: De prijzen voor de komende dagen beginnen vanaf € 48 per nacht (We bieden
    dezelfde prijs)
  url: https://www.booking.com/hotel/jp/sakura-suite-osaka-juso.nl.html?aid=939121
  map: https://maps.googleapis.com/maps/api/staticmap?center=34.7172853,135.4816416&markers=color:blue%7c34.7172853,135.4816416&size=1600x1200&sensor=false&zoom=15&client=gme-booking&channel=booking-frontend&signature=eCOO4D-JMBw-gRZJkEjjkRbCWfA=
  description: Hotel Sakura Suite Osaka Juso is situated in Osaka, 2.3 km from Billboard
    Live Osaka and 5 km from Osaka Castle. Guests can enjoy the on-site restaurant.
  rating: 8.5

---

%p Today's plan centered around Osaka itself, we planned a route from north to south past a number of attractions, starting with the Umeda Sky Building, one of the more iconic buildings of Osaka. <br />But first, lunch.

= photo(:src => cdn_url('asia2017/day-thirty-seven/DSC06540.jpg'), :ratio => 1.5)

%p After lunch we crossed the river towards the Umeda Sky Building.

= photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05513.jpg'), :ratio => 1.5)
%p The structure on the right photo is a gas station.
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05516.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05524.jpg'), :ratio => 1.5)

%p Umeda Sky Building consists of two 40 story towers that are joined at the top by a "floating garden".
= photo(:src => cdn_url('asia2017/day-thirty-seven/_DSC0349.jpg'), :ratio => 1.506)


.columns
  = photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05577.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05535.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05534.jpg'), :ratio => 1.5)

= photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05536.jpg'), :ratio => 1.5, :class => 'full')
= photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05539.jpg'), :ratio => 1.5)
%p Below you can see another famous building in Osaka called the "Gate tower building", where a highway runs through the core.
= photo(:src => cdn_url('asia2017/day-thirty-seven/DSC06552.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-seven/DSC06547.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05554.jpg'), :ratio => 1.5)

%p Back on ground level we continued south to Nakanoshima Park.
= photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05578.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05585.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05589.jpg'), :ratio => 1.5)

%p The park itself isn't that interesting, but it gave us a chance to relax before diving into the most busy parts of Osaka.
= photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05599.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05604.jpg'), :ratio => 0.739)
  = photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05605.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05608.jpg'), :ratio => 1.292)

.columns
  = photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05606.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05607.jpg'), :ratio => 1.5)

%p Spot the Statue of Liberty in America-mura, a neighborhood with lots of (niche) clothing stores and small bars.
= photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05618.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05621.jpg'), :ratio => 1.208)
  = photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05626.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05627.jpg'), :ratio => 1.5)

= photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05629.jpg'), :ratio => 1.545)
%p From America-mura we headed to Dotonbori, the main shopping area in Osaka. It's super crowded and the sensory overload is on par with the Las Vegas strip.
= photo(:src => cdn_url('asia2017/day-thirty-seven/DSC06570.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05636.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05638.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05640.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05643.jpg'), :ratio => 1.849)
  = photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05641.jpg'), :ratio => 1.5)

%p We decided to not go this way.
= photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05645.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05674.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05711.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05664.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05680.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05705.jpg'), :ratio => 2.07)

= photo(:src => cdn_url('asia2017/day-thirty-seven/DSC05676.jpg'), :ratio => 1.5, :class => 'full')
