---
title: "Day Three"
subtitle: "The Summer Palace - Forbidden City"
date: 2014-05-17 09:16:48 UTC
locations:
  -
    title: Summer Palace
    latlng: [39.9999823, 116.2754606]
  -
    title: Forbidden City
    latlng: [39.9235021, 116.3996174]
---

%p
  The first stop of today is the Summer Palace.
  As today is a saturday, it is a little bit busier the normal.

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-1.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-3.jpg', :width => '1100', :height => '729')
%p
  As with every monument you can buy an pass to enter the park, but that doesn't mean you can enter everything in the park. To do that you need to buy an all-acces pass. With this we were able to walk down here by the water, yay!

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-5.jpg', :width => '1100', :height => '730')

%p
  Did i mention it was busy?
.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-6.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-7.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-9.jpg', :width => '1100', :height => '729')
.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-11.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-12.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-13.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-14.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-15.jpg', :width => '1100', :height => '729')
.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-16.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-17.jpg', :width => '1100', :height => '729')
%p
  After climbing the wall yesterday, we decided to not go to the top here.
  Besides that, we were running out of time as we also wanted to see the Forbidden City.
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-18.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-19.jpg', :width => '1100', :height => '729')
%p People everywhere.

.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-20.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-22.jpg', :width => '1100', :height => '729')

%p Being Dutch as we are we decided to not spend the 3 Yuan on a bike ride to the subway station and walk over there ourselves. After a couple of minutes we figured out we were heading the wrong way. It took us a good 15 minutes to get to the subway station. 3 Yuan is not even 40 euro cents...

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-25.jpg', :width => '1100', :height => '729')
%p The Summer Palace was busy, but the Forbidden City is in it's own league.

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-27.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-28.jpg', :width => '1100', :height => '729')
.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-29.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-30.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-31.jpg', :width => '1100', :height => '729')
%p
  The Forbidden City lies in the center of Beijing, but inside you hear nothing of the busy streets. The only way you are reminded you're in the city is by the skyscrapers that pop up every once in a while.
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-32.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-33.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-34.jpg', :width => '1100', :height => '729')
%p
  The trick to get some people free shots is go exactly the opposite way of the large tours that walk by every few seconds.

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-35.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-36.jpg', :width => '1100', :height => '729')
%p
  You used to be able to exit at all gates, but because of the crowds, the Forbidden City is a one-way deal. This means street vendors know exactly where you'll be.
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-37.jpg', :width => '1100', :height => '729')

%p The way back to our hotel is around the Forbidden city. The vibe here is awesome.

.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-38.jpg', :width => '729', :height => '1100')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-39.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-40.jpg', :width => '1100', :height => '729')

.columns
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-41.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-43.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-three/day-two-44.jpg', :width => '1100', :height => '729')
