---
title: Day twenty seven
date: 2017-06-02
locations:
- title: Harajuku
  latlng:
  - 35.6617773
  - 139.7040506
- title: Tokyo Tower
  latlng:
  - 35.6585805,
  - 139.7432389
- title: Shibuya
  latlng:
  - 35.659474,
  - 139.700498

header: _DSC0063.jpg
hotel:
  name: the b tokyo akasaka-mitsuke
  address: 107-0052 Tokyo Prefecture, Minato-ku, Akasaka 3-21-7 , Japan
  image: https://t-ec.bstatic.com/images/hotel/max500/963/96323583.jpg
  url: https://www.booking.com/hotel/jp/the-b-akasaka-mitsuke.html?aid=939121
  description: Just a 2-minute walk from Akasaka-Mitsuke Subway Station, the b tokyo
    akasaka-mitsuke provides cosy rooms with a flat-screen TV and free high-speed
    WiFi.
  rating: 8.3
---

%p Perfect clean sidewalks, amazing architecture, heated toilet seats, great food everywhere. This could only mean one thing, we've finally arrived in Tokyo. We started with one of the most exciting things you can do... laundry. After two weeks in Indonesia, we ran out of clean clothes. Luckily our hotel has coin landry washers, so we spent an hour wandering around the block and drinking coffee, waiting for the landry to finish.

= photo(:src => cdn_url('asia2017/day-twenty-seven/DSC06083.jpg'), :ratio => 1.5)

%p After laundry it was time to head to our first destination: Shibuya, from where we wandered around the neighborhoud to Harajuku, a center of Japanese youth culture and fashion.
= photo(:src => cdn_url('asia2017/day-twenty-seven/DSC06091.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-twenty-seven/DSC06096.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-twenty-seven/DSC06099.jpg'), :ratio => 1.5)

= photo(:src => cdn_url('asia2017/day-twenty-seven/DSC06101.jpg'), :ratio => 1.669)

.columns
  = photo(:src => cdn_url('asia2017/day-twenty-seven/DSC06107.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-twenty-seven/DSC06105.jpg'), :ratio => 0.667)
= photo(:src => cdn_url('asia2017/day-twenty-seven/DSC06106.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-twenty-seven/DSC06108.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-twenty-seven/DSC06110.jpg'), :ratio => 1.5)

%p From Harajuku station we took the subway to Roppongi to see the Tokyo Tower by daylight. Where we stumbled upon this weird structure.
= photo(:src => cdn_url('asia2017/day-twenty-seven/_DSC0013.jpg'), :ratio => 1.506)

%p A kind old man gestured us to the entrance, it turns out it's some sort of meeting point for members of the Reiyūkai members. Reiyūkai is a Buddhist new religion. Whatever it is, it looks really out of place.
= photo(:src => cdn_url('asia2017/day-twenty-seven/_DSC0006.jpg'), :ratio => 1.506, :class => 'full')
.columns
  = photo(:src => cdn_url('asia2017/day-twenty-seven/_DSC0008.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-twenty-seven/_DSC0009.jpg'), :ratio => 1.506)

%p Tokyo is a very green city, a lot of the buildings have green walls.
= photo(:src => cdn_url('asia2017/day-twenty-seven/_DSC0021.jpg'), :ratio => 1.243)
.columns
  = photo(:src => cdn_url('asia2017/day-twenty-seven/DSC06118.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-twenty-seven/DSC06119.jpg'), :ratio => 1.5)

= photo(:src => cdn_url('asia2017/day-twenty-seven/_DSC0024.jpg'), :ratio => 1.506, :class => 'full')
.columns
  = photo(:src => cdn_url('asia2017/day-twenty-seven/_DSC0042.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-twenty-seven/DSC06128.jpg'), :ratio => 0.667)

%p Next to Tokyo Tower was a park, with great views of the tower. On the other side of the park was a temple.
= photo(:src => cdn_url('asia2017/day-twenty-seven/_DSC0063.jpg'), :ratio => 1.48, :class => 'full')
.columns
  = photo(:src => cdn_url('asia2017/day-twenty-seven/_DSC0059.jpg'), :ratio => 1.526)
  = photo(:src => cdn_url('asia2017/day-twenty-seven/_DSC0061.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('asia2017/day-twenty-seven/_DSC0074.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-twenty-seven/_DSC0079.jpg'), :ratio => 1.506, :class => 'full')

= photo(:src => cdn_url('asia2017/day-twenty-seven/_DSC0078.jpg'), :ratio => 1.506)
%p From the temple it was only a short walk to the waterfront, from where we took the subway to Shibuya to take some night shots of the crossing.
.columns
  = photo(:src => cdn_url('asia2017/day-twenty-seven/_DSC0087.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-twenty-seven/_DSC0090.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-twenty-seven/_DSC0099.jpg'), :ratio => 1.506)

.columns
  = photo(:src => cdn_url('asia2017/day-twenty-seven/_DSC0106.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-twenty-seven/DSC06138.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-twenty-seven/_DSC0115.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('asia2017/day-twenty-seven/DSC06137.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-twenty-seven/DSC06182.jpg'), :ratio => 1.588)
  = photo(:src => cdn_url('asia2017/day-twenty-seven/DSC06147.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-twenty-seven/DSC06174.jpg'), :ratio => 1.5, :class => 'full')
.columns
  = photo(:src => cdn_url('asia2017/day-twenty-seven/DSC06158.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-twenty-seven/DSC06167.jpg'), :ratio => 1.5)
