---
title: "Day Ten"
date: 2015-11-14 00:00:00 UTC
locations:
  -
    title: 'Itabashi'
    latlng: [35.75116480000001, 139.7092437]
---

%p Still tired from the few days before and with some work to do I decided to mostly stay in for today. The rain didn't help either. At around 16:00 I felt like taking a quick trip trough the neighborhood, since the rain had died down a bit.

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-ten/image-1.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-ten/image-2.jpg', :width => '1100', :height => '733')

%p My goal was to follow the river.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-ten/image-3.jpg', :width => '1100', :height => '733')

%p I like how, despite the lack of space, most residents still try to place as many plants in front of their house as possible.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-ten/image-4.jpg', :width => '1100', :height => '733')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-ten/image-5.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-ten/image-6.jpg', :width => '1100', :height => '733')

%p As usual I ended up in a shopping district around a station (Jujo station).
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-ten/image-7.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-ten/image-8.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-ten/image-9.jpg', :width => '1100', :height => '733')

%p As you can see, by this time the rain was pouring down again, so I took the trains back to my hotel.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-ten/image-10.jpg', :width => '1100', :height => '733')
