---
title: Day Four
date: 2016-05-16
locations:
- title: Fort San Domingo
  latlng:
  - 25.17535
  - 121.432941
- title: New Taipei Martyrs Shrine
  latlng:
  - 25.1789569
  - 121.4282776

- title: Huwei Fort
  latlng:
  - 25.179218
  - 121.429389
- title: Tamsui Fishermans Warf
  latlng:
  - 25.1830309
  - 121.4107189
stats:
  walked_kilometers: 15
  weather: Rainy
  temperature: 21 &deg;C
  feels_like: 21.8 &deg;C
---

%p With only a couple of days in Taiwan left, we decided to explore the outer edges of Taipei. We headed to Tamsui, north of the city.

= photo(:src => cdn_url('asia2016/day-four/DSC03937.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2016/day-four/DSC03942.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-four/DSC03946.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-four/DSC03939.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2016/day-four/DSC03950.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-four/DSC03953.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-four/DSC03954.jpg'), :ratio => 1.595)

%p While enjoying our coffee at the local Starbucks we noticed on Google maps there was a Fort nearby that was Built by the Spanish, conquered by the Dutch, taken over by the Chinese, conquered by the British, bombed by the French and finally taken over by the Chinese again. During this period it was raised and rebuilt several times. But it has wooden shoes in front of it, so it must be Dutch.

= photo(:src => cdn_url('asia2016/day-four/DSC03956.jpg'), :ratio => 1.5, :class => :full)
.columns
  = photo(:src => cdn_url('asia2016/day-four/DSC03959.jpg'), :ratio => 1.835)
  = photo(:src => cdn_url('asia2016/day-four/DSC03960.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-four/DSC03958.jpg'), :ratio => 1.5)

= photo(:src => cdn_url('asia2016/day-four/DSC03963.jpg'), :ratio => 1.5)

%p Continuing to the north we encountered another Martyr's shrine, but it was closed.

= photo(:src => cdn_url('asia2016/day-four/DSC03965.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-four/DSC03967.jpg'), :ratio => 1.5)

%p In reality we were just lost when looking for another fort, Huwei Fort. Built by the Chinese with help from the Germans, protecting against the French.
= photo(:src => cdn_url('asia2016/day-four/_DSC0377.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('asia2016/day-four/_DSC0393.jpg'), :ratio => 1.506)
%p The very light rain turned into moderate rain, enough for us to buy a pair of umbrella's.
= photo(:src => cdn_url('asia2016/day-four/DSC03972.jpg'), :ratio => 1.5)

%p On our way to the ocean we stumbled upon a radar site.
.columns
  = photo(:src => cdn_url('asia2016/day-four/DSC03973.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-four/DSC03974.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-four/DSC03975.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-four/DSC03978.jpg'), :ratio => 1.5, :class => :full)


= photo(:src => cdn_url('asia2016/day-four/DSC03982.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2016/day-four/DSC03984.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-four/DSC03986.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-four/DSC03983.jpg'), :ratio => 1.5, :class => :full)

.columns
  = photo(:src => cdn_url('asia2016/day-four/DSC03988.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-four/DSC03989.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-four/DSC03990.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-four/DSC03993.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-four/_DSC0399.jpg'), :ratio => 1.506, :class => :full)

%p After a stop at the hotel to change shoes (soaking wet) we headed out to get dinner. (Okonomiyaki, not Taiwanese, but delicious none the less)
= photo(:src => cdn_url('asia2016/day-four/DSC03995.jpg'), :ratio => 1.5, :class => :full)
.columns
  = photo(:src => cdn_url('asia2016/day-four/DSC03999.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2016/day-four/DSC04003.jpg'), :ratio => 0.667)
