---
title: Day thirteen
date: 2017-05-17
locations:
- title: Taman Sari Water Palace
  latlng:
  - -7.809939399999999
  - 110.359041
- title: Keraton Yogyakarta
  latlng:
  - -7.8052845
  - 110.3642031
header: DSC05436.jpg
hotel:
  name: Eastparc Hotel Yogyakarta
  address: Jl. Laksda Adisucipto Km. 6,5 Seturan, Catur Tunggal, 55281 Yogyakarta,
    Indonesia
  image: https://t-ec.bstatic.com/images/hotel/max500/769/76972266.jpg
  url: https://www.booking.com/hotel/id/eastparc-yogyakarta.html?aid=939121
  description: Offering an outdoor swimming pool and a restaurant, Eastparc Hotel
    Yogyakarta is located 500 metres from Ambarukmo Plaza Shopping Mall.
  rating: 9

---

%p With another temple visit scheduled tomorrow, we decided to explore the city of Yogyakarta today, starting with Taman Sari Water Palace
= photo(:src => cdn_url('asia2017/day-thirteen/DSC05434.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-thirteen/DSC05438.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirteen/DSC05440.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirteen/DSC05439.jpg'), :ratio => 1.5)
%p <a href="https://en.wikipedia.org/wiki/Taman_Sari_(Yogyakarta)" target="_blank">Taman Sari</a> is the royal garden of the former Sultanate of Yogyakarta.
= photo(:src => cdn_url('asia2017/day-thirteen/DSC05446.jpg'), :ratio => 1.5, :class => 'full')

.columns
  = photo(:src => cdn_url('asia2017/day-thirteen/DSC05441.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirteen/DSC05442.jpg'), :ratio => 1.535)
%p Of the many different areas and buildings, only the pool complex survived.
= photo(:src => cdn_url('asia2017/day-thirteen/DSC05451.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-thirteen/DSC05452.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirteen/DSC05454.jpg'), :ratio => 1.5)

%p Wandering through the surrounding neigborhood we were guided by the locals to another part of the complex, a building that was used as a mosque.
= photo(:src => cdn_url('asia2017/day-thirteen/DSC05456.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2017/day-thirteen/DSC05466.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirteen/DSC05473.jpg'), :ratio => 1.5)

%p You can reach it by descending into a tunnel that runs below the street.
= photo(:src => cdn_url('asia2017/day-thirteen/_DSC0766.jpg'), :ratio => 1.383)
.columns
  = photo(:src => cdn_url('asia2017/day-thirteen/_DSC0767.jpg'), :ratio => 1.505)
  = photo(:src => cdn_url('asia2017/day-thirteen/_DSC0768.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-thirteen/DSC05470.jpg'), :ratio => 1.5)

%p Speaking about street, there's a lot of cool graffiti on the Yogyakarta streets.
= photo(:src => cdn_url('asia2017/day-thirteen/_DSC0774.jpg'), :ratio => 1.506)
.columns
  = photo(:src => cdn_url('asia2017/day-thirteen/DSC05461.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirteen/DSC05463.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirteen/DSC05487.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2017/day-thirteen/DSC05464.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirteen/DSC05465.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirteen/DSC05467.jpg'), :ratio => 1.5)
%p Popping out of the little alleyways we were right across from the royal palace called <a href="https://en.wikipedia.org/wiki/Kraton_Ngayogyakarta_Hadiningrat" target="_blank">Keraton Yogyakarta</a>, where for some reason they had a lot of chickens.
= photo(:src => cdn_url('asia2017/day-thirteen/DSC05474.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirteen/DSC05477.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-thirteen/DSC05478.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirteen/DSC05479.jpg'), :ratio => 1.5)
%p The palace is the main seat <a href="https://en.wikipedia.org/wiki/Hamengkubuwono_X" target="_blank">Sultan of Yogyakarta</a> and his family.
= photo(:src => cdn_url('asia2017/day-thirteen/DSC05481.jpg'), :ratio => 1.5)
%p Our third stop of the day was the Fort Vredeburg Museum, a museum about the struggle of independency of Indonesia. Unfortunately for us it was school trip day, which meant tons of children wanting a photo. (we managed to dogde most of them, but at the cost of not beeing able to take photo's ourselves).
= photo(:src => cdn_url('asia2017/day-thirteen/DSC05484.jpg'), :ratio => 1.5)

%p We also figured out why children want our photo, aparently it's to proof to their teacher they spoke English with a foreigner, earning them extra credit.
= photo(:src => cdn_url('asia2017/day-thirteen/DSC05488.jpg'), :ratio => 1.5)
