---
title: "Day Two"
subtitle: Chinatown - Little India - Fort Canning Park - Marina bay
date: 2015-05-06 12:54:36 UTC
locations:
  -
    title: 'Chinatown'
    latlng: [1.2844398, 103.8433762]
  -
    title: 'Little india'
    latlng: [1.307231, 103.849823]
  -
    title: 'Fort Canning Park'
    latlng: [1.294115, 103.8463071]
  -
    title: 'Marina bay'
    latlng: [1.2761, 103.85467]
---

%p After a good night's sleep we headed out into Chinatown where we needed to get an HDMI cable so we can watch movies on our Hotel tv. At a random shop in a chinese market the price came down from 35 dollars to 15 within a few seconds after mentioning a couple of dutch foodball clubs.

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-two/image-11.jpg', :width => '1100', :height => '733')

%p A couple of meters away from the shop was a wet market that sold all kinds of fish, fruits and meat.

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-two/image-2.jpg', :width => '1100', :height => '730', :class => 'full')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-two/image-1.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-two/image-3.jpg', :width => '1100', :height => '730')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-two/image-4.jpg', :width => '1100', :height => '707')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-two/image-5.jpg', :width => '1100', :height => '730')

%p Our next destination of the day was the "Tekka centre", a Hawker centre in Little India. On the way there we came across the "Sri Srinivasa Perumal Temple", one of the oldest temples in Singapore.

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-two/image-12.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-two/image-13.jpg', :width => '733', :height => '1100')

%p At the Tekka centre, the best way to get food is to join the longest queue there is, if there's a lot of people waiting for a stall, it must be good. (And it was!)
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-two/image-14.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-two/image-15.jpg', :width => '1100', :height => '733')

%p After exploring Little Inda a bit more, we headed over to Fort Canning Park for some shade.

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-two/image-16.jpg', :width => '1100', :height => '733')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-two/image-17.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-two/image-19.jpg', :width => '733', :height => '1100')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-two/image-18.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-two/image-20.jpg', :width => '1100', :height => '733')

%p At this point it was 34 degrees and very humid, even the shade didn't do much. So we took a break and sat down with a nice cold beer next to the river.

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-two/image-8.jpg', :width => '1100', :height => '730')

%p Feeling refreshed, we headed to the bay to see the Merlion fountain and the Marina Bay Sands.

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-two/image-6.jpg', :width => '1100', :height => '730', :class => 'full')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-two/image-21.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-two/image-22.jpg', :width => '1100', :height => '733')


= photo(:src => '//cdn.matsimitsu.com/asia2015/day-two/image-7.jpg', :width => '1100', :height => '730')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-two/image-9.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-two/image-23.jpg', :width => '1100', :height => '733')


%p It was getting dark, so we headed back to Chinatown to get something to eat at the Hawker centre.

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-two/image-24.jpg', :width => '1100', :height => '719')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-two/image-25.jpg', :width => '1100', :height => '733')


%p Finally we headed back to the bay for the most underwelming "show" we've ever seen at the Marina Bay Sands.

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-two/image-26.jpg', :width => '1100', :height => '733')
