---
title: Day thirty six
date: 2017-06-11
locations:
- title: 'Nara park'
  latlng:
  - 34.685047
  - 135.840818
- title: 'Denden town'
  latlng:
  - 34.654575
  - 135.505661

header: DSC05468.jpg
hotel:
  name: Hotel Sakura Suite Osaka Juso
  address: 532-0025 Osaka Prefectuur, Osaka, Yodogawa-ku Shinkitano 1-7 , Japan
  image: https://t-ec.bstatic.com/images/hotel/max500/802/80241279.jpg
  priceRange: De prijzen voor de komende dagen beginnen vanaf € 48 per nacht (We bieden
    dezelfde prijs)
  url: https://www.booking.com/hotel/jp/sakura-suite-osaka-juso.nl.html?aid=939121
  map: https://maps.googleapis.com/maps/api/staticmap?center=34.7172853,135.4816416&markers=color:blue%7c34.7172853,135.4816416&size=1600x1200&sensor=false&zoom=15&client=gme-booking&channel=booking-frontend&signature=eCOO4D-JMBw-gRZJkEjjkRbCWfA=
  description: Hotel Sakura Suite Osaka Juso is situated in Osaka, 2.3 km from Billboard
    Live Osaka and 5 km from Osaka Castle. Guests can enjoy the on-site restaurant.
  rating: 8.5

---
%p It's been almost a week since we activated our Japan Rail Pass and with only one day left, we decided to see a neighbour city of Osaka named Nara. Nara used to be the capital before Kyoto and is famous for it's temples and deer.
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-six/DSC06533.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-six/DSC06534.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-six/DSC05418.jpg'), :ratio => 1.477)

= photo(:src => cdn_url('asia2017/day-thirty-six/DSC05339.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-six/DSC05349.jpg'), :ratio => 1.5)

%p Some of the visitors were just as fascinating as the temples themselves.
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-six/DSC05356.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-six/DSC05357.jpg'), :ratio => 1.5)

= photo(:src => cdn_url('asia2017/day-thirty-six/DSC05341.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2017/day-thirty-six/DSC05362.jpg'), :ratio => 0.667)
  = photo(:src => cdn_url('asia2017/day-thirty-six/DSC05366.jpg'), :ratio => 1.5)

= photo(:src => cdn_url('asia2017/day-thirty-six/DSC05376.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2017/day-thirty-six/DSC05365.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-six/DSC05378.jpg'), :ratio => 1.5)

= photo(:src => cdn_url('asia2017/day-thirty-six/DSC05380.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2017/day-thirty-six/DSC05384.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-six/DSC05386.jpg'), :ratio => 1.85)
%p Nara park is huge and it takes just a few minutes to get off the beaten path and escape the crowds.

.columns
  = photo(:src => cdn_url('asia2017/day-thirty-six/DSC05382.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-six/DSC05390.jpg'), :ratio => 1.5)

= photo(:src => cdn_url('asia2017/day-thirty-six/DSC05398.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-six/DSC05402.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-six/DSC05403.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-six/DSC05408.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-six/DSC05411.jpg'), :ratio => 0.667)
  = photo(:src => cdn_url('asia2017/day-thirty-six/DSC05409.jpg'), :ratio => 1.5)

%p Throughout the park thousands of deer roam around. You can buy crackers from vendors to feed them. They aren't shy and if they think you have food on you they will try and get it.
= photo(:src => cdn_url('asia2017/day-thirty-six/DSC05417.jpg'), :ratio => 1.5)

%p In the park Onno dropped his iPhone, resulting in a broken screen. This meant heading back to Osaka for a visit to Denden town. Denden town is an area with hundreds of electronic/hobby/toy stores including a shop that fixes iPhone screens.
= photo(:src => cdn_url('asia2017/day-thirty-six/DSC05425.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2017/day-thirty-six/DSC05421.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-six/DSC05428.jpg'), :ratio => 1.5)

= photo(:src => cdn_url('asia2017/day-thirty-six/DSC05436.jpg'), :ratio => 1.514)

.columns
  = photo(:src => cdn_url('asia2017/day-thirty-six/DSC05441.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-six/DSC05439.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-six/DSC05440.jpg'), :ratio => 1.5)

%p After an hour the phone was fixed, time to get dinner.
= photo(:src => cdn_url('asia2017/day-thirty-six/DSC05457.jpg'), :ratio => 1.5)

= photo(:src => cdn_url('asia2017/day-thirty-six/DSC05454.jpg'), :ratio => 1.5, :class => 'full')
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-six/DSC05456.jpg'), :ratio => 1.37)
  = photo(:src => cdn_url('asia2017/day-thirty-six/DSC05466.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-six/DSC05468.jpg'), :ratio => 1.5)
%p After dinner the sun had set and this crazy little neighborhood really came to life.
= photo(:src => cdn_url('asia2017/day-thirty-six/DSC05470.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-six/DSC05485.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2017/day-thirty-six/DSC05476.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-six/DSC05482.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-six/DSC05488.jpg'), :ratio => 1.369)

%p After wandering around for a good time, we headed back to the hotel.
= photo(:src => cdn_url('asia2017/day-thirty-six/DSC05492.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-six/DSC05493.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-six/DSC05495.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-thirty-six/DSC05498.jpg'), :ratio => 1.5)
