---
title: "Day Seven - Eight"
subtitle: "Palatka - Panama City"
date: 2014-10-11 13:45:47 UTC
locations:
  -
    title: Palatka
    latlng: [29.6485801, -81.6375819]
  -
    title: Panama City
    latlng: [30.1588129, -85.6602058]
---

= photo(:src => '//cdn.matsimitsu.com/usa2014/day-seven-eight/image-11-2.jpg', :width => '1100', :height => '733')

%p There are very few images from the last two days as we spent most time in the car to drive 500 odd miles from Palatka Florida to New Orleans were we just arrived.

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-seven-eight/image-10.jpg', :width => '1100', :height => '731')
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-seven-eight/image-12.jpg', :width => '1100', :height => '731')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-seven-eight/image-10-2.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-seven-eight/image-12-2.jpg', :width => '1100', :height => '733')
