---
title: Day thirty three
date: 2017-06-08
locations:
- title: Odawara Castle
  latlng:
  - 35.25094929999999
  - 139.1535136
hotel:
  name: Kyoto Itoya Hotel
  address: 600-8416 Kyoto, Kyoto, Shimogyo-Ku Karasuma-Dori Matsubara-Agaru Yakushimae-Cho
    712, Japan
  image: https://t-ec.bstatic.com/images/hotel/max500/182/18216706.jpg
  priceRange: Prices for upcoming dates start at $110 per night (We Price Match)
  url: https://www.booking.com/hotel/jp/kyoto-itoya-hotel.html?aid=939121
  map: https://maps.googleapis.com/maps/api/staticmap?sensor=false&zoom=15&markers=color:blue%7c34.9991362,135.7594998&size=1600x1200&center=34.9991362,135.7594998&client=gme-booking&channel=booking-frontend&signature=xfAUAOZynsrhhMzPgYJJu1I3zAA=
  description: New in February 2013, the Kyoto Itoya Hotel is a designer’s hotel with
    modern accommodations. Free Wi-Fi is available at the entire property.
  rating: 8.9
header: _DSC0330.jpg
---

%p Today we made our way to Kyoto with the Shinkansen train, but not before making a quick stop at Odawara where we visited the castle.
= photo(:src => cdn_url('asia2017/day-thirty-three/_DSC0311.jpg'), :ratio => 1.506)
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-three/_DSC0308.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-thirty-three/_DSC0310.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-thirty-three/_DSC0314.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-thirty-three/_DSC0318.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-thirty-three/_DSC0330.jpg'), :ratio => 1.725)
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-three/_DSC0343.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-thirty-three/_DSC0346.jpg'), :ratio => 0.625)
= photo(:src => cdn_url('asia2017/day-thirty-three/_DSC0347.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-thirty-three/DSC06503.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-three/DSC06504.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-three/DSC06505.jpg'), :ratio => 1.5)
