---
title: "Day Twenty Three"
date: 2015-05-27 00:00:00 UTC
locations:
  -
    title: 'Hong Kong Park'
    latlng: [22.277763, 114.161812]
  -
    title: 'Ngong Ping'
    latlng: [22.2560986, 113.9053189]
---

%p After a very short night's sleep, because of the delays yesterday, we headed out to explore Hong Kong. First stop: Hong Kong Park.

%img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-three/image-1-1100x.jpg', :width => '1100', :height => '730'}

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-three/image-2-1100x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-three/image-12-1100x.jpg', :width => '1100', :height => '733')

%p The park offers a great view of Hong Kong and has an Aviary where you can walk around freely.

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-three/image-13-1100x.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-three/image-14-1100x.jpg', :width => '1100', :height => '656')

%p Hong Kong has a great subway system that is clean, fast and efficient.

%img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-three/image-16-1100x.jpg', :width => '1100', :height => '733'}


%h2 Ngong Ping
%p In our case it took us to the end of a line, where we took the cable car to Ngong Ping.
%img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-three/image-3-1100x.jpg', :width => '1100', :height => '730'}

%p The cable car is one of the longest in the world and takes you literally in the clouds.

%img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-three/image-4-1100x.jpg', :width => '1100', :height => '730'}
%img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-three/image-5-1100x.jpg', :width => '1100', :height => '730'}

%p That was kind of a problem for us, as it was really hard to see the thing we came to see. The giant buddha statue.

%img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-three/image-6-1100x.jpg', :width => '1100', :height => '730'}

%p Luckily there was more to see then just the statue, also there was beer :)
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-three/image-7-1100x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-three/image-8-1100x.jpg', :width => '1100', :height => '730')


%img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-three/image-9-1100x.jpg', :width => '1100', :height => '730'}

%p The rest of the day we just wandered around a bit. Looking for Apple Watches and cheap mobile phones in the various malls.

%img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-three/image-10-1100x.jpg', :width => '1100', :height => '733'}

%img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-three/image-11-1100x.jpg', :width => '1100', :height => '730'}
.photo-row

  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-three/image-17-1100x.jpg', :width => '1100', :height => '712')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-three/image-18-734x.jpg', :width => '733', :height => '1100')
%img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-three/image-19-1100x.jpg', :width => '1100', :height => '588'}
