---
title: Yosemite National Park
date: 2011-07-19
locations:
- title: Yosemite National Park
  latlng:
  - 37.8651011
  - -119.5383294

---

%p After a day of SeaWorld in San Diego we headed to Yosemite National Park.

= photo(:src => cdn_url('usa2011/yosemite-national-park/_DSC0821.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('usa2011/yosemite-national-park/_DSC0827.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('usa2011/yosemite-national-park/_DSC0854.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('usa2011/yosemite-national-park/_DSC0890.jpg'), :ratio => 1.506)

%p
  What a great views this park has. And it's really fun to drive. We spent most of the day in this park before we realised it would take us a lot of time to get to the nearest hotel. So manned up and drove straight to Reno, Nevada where we arrived at eleven in the evening.

= photo(:src => cdn_url('usa2011/yosemite-national-park/_DSC0897.jpg'), :ratio => 1.506)
