---
title: "Day Seven"
date: 2015-11-11 00:00:00 UTC
locations:
  -
    title: 'Shinjuku'
    latlng: [35.6938401, 139.7035494]
---

%p After a relative good night's sleep (Pro-tip if you snore, stay the fuck out of a Capsule hotel) it was time to move to my final hotel this trip. [Crappy phone-pics alert].
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-seven/image-1-2.jpg', :width => '1100', :height => '619')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-seven/image-2-2.jpg', :width => '1100', :height => '619')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-seven/image-3-2.jpg', :width => '1100', :height => '619')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-seven/image-4-2.jpg', :width => '1100', :height => '619')

%p I also had to get some work done today, so I only managed to visit the Tokyo Metropolitan Government Building.

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-seven/image-1.jpg', :width => '730', :height => '1100')

%p It has a free observation deck in both towers (beeing Dutch, I visited both).
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-seven/image-3.jpg', :width => '1100', :height => '733')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-seven/image-7.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-seven/image-9.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-seven/image-4.jpg', :width => '1100', :height => '733')
