---
title: "Day Six"
date: 2015-11-10 00:00:00 UTC
locations:
  -
    title: 'Shinjuku Gyoen National Garden'
    latlng: [35.68517629999999, 139.7100517]
  -
    title: 'Yoyogi Park'
    latlng: [35.671736, 139.6949447]
---

%p Tonight I'll sleep in a Capsule Hotel, this means travelling across Tokyo to Shinjuku.

%img{:src => '//cdn.matsimitsu.com/japan2015/day-six/image-15-2200x.jpg', :width => '1100', :height => '733'}
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-16-1100x.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-17-1100x.jpg', :width => '1100', :height => '733')

%p Near the Shinjuku station you can find the Shinjuku Gyoen National Garden, and it's beautifull in the fall.

%img{:src => '//cdn.matsimitsu.com/japan2015/day-six/image-2-2200x.jpg', :width => '1100', :height => '733'}
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-1-1100x.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-19-1100x.jpg', :width => '1100', :height => '733')

%p The fall colors are amazing.
%img.full{:src => '//cdn.matsimitsu.com/japan2015/day-six/image-4-2200x.jpg', :width => '1100', :height => '730'}

%img{:src => '//cdn.matsimitsu.com/japan2015/day-six/image-21-2200x.jpg', :width => '1100', :height => '733'}

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-5-1100x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-6-1100x.jpg', :width => '1100', :height => '733')

%p The entrance fee is 200 Yen, (About 1,75 Euro's) and more then worth it.
%img{:src => '//cdn.matsimitsu.com/japan2015/day-six/image-18-2200x.jpg', :width => '1100', :height => '733'}

%img.full{:src => '//cdn.matsimitsu.com/japan2015/day-six/image-22-2200x.jpg', :width => '1100', :height => '498'}

%p After a few hours I headed to another park, Yoyogi Park where the Meiji Jingu shrine is. <a href="http://matsimitsu.com/travel/asia2014/day-nine/" target="_blank">I've been there before</a>, but I had an hour to kill before dinner.

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-9-2200x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-11-2200x.jpg', :width => '1100', :height => '730')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-24-1100x.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-25-1100x.jpg', :width => '1100', :height => '733')

%p At this point it was getting dark, time to find some food.

%img{:src => '//cdn.matsimitsu.com/japan2015/day-six/image-13-2200x.jpg', :width => '1100', :height => '730'}
%img{:src => '//cdn.matsimitsu.com/japan2015/day-six/image-14-2200x.jpg', :width => '1100', :height => '730'}

%p After a delicious curry I wandered around Shinjuku station.
%img{:src => '//cdn.matsimitsu.com/japan2015/day-six/image-26-2200x.jpg', :width => '1100', :height => '733'}
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-28-2200x.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-27-1466x.jpg', :width => '733', :height => '1100')

%img{:src => '//cdn.matsimitsu.com/japan2015/day-six/image-29-2200x.jpg', :width => '1100', :height => '733'}

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-31-2200x.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-32-1466x.jpg', :width => '733', :height => '1100')

%img{:src => '//cdn.matsimitsu.com/japan2015/day-six/image-30-2200x.jpg', :width => '1100', :height => '733'}

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-33-2200x.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-34-2200x.jpg', :width => '1100', :height => '1100')
%img{:src => '//cdn.matsimitsu.com/japan2015/day-six/image-35-2200x.jpg', :width => '1100', :height => '733'}
