---
title: "Day Six"
date: 2015-11-10 00:00:00 UTC
locations:
  -
    title: 'Shinjuku Gyoen National Garden'
    latlng: [35.68517629999999, 139.7100517]
  -
    title: 'Yoyogi Park'
    latlng: [35.671736, 139.6949447]
---

%p Tonight I'll sleep in a Capsule Hotel, this means travelling across Tokyo to Shinjuku.

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-15.jpg', :width => '1100', :height => '733')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-16.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-17.jpg', :width => '1100', :height => '733')

%p Near the Shinjuku station you can find the Shinjuku Gyoen National Garden, and it's beautifull in the fall.

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-2.jpg', :width => '1100', :height => '733')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-1.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-19.jpg', :width => '1100', :height => '733')

%p The fall colors are amazing.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-4.jpg', :width => '1100', :height => '730', :class => 'full')

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-21.jpg', :width => '1100', :height => '733')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-5.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-6.jpg', :width => '1100', :height => '733')

%p The entrance fee is 200 Yen, (About 1,75 Euro's) and more then worth it.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-18.jpg', :width => '1100', :height => '733')

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-22.jpg', :width => '1100', :height => '498', :class => 'full')

%p After a few hours I headed to another park, Yoyogi Park where the Meiji Jingu shrine is. <a href="http://matsimitsu.com/travel/asia2014/day-nine/" target="_blank">I've been there before</a>, but I had an hour to kill before dinner.

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-9.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-11.jpg', :width => '1100', :height => '730')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-24.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-25.jpg', :width => '1100', :height => '733')

%p At this point it was getting dark, time to find some food.

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-13.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-14.jpg', :width => '1100', :height => '730')

%p After a delicious curry I wandered around Shinjuku station.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-26.jpg', :width => '1100', :height => '733')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-28.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-27.jpg', :width => '733', :height => '1100')

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-29.jpg', :width => '1100', :height => '733')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-31.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-32.jpg', :width => '733', :height => '1100')

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-30.jpg', :width => '1100', :height => '733')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-33.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-34.jpg', :width => '1100', :height => '1100')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-six/image-35.jpg', :width => '1100', :height => '733')
