---
title: Motor Transport Museum
date: 2011-07-15
locations:
- title: Campo, California
  latlng:
  - 32.6302597
  - -116.4618315

---
%p After Death Valley we headed south to the Mexican border for no real reason, other to just wander around near the border.

= photo(:src => cdn_url('usa2011/motor-transport-museum/_DSC0682.jpg'), :ratio => 1.506)
%p We got to see the infamous fence and on our way to San Diego we stumbled upon the Motor Transport Museum.


.columns
  = photo(:src => cdn_url('usa2011/motor-transport-museum/_DSC0706.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('usa2011/motor-transport-museum/_DSC0694.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('usa2011/motor-transport-museum/_DSC0697.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('usa2011/motor-transport-museum/_DSC0718.jpg'), :ratio => 1.506)
%p Museum may be a big word, it's a collection of old cars that are waiting to be restored.
.columns
  = photo(:src => cdn_url('usa2011/motor-transport-museum/_DSC0724.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('usa2011/motor-transport-museum/_DSC0737.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('usa2011/motor-transport-museum/_DSC0723.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('usa2011/motor-transport-museum/_DSC0751.jpg'), :ratio => 1.506)
%p We're not sure the driver survived.
= photo(:src => cdn_url('usa2011/motor-transport-museum/_DSC0757.jpg'), :ratio => 1.506, :class => 'full')
%p Or this passenger
= photo(:src => cdn_url('usa2011/motor-transport-museum/_DSC0725.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('usa2011/motor-transport-museum/_DSC0758.jpg'), :ratio => 0.664)
.columns
  = photo(:src => cdn_url('usa2011/motor-transport-museum/_DSC0764.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('usa2011/motor-transport-museum/_DSC0765.jpg'), :ratio => 0.664)
  = photo(:src => cdn_url('usa2011/motor-transport-museum/_DSC0786.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('usa2011/motor-transport-museum/_DSC0781.jpg'), :ratio => 1.506)

%p This was one of the engines that was beeing restored.
= photo(:src => cdn_url('usa2011/motor-transport-museum/_DSC0798.jpg'), :ratio => 1.506)

%p After spending many hours at the museum and talking to the volunteers working there, we headed to San Diego.
= photo(:src => cdn_url('usa2011/motor-transport-museum/_DSC0685.jpg'), :ratio => 1.506)
