---
title: "Day Three"
subtitle: Singapore Zoo - Botanic gardens - Arab street
date: 2015-05-07 12:54:36 UTC
locations:
  -
    title: 'Singapore Zoo'
    latlng: [1.4043485, 103.793023]
  -
    title: 'Botanic gardens'
    latlng: [1.322519, 103.815406]
  -
    title: 'Buona Vista'
    latlng: [1.307412, 103.789696]
  -
    title: 'Arab street'
    latlng: [1.3027462, 103.8578015]
---

%p Today's weather started of very cloudy. This can only mean one thing, thunderstorms and rain. We decided to head to the Singapore zoo since it at least had some cover.

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-three/image-3.jpg', :width => '733', :height => '1100')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-three/image-4.jpg', :width => '1100', :height => '733')

%p The zookeepers didn't feel like standing in the rain to feed the animals, so they let us do it!

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-three/image-11.jpg', :width => '1100', :height => '733')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-three/image-7.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-three/image-9.jpg', :width => '1100', :height => '733')

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-three/image-12.jpg', :width => '1100', :height => '733')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-three/image-13.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-three/image-10.jpg', :width => '1100', :height => '733')


%p After a few hours in the park, we decided to head to our next destination, the Botanic Gardens. Because it's always nice and warm in Singapore there isn't any need to close everything off like in Europe, which leads to very nice features like the bathroom below with a jungle view.

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-three/image-15.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-three/image-16.jpg', :width => '1100', :height => '733')

%p Unfortunately the rain cut our visit short. As it was around dinner time we headed to the subway and exited at a random station.

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-three/image-2.jpg', :width => '1100', :height => '730')

%p Around the corner we came across this building.

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-three/image-17.jpg', :width => '1100', :height => '733')

%p It's "The Star Vista", a giant shopping mall were we went to look for food. All the way in the back of the mall, tucked away in a far corner there was a little Japanese restaurant that had greatest food known to man: "Okonomiyaki". A Japanese pancake that I've been trying to recreate since our previous Osaka trip.

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-three/image-18.jpg', :width => '1100', :height => '653')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-three/image-19.jpg', :width => '1100', :height => '733')

%p After dinner we headed to the Arab part of town to end the day with a Shisha.
= photo(:src => '//cdn.matsimitsu.com/asia2015/day-three/image-20.jpg', :width => '1100', :height => '733')
