---
title: "Death Valley"
date: 2012/06/16
locations:
  -
    title: Death Valley Nat. Park
    latlng: [36.5053891, -117.0794082]
---

= photo(:src => '//cdn.matsimitsu.com/usa2012/death-valley/image-2.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/death-valley/panorama-1.jpg', :class => 'full')
= photo(:src => '//cdn.matsimitsu.com/usa2012/death-valley/image-3.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/death-valley/image-4.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/death-valley/panorama-2.jpg', :class => 'full')
= photo(:src => '//cdn.matsimitsu.com/usa2012/death-valley/image-5.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/death-valley/panorama-3.jpg', :class => 'full')
