---
title: "Crater Lake"
date: 2011/06/17
locations:
  -
    title: Crater Lake
    latlng: [42.9446093, -122.1092454]
---

%p
  After visiting an auto museum in the biggest little city in the world (where the police was quite different from what i remembered from TV) we drove north to Crater Lake.

= photo(:src => '//cdn.matsimitsu.com/usa2011/crater-lake/DSC0685.jpg', :width => '1100', :height => '717')
= photo(:src => '//cdn.matsimitsu.com/usa2011/crater-lake/DSC0903.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2011/crater-lake/DSC0906.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2011/crater-lake/DSC0933-Edit.jpg', :width => '1605', :height => '640')
= photo(:src => '//cdn.matsimitsu.com/usa2011/crater-lake/DSC0948.jpg', :width => '1100', :height => '1656')
= photo(:src => '//cdn.matsimitsu.com/usa2011/crater-lake/DSC0951.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2011/crater-lake/DSC0953.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2011/crater-lake/DSC0965.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2011/crater-lake/DSC0971.jpg', :width => '1100', :height => '731')
