---
title: "Day Ten"
subtitle: Củ Chi Tunnels
date: 2015-05-14 12:54:36 UTC
video: true
locations:
  -
    title: 'Củ Chi Tunnels'
    latlng: [11.0459359, 106.5133628]
---

%p After a quick scout around our hotel we headed back to wait for the tour bus to the Củ Chi Tunnels.

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-ten/header-1.jpg', :width => '1100', :height => '733')

%p The tunnels of Củ Chi are an immense network of connecting underground tunnels located in the Củ Chi district of Ho Chi Minh City.

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-ten/header-2.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-ten/header-3.jpg', :width => '1100', :height => '733')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-ten/header-4.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-ten/header-5.jpg', :width => '1100', :height => '733')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-ten/header-6.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-ten/header-7.jpg', :width => '733', :height => '1100')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-ten/header-8.jpg', :width => '733', :height => '1100')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-ten/header-9.jpg', :width => '1100', :height => '733')
