---
title: "Rocky Mountains"
date: 2012/06/11
locations:
  -
    title: Rocky Mountains Nat. park
    latlng: [39.737567, -104.9847179]
---

= photo(:src => '//cdn.matsimitsu.com/usa2012/rocky-mountains/image-1.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/rocky-mountains/image-2.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/rocky-mountains/image-4.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/rocky-mountains/image-5.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/rocky-mountains/image-6.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/rocky-mountains/image-7.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/rocky-mountains/image-8.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/rocky-mountains/image-9.jpg', :width => '1100', :height => '729')
%img.full{:src => '//cdn.matsimitsu.com/usa2012/rocky-mountains/image-15.jpg'}
= photo(:src => '//cdn.matsimitsu.com/usa2012/rocky-mountains/image-11.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/rocky-mountains/image-12.jpg', :width => '2200', :height => '719')
= photo(:src => '//cdn.matsimitsu.com/usa2012/rocky-mountains/image-13.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/rocky-mountains/image-14.jpg', :width => '1100', :height => '729')

%img.full{:src => '//cdn.matsimitsu.com/usa2012/rocky-mountains/panorama.jpg'}
