= link_to article.url, {:style => "background-image: url('#{cdn_url(trip.slug, article.slug, 'header-x1100.jpg')}')"} do
  .heading
    %h1= article.title
    - if article.data.subtitle
      %h2= article.data.subtitle
    - elsif article.data.locations
      %h2= article.data.locations.map{ |l| l['title'] }.join(' - ')

