%header.mod-page-title
  %h1= article.title
  - if article.data.subtitle
    %h2= article.data.subtitle

%article.mod-article.mod-photoset
  .body#content= article.body

- content_for(:meta) do
  %meta{:property =>"og:site_name",   :content => "http://matsimitsu.com"}
  %meta{:property =>"og:description", :content => "Matsimitsu | #{blog_controller.name} | #{article.title}"}
  %meta{:property =>"og:type",        :content => "blog"}
  %meta{:property =>"og:url",         :content => article.url}
