#header.half
  = map_for_trip(current_page.data)

  .heading
    %h1= current_page.data.title
    %h2= current_page.data.subtitle
.content-wrapper
  %ul.list.horizontal
    - if current_page.data.stats
      - current_page.data.stats.each do |key,val|
        %li
          %strong= val
          = key.capitalize

    %li.right
      %strong= current_page.data.date.month
      = current_page.data.date.year

  .overview.images
    - articles_for_trip(current_page.data).reverse.each do |article|
      = partial '_overview', :locals => {:article => article, :trip => current_page.data}
