%header.mod-photo-header{:style => "background-image: url('#{article_header_image_url(article)}')"}
  .heading
    %h1= article.title
    - if article.data.subtitle
      %h2= article.data.subtitle
    - elsif article.data.locations
      %h2= article.data.locations.map{ |l| l['title'] }.join(' - ')
    %a.scroller{:href => '#content'}
      %i.fa.fa-angle-down

%article.mod-article.mod-trip
  .body#content= article.body
  .footer
    #map.dark{'data-locations' => article.data.locations.map { |loc| {:latlng => loc.latlng, :title => "#{loc.title}", :url => article.url} }.to_json}
    - if article.previous_article || article.next_article
      .navigation
        - if article.previous_article
          = link_to article.previous_article.url, :class => 'prev', :style => "background-image: url('#{article_header_image_url(article.previous_article)}')" do
            %h3= article.previous_article.title
        - if article.next_article
          = link_to article.next_article.url, :class => 'next', :style => "background-image: url('#{article_header_image_url(article.next_article)}')" do
            %h3= article.next_article.title
