---
title: "Day Four"
subtitle: "kwangjang market - Cheonggyecheon"
date: 2014-05-18 08:54:40 UTC
locations:
  -
    title: 'kwangjang market'
    latlng: [37.569664, 126.9983878]
  -
    title: 'Cheonggyecheon river'
    latlng: [37.57000000000001, 127.0063889]
---

%p
  We got up at 05:00 today to get ready for our cab ride to the Airport.
  After a 1.5 hour flight we were in South Korea! It took us about 50 minutes with the subway to get to our hotel, where we dropped our bags.

%img.big{:src => '//cdn.matsimitsu.com/asia2014/day-four/day-four-1-1100x.jpg'}
%p
  Time for some delicious Korean street food at the kwangjang market. You get to a stall and ask for (or in our casse point to) the food you want and it gets cooked in front of you.

%img{:src => '//cdn.matsimitsu.com/asia2014/day-four/day-four-2-1100x.jpg', :width => '1100', :height => '729'}

%p
  Next to the Kwangjang market is the Cheonggyecheon River. A former "highway" that has been torn down and turned into a beatifull river through the city.

%img{:src => '//cdn.matsimitsu.com/asia2014/day-four/day-four-3-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-four/day-four-4-1100x.jpg', :width => '1100', :height => '729'}

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-four/day-four-5-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-four/day-four-7-730x.jpg', :width => '729', :height => '1100')

%img{:src => '//cdn.matsimitsu.com/asia2014/day-four/day-four-9-1100x.jpg', :width => '1100', :height => '729'}
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-four/day-four-10-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-four/day-four-12-1100x.jpg', :width => '1100', :height => '729')

%p
  After following the river for a bit, we headed to Dongdaemun Design Plaza, a giant "blob" in the heart of the city. It houses multiple exhibitions.

%img{:src => '//cdn.matsimitsu.com/asia2014/day-four/day-four-13-1100x.jpg', :width => '1100', :height => '729'}
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-four/day-four-14-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-four/day-four-15-1100x.jpg', :width => '1100', :height => '729')
%p
  We took a few back alleys back to the hotel.

%img{:src => '//cdn.matsimitsu.com/asia2014/day-four/day-four-17-1100x.jpg', :width => '1100', :height => '729'}
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-four/day-four-18-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-four/day-four-19-1100x.jpg', :width => '1100', :height => '729')
%img{:src => '//cdn.matsimitsu.com/asia2014/day-four/day-four-20-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-four/day-four-21-1100x.jpg', :width => '1100', :height => '729'}
