---
title: "Day Twenty"
subtitle: "Back to Tokyo"
date: 2014-06-03 13:31:09 UTC
locations:
  -
    title: Tokyo Station
    latlng: [35.681382, 139.766084]
  -
    title: Akihabara
    latlng: [35.69836, 139.77313]
---

%p With only two days left we headed back to Tokyo.

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty/image-1-1100x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty/image-2-1100x.jpg', :width => '1100', :height => '730')

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty/image-4-1100x.jpg', :width => '1100', :height => '730')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty/image-5-1100x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty/image-6-733x.jpg', :width => '730', :height => '1100')

%p After checking into our hotel we headed out for Akihabara again to play some arcade games and get dinner.
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty/image-7-1100x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty/image-8-1100x.jpg', :width => '1100', :height => '730')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty/image-9-733x.jpg', :width => '730', :height => '1100')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty/image-10-1100x.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty/image-11-1100x.jpg', :width => '1100', :height => '730')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty/image-12-1100x.jpg', :width => '1100', :height => '688')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty/image-13-1100x.jpg', :width => '1100', :height => '730')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty/image-14-1100x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-twenty/image-15-1100x.jpg', :width => '1100', :height => '692')
