---
title: "Day Eleven - Twelve"
subtitle: "Baton Rouge - Houston"
date: 2014-10-15 13:45:47 UTC
locations:
  -
    title: AMC Mall of Louisiana 15 & IMAX
    latlng: [30.3859766, -91.0759758]
  -
    title: Lyndon B. Johnson Space Center
    latlng: [29.5518207, -95.0981554]
---

%p After arriving in Baton Rouge late in the afternoon we decided to head to the Mall and go see Interstellar in IMAX.
%p The next day we headed to Houston for our second NASA visitat the Lyndon B. Johnson Space Center.
= photo(:src => '//cdn.matsimitsu.com/usa2014/day-eleven-twelve/image1-12.jpg', :width => '1100', :height => '671')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-eleven-twelve/image-10.jpg', :width => '1100', :height => '731')
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-eleven-twelve/image-11.jpg', :width => '1100', :height => '731')
%p This space center is a lot more compact in comparison with Cape Canaveral, the main attraction is a set of tram tours around the NASA complex.
= photo(:src => '//cdn.matsimitsu.com/usa2014/day-eleven-twelve/image-12.jpg', :width => '1100', :height => '731')
%p The droid above is beeing developed to help out on the International Space Station, it's hands can turn a single page in a book and it can move around freely in the space station.
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-eleven-twelve/image-14.jpg', :width => '731', :height => '1100')
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-eleven-twelve/image-15.jpg', :width => '1100', :height => '731')
%p This is a Saturn V Rocket, used on the Apollo missions.

= photo(:src => '//cdn.matsimitsu.com/usa2014/day-eleven-twelve/image-16.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2014/day-eleven-twelve/image-18.jpg', :width => '1100', :height => '731')

%p Other displays included the first American space station, Skylab
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-eleven-twelve/image1-10.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/usa2014/day-eleven-twelve/image1-11.jpg', :width => '1100', :height => '733')

= photo(:src => '//cdn.matsimitsu.com/usa2014/day-eleven-twelve/image-19.jpg', :width => '1100', :height => '731')
%p Finally we took a tram tour to the new Mission Control where future manned missions in space will be... controlled
%p On the top screens in the front you can see the "old" Mission Control in the next room where employees communicate with the ISS.
= photo(:src => '//cdn.matsimitsu.com/usa2014/day-eleven-twelve/image-20.jpg', :width => '1100', :height => '731')
