---
title: "Bryce Canyon Nat. Park"
date: 2012/06/14
locations:
  -
    title: Bryce Canyon Nat. Park
    latlng: [37.5930377, -112.1870895]
---

= photo(:src => '//cdn.matsimitsu.com/usa2012/bryce-canyon-nat-park/image-1-1100x.jpg', :width => '1100', :height => '729')
%img.full{:src => '//cdn.matsimitsu.com/usa2012/bryce-canyon-nat-park/panorama-1.jpg'}
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/usa2012/bryce-canyon-nat-park/image-3-1100x.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/usa2012/bryce-canyon-nat-park/image-4-729x.jpg', :width => '729', :height => '1100')
= photo(:src => '//cdn.matsimitsu.com/usa2012/bryce-canyon-nat-park/image-5-1100x.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/bryce-canyon-nat-park/image-6-1100x.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/bryce-canyon-nat-park/image-7-1100x.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/bryce-canyon-nat-park/image-8-1100x.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/bryce-canyon-nat-park/image-9-1100x.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/bryce-canyon-nat-park/image-10-1100x.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/bryce-canyon-nat-park/image-11-1100x.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/bryce-canyon-nat-park/image-12-1100x.jpg', :width => '1100', :height => '729')
%img.full{:src => '//cdn.matsimitsu.com/usa2012/bryce-canyon-nat-park/panorama-2.jpg'}
