---
title: "Bryce Canyon Nat. Park"
date: 2012/06/14
locations:
  -
    title: Bryce Canyon Nat. Park
    latlng: [37.5930377, -112.1870895]
---

= photo(:src => '//cdn.matsimitsu.com/usa2012/bryce-canyon-nat-park/image-1.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/bryce-canyon-nat-park/panorama-1.jpg', :class => 'full')
.columns
  = photo(:src => '//cdn.matsimitsu.com/usa2012/bryce-canyon-nat-park/image-3.jpg', :width => '1100', :height => '729')
  = photo(:src => '//cdn.matsimitsu.com/usa2012/bryce-canyon-nat-park/image-4.jpg', :width => '729', :height => '1100')
= photo(:src => '//cdn.matsimitsu.com/usa2012/bryce-canyon-nat-park/image-5.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/bryce-canyon-nat-park/image-6.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/bryce-canyon-nat-park/image-7.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/bryce-canyon-nat-park/image-8.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/bryce-canyon-nat-park/image-9.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/bryce-canyon-nat-park/image-10.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/bryce-canyon-nat-park/image-11.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/bryce-canyon-nat-park/image-12.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/bryce-canyon-nat-park/panorama-2.jpg', :class => 'full')
