---
title: "Day Eighteen"
date: 2015-11-23 00:00:00 UTC
locations:
  -
    title: 'Rikugien Garden'
    latlng: [35.7331386, 139.7465135]
---
%p Today is a cold an rainy day, time to walk around a bit :) The first stop is the Rikugien Garden.

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-4-2200x.jpg', :width => '1100', :height => '733')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-2-2200x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-3-2200x.jpg', :width => '1100', :height => '733')

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-10-2200x.jpg', :width => '1100', :height => '733', :class => 'full')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-7-2200x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-43-1460x.jpg', :width => '733', :height => '1100')
%p The rain kept most of the visitors away (there were still plenty though).
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-40-2200x.jpg', :width => '1100', :height => '733', :class => 'full')

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-11-2200x.jpg', :width => '1100', :height => '733')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-12-2200x.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-45-2200x.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-17-2200x.jpg', :width => '1100', :height => '733')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-13-2200x.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-14-2200x.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-41-2200x.jpg', :width => '1100', :height => '733', :class => 'full')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-46-2200x.jpg', :width => '1100', :height => '733')

%p From the park I decided to walk to the Tokyo dome a few kilometers away, through back alleys.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-18-2200x.jpg', :width => '1100', :height => '730')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-15-2200x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-16-2200x.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-20-2200x.jpg', :width => '1100', :height => '730')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-21-2200x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-25-2200x.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-22-2200x.jpg', :width => '1100', :height => '730')

%p There are plenty of bikes in Tokyo, big and small.
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-24-2200x.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-28-2200x.jpg', :width => '1100', :height => '733')

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-26-2200x.jpg', :width => '1100', :height => '730')

%p It's always fun to peek through the gates.
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-27-2200x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-30-2200x.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-29-2200x.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-31-2200x.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-32-2200x.jpg', :width => '1100', :height => '733')

%p Next to the Tokyo dome is a shopping complex, complete with a rollercoaster and a log flume.
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-34-2200x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-35-2200x.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-36-2200x.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-37-2200x.jpg', :width => '1100', :height => '733')

%p Besides the rain and cold, it was also getting dark. There were also a few disruptions on my route home so I decided to head home early.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eighteen/image-38-2200x.jpg', :width => '1100', :height => '733')
