---
title: "Day Eight"
date: 2015-11-12 00:00:00 UTC
locations:
  -
    title: 'Mt. Takao'
    latlng: [35.6251209, 139.2436593]
---

%p According to the Japan fall colors calendar, Mt. Takao should be beautiful this time of year, so I decided to check it out.

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-1.jpg', :width => '1100', :height => '730')

%p Mt. Takao is about an hour away by train from downtown Tokyo

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-2.jpg', :width => '1100', :height => '730')

%p On the mountain are several temples.

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-14.jpg', :width => '1100', :height => '733')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-3.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-16.jpg', :width => '1100', :height => '733')

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-11.jpg', :width => '1100', :height => '730', :class => 'full')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-22.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-20.jpg', :width => '733', :height => '1100')

%p The main road up the mountain is very steep and quite busy. You can take a tramway or a ropeway up the mountain, but the queue's where ginormous so I decided to walk. Step away from the main road and it's beautifull and quiet.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-5.jpg', :width => '1100', :height => '730')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-6.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-4.jpg', :width => '1100', :height => '730')

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-7.jpg', :width => '1100', :height => '730')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-9.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-10.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-13.jpg', :width => '1100', :height => '733')
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-19.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-17.jpg', :width => '1100', :height => '733')

%p Every once and a while you can peek through the trees and see the villages below.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-21.jpg', :width => '1100', :height => '733')

%p It started to get dark, so I headed back to Tokyo and found myself a nice burger place nearby. Then it was back to the hotel to give my legs some rest.
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-23.jpg', :width => '1100', :height => '733')
= photo(:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-24.jpg', :width => '1100', :height => '733')
