---
title: Day three
date: 2017-05-07
locations:
- title: Mid-levels escalators
  latlng:
  - 22.2838219
  - 114.1551419
- title: Mong Kok
  latlng:
  - 22.3203648
  - 114.169773
- title: Nan Lian Garden
  latlng:
  - 22.339037
  - 114.204753
- title: Chi Lin Nunnery
  latlng:
  - 22.3407143
  - 114.205352
- title: Sha Tin Racecourse
  latlng:
  - 22.401109
  - 114.205262
header: _DSC0265.jpg
hotel:
  name: City Garden Hotel
  address: 9 City Garden Road, North Point, Hong Kong, Hong Kong
  image: https://t-ec.bstatic.com/images/hotel/max500/431/43197284.jpg
  url: https://www.booking.com/hotel/hk/city-garden.html?aid=939121
  description: City Garden Hotel boasts an award-winning restaurant and an outdoor
    heated pool, within easy access from several attractions and transportation links.
  rating: 7.9

---

%p One of the "main" public attractions we missed two years ago were the mid-level escalators. A set of escalators from the bay up into the hills. In total it takes about 20 minutes to ride all escalators to the "top". If this doesn't sound exciting I don't know what does!

= photo(:src => cdn_url('asia2017/day-three/DSC05073.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-three/DSC05070.jpg'), :ratio => 1.5)

%p This is where the airconditioners live
= photo(:src => cdn_url('asia2017/day-three/DSC05077.jpg'), :ratio => 0.862)

%p Once at the top we had to make our way back down (the escalators only go one way),

= photo(:src => cdn_url('asia2017/day-three/_DSC0245.jpg'), :ratio => 1.506)

%p Partly built in the mountains, Hong Kong is a maze of elevated roadways with "Jungle" below.

.columns
  = photo(:src => cdn_url('asia2017/day-three/_DSC0247.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-three/_DSC0249.jpg'), :ratio => 1.506)
= photo(:src => cdn_url('asia2017/day-three/DSC05086.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2017/day-three/DSC05087.jpg'), :ratio => 0.667)
  = photo(:src => cdn_url('asia2017/day-three/DSC05079.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-three/DSC05091.jpg'), :ratio => 0.667)

%p Once we were back down we took the subway to our next destination, Mong Kok where supposedly there was a secret back alley with tons of graffiti.

= photo(:src => cdn_url('asia2017/day-three/DSC05093.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-three/DSC05096.jpg'), :ratio => 1.5, :class => 'full')

%p Walking around in Hong Kong you have to be careful not to walk under leaking airconditioners.
= photo(:src => cdn_url('asia2017/day-three/DSC05097.jpg'), :ratio => 1.5)

%p Thanks to an excellent guide we found our way to the alley. In the alley there were a couple of groups creating photo's for the latest streatwear. Looks like we're finally one of the cool kids ;)
= photo(:src => cdn_url('asia2017/day-three/DSC05100.jpg'), :ratio => 1.5)

.columns
  = photo(:src => cdn_url('asia2017/day-three/DSC05103.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-three/DSC05105.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-three/DSC05111.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-three/DSC05107.jpg'), :ratio => 2.229)

%p Not everyone approved.
= photo(:src => cdn_url('asia2017/day-three/DSC05110.jpg'), :ratio => 1.5)

%p It was round lunchtime, so we headed back into the heart of Mong Kok in search for food.
.columns
  = photo(:src => cdn_url('asia2017/day-three/DSC05113.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-three/DSC05114.jpg'), :ratio => 1.5)

%p After lunch we headed to Nan Lian Garden.

= photo(:src => cdn_url('asia2017/day-three/_DSC0252.jpg'), :ratio => 1.466, :class => 'full')

.columns
  = photo(:src => cdn_url('asia2017/day-three/_DSC0259.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-three/_DSC0264.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('asia2017/day-three/_DSC0265.jpg'), :ratio => 1.506, :class => 'full')
.columns
  = photo(:src => cdn_url('asia2017/day-three/_DSC0269.jpg'), :ratio => 1.506)
  = photo(:src => cdn_url('asia2017/day-three/_DSC0272.jpg'), :ratio => 1.475)
  = photo(:src => cdn_url('asia2017/day-three/_DSC0273.jpg'), :ratio => 1.506)

= photo(:src => cdn_url('asia2017/day-three/DSC05121.jpg'), :ratio => 1.5)

%p For some reason the route to the Sha Tin Racecourse was not posted anywhere so we took a wrong turn somewhere and it took us a good 45 minutes to backtrack and head the right way. This left us just in time to see the very last race of the day, all I could manage this this photo :(

= photo(:src => cdn_url('asia2017/day-three/DSC05127.jpg'), :ratio => 1.5)
