---
title: "Day Six"
subtitle: Batu Caves - Petronas Towers
date: 2015-05-10 12:54:36 UTC
locations:
  -
    title: 'Batu Caves'
    latlng: [3.236516, 101.6816512]
  -
    title: 'Petronas Towers'
    latlng: [3.15785, 101.71165]
---

%p We spent this day visiting the most well known tourist attractions in Kuala Lumpur, the Batu Caves and the Petronas Tower. The age of Batu Caves is around 400 million years, the train ride over there felt around the same.

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-six/image-1-731x.jpg', :width => '730', :height => '1100')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-six/image-2-1100x.jpg', :width => '1100', :height => '730')

%p The Batu cave system is a Hindu religious site and consists of three temple caves. The "main" cave is the Cathedral Cave and it features Hindu shrines.

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-six/image-3-1100x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-six/image-4-731x.jpg', :width => '730', :height => '1100')

%p After visiting the cave, we headed to the "Dark cave", where we followed an hour long guided tour through the cave system.
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-six/image-5-1100x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-six/image-6-731x.jpg', :width => '730', :height => '1100')

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-six/image-8-1100x.jpg', :width => '1100', :height => '733')

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-six/image-9-1100x.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-six/image-10-734x.jpg', :width => '733', :height => '1100')

%p There were a lot of monkeys roaming around for food given by the visitors.
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-six/image-12-1100x.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-six/image-13-734x.jpg', :width => '733', :height => '1100')

= photo(:src => '//cdn.matsimitsu.com/asia2015/day-six/image-11-1100x.jpg', :width => '1100', :height => '733')

%p After the train ride back we roamed around our hotel for a bit near the Petronas towers, the icon of Kuala Lumpur.

%img.full{:src => '//cdn.matsimitsu.com/asia2015/day-six/header-2200x.jpg', :width => '1100', :height => '733'}

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-six/towers-1-734x.jpg', :width => '733', :height => '1100')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-six/towers-2-1100x.jpg', :width => '1100', :height => '733')
